.fieldBox.field-num_chambre .vTextField {
    width: 5em;
}
.field-formule.nowrap {
    white-space: normal;
}

/* Swag */
.swag-set td {
    padding: 0;
}
.swag-set .original p {
    display: none;
}
.swag-set .has_original .vTextField {
    border-color: transparent;
    background-color: transparent;
}
.swag-set .has_original .vTextField:hover {
    border-color: #888;
}

