django>=3.0

# Dependencies
django-ordered-model
django-import-export
pycrypto
markdown
django-downloadview
WeasyPrint
unidecode
django-tinymce4-lite

# For production
gunicorn
mysqlclient
dj-static
dj-database-url

# For Heroku
django-toolbelt
sendgrid-django
