django>=4.0

# Dependencies
django-ordered-model
django-import-export
pycrypto
markdown
django-downloadview
WeasyPrint
unidecode
django-tinymce
django-constance[database]
django-admin-logs

# For production
gunicorn
mysqlclient
dj-static
dj-database-url

# For Heroku
psycopg2
sendgrid-django
