<style type="text/css">
.rouge {
	color: #F00;
}
.rouge {
	color: #F00;
}
</style>
{% extends "base.html" %}

{% block title %}Les aides financières possibles  {% endblock %}

{% block description %}Vous pouvez bénéficier d’aides au financement dont vous trouverez ci-après le détail  {% endblock %}


{% block content %}
<article class="featured">
  
  <p align="center"><b>&nbsp;<font size="6" color="#FF0000">  Les aides financières possibles </font></b></p>
  
  
  
  <h3>Les aides possibles</h3>
    <p>Vous pouvez bénéficier d’aides au financement dont vous trouverez ci-après le détail.</p>
    <p><br />
      <strong>Les caisses d’allocation familiales</strong><br />
      Votre CAF peut vous attribuer des bons vacances. Le montant de ces bons est calculé en fonction de votre quotient familial. Ces bons sont utilisables pour des séjours d'enfants en centre de vacances ou de loisirs. <span class="rouge">ATTENTION</span>, bien vous renseigner des conditions de fonctionnement auprès de votre CAF car, étant affilié à la Fédération Française de Basket Ball, nous sommes déclarés en « SEJOURS SPORTIFS »<br />
     <strong> Mais</strong>, certaines CAF n’allouent des bons que pour les séjours se déroulant dans leur département<br />
     <strong> Et</strong> <strong class="rouge">certaines CAF refusent les « SEJOURS SPORTIFS »</strong>, prenez contact avec votre CAF pour être certain d’avoir des bons en cours de validité et compatible avec notre structure.<br />
     <strong><u>Les CAF des Hautes-Alpes (Gap), de Haute Provence (Digne –les-Bains), de l'HERAULT (Montpellier), de HAUTE SAVOIE (Annecy), de l’AIN (Bourg en Bresse) sont dans ce cas de refus</u></strong><br />
     <br />
     En ce qui concerne le dispositif VACAF, nous avons l’accord pour les CAF(S) qui adhèrent à ce dispositif<br />
    
    </p>
         <p align="center">  <img border="0" src="/tba/photo/VACAF.jpg" > </p>
    
    
    <p><strong> Les Comités d’Entreprise</strong><br />
     Votre CE peut intervenir de différentes façons : bons et chèques vacances, politiques tarifaires, actions négociées avec des producteurs. Le secrétariat de votre CE vous informera des différentes possibilités qu’il vous propose.<br />
  </p>
    <p><strong> La fonction publique</strong><br />
     Des prestations peuvent être versées pour l'inscription de leurs enfants à certains agents de la fonction publique. Renseignez- vous auprès de votre administration.<br />
  </p>
    <p><strong> ANCV Agence Nationale des Chèques Vacances</strong><br />
     Le Chèque-vacances a été créé pour permettre au plus grand nombre, particulièrement ceux qui disposent des revenus les plus modestes, de partir en vacances, d'accéder à un large éventail d'activités culturelles et de loisirs. C'est un titre de paiement proposé ou attribué aux salariés par les employeurs, les organismes sociaux, les entreprises ou les collectivités ; le salarié n'en paye qu'une partie. Il se présente en coupures de 10 €, 20 €, 25 € et 50 €. Il est valables deux ans après l'année d'émission.</p>
     
     <p align="center">  <img border="0" src="/tba/photo/ANCV.jpg" > </p>

     
    <p><br />
     <strong> La MSA Mutualité Sociale Agricole</strong><br />
     Ces aides sont proposées aux affiliés et ont le choix entre les chèques vacances et les bons vacances, les deux aides étant versées selon les revenus. Renseignez-vous auprès de votre caisse.<br />
  </p>
    <p>Nos camps de basket-ball se déroulent dans un Centre de Vacances agrée par la Direction Départementale de la Cohésion Sociale et de la Protection des Populations. (DDCS/DDCSPP).<br />
      Chaque semaine de camp est déclarée auprès de la Direction Départementale de la Cohésion Sociale et de la Protection des Populations qui nous délivre un numéro de séjour. Chaque semaine de camp est donc enregistrée sous un numéro qui est disponible environ 2 mois avant le début des camps. Ce numéro d’agreement peut vous être fourni sur simple demande.<br />
      <br />
    Sur simple demande une facture du séjour de votre enfant peut vous être envoyée par courrier ou par mail.</p>
    </p>
  


  
</article>
{% endblock %}
