{% extends "base.html" %}

{% block title %}Une journée type de camps de Basket chez TBA {% endblock %}

{% block description %} . {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> Vous êtes inscrit : Arrivée et départ</font></b></p>
 
   <p>  
  Vous venez de vous inscrire au camp de Superdévoluy. Voici quelques renseignements.
    </p>
   <p> 
<strong>Votre adresse sera :<br>
CAMPS TBA/ Hôtel Les Chardonnelles SUPERDEVOLUY<br>
 05250 SAINT ETIENNE -EN-DEVOLUY<br>
Tél : SECRETARIAT de SUPERDEVOLUY : 07 83 07 98 66 </strong> Mail : <a href="mailto:inscriptionstba@orange.fr">inscriptionstba@orange.fr</a>
  </p>
   <p> 
  </p>
   <p> L’accueil est prévu : <strong>le dimanche entre 15 H et 18 H à l’Hôtel Les Chardonnelles (1er rond point en arrivant à la station)</strong>
  </p>
   <p> <strong>1er entraînement le soir à 20h.</strong>
  </p>
   <p> <strong>La clôture du camp est prévue le SAMEDI midi</strong> (le repas est pris en commun). Pour les stagiaires en pension
complètes -F3- ils peuvent attendre à l’Hôtel jusqu’à 14H 30. Nous prévenir si vous deviez arriver APRES 14h 30.
  
  
  
  
  <p> 
   </p>
   <p> 
    <strong>  </strong></p>  
</article>

{% endblock %}
