{% extends "base.html" %}

{% block title %} L'assurance désistement à un camps de basket TBA{% endblock %}

{% block description %}Souscrivez l’assurance désistement lors de votre inscription, en cas de désistement avant le début du camp de Basket TBA, et quel qu’en soit la cause, la totalité de votre acompte vous sera remboursé et aucun  justificatif ne vous serat demandé.{% endblock %}


{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">ANNULATION du SEJOUR...ASSURANCES </font></font></b></p>
  <p>
Depuis quelques année le nombre d’annulation de dernière minute est en forte augmentation et
nous pose des problèmes d’organisation et de remplacement car les semaines sont souvent
complètes. Nous avons dû adapter notre procédure en cas d’annulation et vous avez donc, au
moment de votre inscription, 3 choix : Pas d’assurance, la Mini assurance et la Maxi assurance


</p>
  <p><strong>PAS d&rsquo;ASSURANCE</strong>  <br />
<br />
En cas d&rsquo;annulation avant le stage, des indemnités seront retenues selon les conditions suivantes :  <br />
- Si annulation avant 30 jours : Frais de dossier de 30 €  <br />
- Si annulation entre 30 jours et 15 jours avant le début du stage : Plus 30 € de pénalité<br />
- 
Si annulation moins de 15 jours avant le début du stage : Retenue de 50% du prix du séjour<br />
<br />
Aucun remboursement en cas de non présentation sans nous avoir prévenu avant.  <br />
<br />
Tout stage commencé et arrêté par le stagiaire ne donne droit à aucun remboursement, quel que  soit le motif.  <br />
Annulation d&rsquo;un stage de notre fait : remboursement de la totalité des sommes versées sans autre  indemnité.<br />
<br />
Tout stage commencé est dû et ne fera l&rsquo;objet d&rsquo;aucun remboursement, quel que soit le motif de  l&rsquo;interruption.<br />
<br />
La cotisation de 15 € de l&rsquo;inscription reste toujours acquise à TBA.</p>
  <p>&nbsp;</p>
  <p><strong>ASSURANCES ANNULATION</strong></p>
  <p> 2 assurances annulations sont proposées :</p>
  <p> <strong>Mini assurance à 8 € : Aucun frais de retenu si annulation avant 30 jours. </strong><br />
  - Si annulation entre 30 jours et 15 jours avant le début du stage : Frais de dossier de 15 €  <br />
  - Si annulation moins de 15 jours avant le début du stage. Plus 30 € de pénalité  <br />
  <br />
  Tout stage commencé est dû et ne fera l&rsquo;objet d&rsquo;aucun remboursement, quel que soit le motif de  l&rsquo;interruption</p>
  <p><strong>Maxi assurance à 20 € :</strong><br />
Aucun frais de retenu quel que soit la date d&rsquo;annulation.  En cas de blessure grave ou de maladie qui survient après l&rsquo;ouverture du camp et qui, après une  consultation médicale entraine un <u>arrêt médical de plus de 6 jours</u>, la <strong>Maxi assurance</strong> assure un  remboursement du montant correspondant aux journées de stages non effectuées et selon le prix  journalier de la partie basket, soit 30 € par jour. Il n&rsquo;y a pas de possibilité de remboursement pour la  pension hôtelière.  <br />
<br />
<strong>Pour la semaine N°2 du 23 au 29 juin, TBA vous offre la MAXI ASSURANCE à 20 €.</strong><br />
Beaucoup de collèges et lycées centres d’examens seront fermés et donc les cours ne seront pas assurés.<br />
SI ce n'était pas le cas et que vous deviez être présent dans l’établissement pendant cette période, votre acompte d’inscription sera remboursé intégralement.<br />
<br />
La cotisation de 15 € de l&rsquo;inscription reste toujours acquise à TBA  <br />
<br />
Pour les locations assurées par TBA dans la résidence « LES HAMEAUX DU PUY », les 2 assurances ne  couvrent la totalité de la location, en cas d&rsquo;annulation, <strong>qu&rsquo;à plus de 30 jours</strong>. Entre 30 et 7 jours, 50%  du prix de la location sera remboursée, à moins de 7 jours AUCUN REMBOURSEMENT.</p>
  
  <!--
      
      <p>Par TEAM BASKET ASSOCIATION vous pouvez, vous aussi, bénéficier de conditions avantageuses pour&nbsp;: &nbsp;<br>
	&nbsp;- vos <b>assurances</b> (vos biens et vous-même)<br>
	&nbsp;-&nbsp;vos <b>crédits immobiliers<br>
	  &nbsp;</b>-<b> </b>vos<b> assurances de Prêts<br>
	  &nbsp;</b>- vos <b>contrats Santé et Prévoyance<br>
	  &nbsp;</b></p>
  <p><u>L’un de nos membres fondateurs, Patrick DEMARS, 30 sélections en équipe de France</u> dans les années 
    1972/1973, spécialiste en assurances, est responsable, d’un cabinet de Courtage d’Assurances et de Gestion de Patrimoine.<br>
    Contactez-le avec le <b><u>code TBA.</u></b></p>
  <p>Vous serez bien accueilli, et dirigé vers un tarif préférentiel.</p>
  <p>&nbsp;Il y a certainement une solution pour vous, qui vous fera économiser de l’argent.</p>
  <p align="center">
    <a target="_blank" href="lettre-Lac-entete-presentation.pdf">
      <font size="3">Contact assurance<br> Cliquez ici</font></a><br>

    -->	 
</article>
{% endblock %}
