{% extends "base.html" %}

{% block title %} L'assurance désistement à un camps de basket TBA{% endblock %}

{% block description %}Souscrivez l’assurance désistement lors de votre inscription, en cas de désistement avant le début du camp de Basket TBA, et quel qu’en soit la cause, la totalité de votre acompte vous sera remboursé et aucun  justificatif ne vous serat demandé.{% endblock %}


{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">ANNULATION du SEJOUR...ASSURANCES </font></font></b></p>
  <p>
Depuis quelques année le nombre d’annulation de dernière minute est en forte augmentation et nous pose des problèmes d’organisation et de remplacement  
car les semaines sont souvent complètes. Nous avons dû adapter notre procédure en cas d’annulation et vous avez donc, au moment de votre inscription, 3 choix : Pas d’assurance, la Mini assurance et la Maxi assurance


</p>
  <p><strong>PAS d&rsquo;ASSURANCE</strong>  <br />
<br />

En cas d’annulation avant le stage, des indemnités seront retenues selon les conditions suivantes :  <br />
Si annulation avant 30 jours :                                                                      Frais de dossier de 30 €  <br />
Si annulation entre 30 jours et 15 jours avant le début du stage :       Plus 30 € de pénalité <br />
Si annulation moins de 15 jours avant le début du stage :                    Retenue de 50% du prix du séjour  <br />
Aucun remboursement en cas de non présentation sans nous avoir prévenu avant. <br />
<br />
<b>Tout stage commencé et arrêté par le stagiaire ne donne droit à aucun remboursement, quel que  soit le motif.</b> <br />
 <br />
Annulation d’un stage de notre fait : remboursement de la totalité des sommes versées sans autre indemnité <br />
 <br />
Tout stage commencé est dû et ne fera l’objet d’aucun remboursement, quel que soit le motif de l’interruption <br />
 <br />
La cotisation de 15 € de l’inscription reste toujours acquise à TBA  <br />


  <p>&nbsp;</p>
  <p><strong>ASSURANCES ANNULATION</strong></p>
  <p> 2 assurances annulations sont proposées :</p>


  <p> <strong>Mini assurance à 8 € : Aucun frais de retenu si annulation avant 30 jours. </strong><br /></p>
<p>Si annulation entre 30 jours et 15 jours avant le début du stage :           Frais de dossier de 15 € </p>
<p>Si annulation moins de 15 jours avant le début du stage.                           Plus 30 € de pénalité </p>
<p>Tout stage commencé est dû et ne fera l’objet d’aucun remboursement, quel que soit le motif de l’interruption</p>

  <p><strong>Maxi assurance à 20 € : Aucun frais de retenu quel pour une annulation jusqu’au mercredi précédent le début du stage (soit 4 jours avant le début du stage)<br />
Si annulation dans les 4 jours précédents le début du stage, une pénalité de 35 € sera appliquée</strong><br />
En cas de blessure grave ou de maladie qui survient après l’ouverture du camp et qui, après une consultation médicale entraine <u>un arrêt médical de plus de 6 jours</u>,  <strong>la Maxi assurance</strong> assure un remboursement du montant correspondant aux journées de stages non effectuées et selon le prix journalier de la partie basket, soit 40 € par jour. Il n’y a pas de possibilité de remboursement pour la pension hôtelière qui est réglée par avance.  <br />
 

<br />
<strong>La cotisation de 15 € de l&rsquo;inscription reste toujours acquise à TBA  </strong><br />
<br />
Pour les locations assurées par TBA dans la résidence « LES HAMEAUX DU PUY », les 2 assurances ne couvrent la totalité de la location, en cas d’annulation, <strong>qu’à plus de 15 jours</strong>. De 14 à 8  jours, 50% du prix de la location sera remboursée, à moins de 8 jours AUCUN REMBOURSEMENT.</p>
  
 

</article>
{% endblock %}
