{% extends "base.html" %}

{% block title %} La boutique TBA{% endblock %}

{% block description %}Des articles marqués TBA sont en vente sur le site (tee-shirts, coudières, casquettes, serviettes, polos, maillots réversibles). Un moyen de garder un souvenir. Il est possible d'en profiter dès à présent d'autant plus que l'expédition est gratuite. {% endblock %}

{% block content %}
<article class="featured">
  
  
  
  <p align="center">
    <b><font size="6" color="#FF0000">BOUTIQUE</font></b>
  </p>
  
  
  <p>
    Des articles marqués TBA sont en vente à l'accueil du camp (tee-shirts, coudières, casquettes, serviettes, polos, maillots réversibles).
  </p>
  
  <p align="center">
    <a href="{% url 'static_pages' 'Stock-vetements-TBA' %}">
      <img border="0" src="/tba/photo/Boutique-Oficelle-TBA.png" width="620"  ></a></p>
  
<p>
Vous avez la possibilité d’acheter un sac à dos avec votre prénom qui vous sera remis à votre arrivée au camp. Le prix de ce sac avec votre prénom (on peut y rajouter un numéro) est de 29 €. Il faudra le commander avant le 15 mai par mail à  <a href="mailto:tba@camps-basket.com">tba@camps-basket.com</a>. Voici quelques exemples : </p>
    <p align="center">

      <img border="0" src="/tba/photo/sacados-TBA.jpg" width="620"  ></p>
  
  
</article>
{% endblock %}
