{% extends "base.html" %}

{% block title %}L'encadrement des camps de basket TBA {% endblock %}

{% block description %} Chaque année l’encadrement des camps de basket TBA est constitué de cadres qui sont : soit brevetés d’Etat, soit joueurs(ses) de Basket professionnels(les) soit entraîneurs de différents clubs. Pour que chaque stagiaire puisse bénéficier des meilleurs conseils possibles dans un cadre convivial. {% endblock %}

{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">DES ENTRAINEURS FIDELES : </font></font></b></p>
  
  
  
  
  
 
  <p align="left">Chaque année nous mettons l’accent sur la qualité de l ‘encadrement afin que chaque stagiaire puisse bénéficier des meilleurs conseils possibles dans un cadre convivial.<br />
  Ainsi tous nos cadres sont soit diplômé d’état, soit joueurs (ses) de basket professionnels (les) et entraineurs dans différents clubS.  
  <p align="left"><br />
    <strong>Premières Semaines de juillet : </strong><br />
    Chef de camps : <strong>Stéphane Dao</strong><br />
  Qui est assisté de <strong>Tom Snyder et Al CISSE</strong> 
  
  <p align="center">
<img border="0" src="/tba/photo/cadre-01.jpg" width="280" ><br />

<img border="0" src="/tba/photo/cadre-02.jpg" width="280" >
<img border="0" src="/tba/photo/cadre-03.jpg" width="280" >
<br />

</p>
  
  
<br />  
  
  <p><strong>
    Semaines fin juillet :</strong><br />
    Chef de camps : <strong>Willy Sénégal</strong><br />
  Qui est assisté de <strong>Elisabeth Costier-Dassonville, John Delay et Pierre Besson.</strong></p>
  <br />
  <p align="center">
<img border="0" src="/tba/photo/cadre-04.jpg" width="550" ><br />


<img border="0" src="/tba/photo/cadre-05.jpg" width="550" >

<br />
<br />

</p>
  
  <p><strong>Semaines en août :</strong><br />
    Chef de camps :<strong> Jerôme Llaury</strong><br />
  Qui est assisté de<strong> Stéphane Vaillant et Pierrick Guillou</strong>.</p>
  
  <p align="center">
<img border="0" src="/tba/photo/cadre-06.jpg" width="550" >
 

<br />
<br />

</p>
  
  
  <p>La plupart d’entre eux nous sont fidèles depuis de nombreuses années et seront à nouveau présent cet été :<br />
A.Bunting, A. Ross, C.Voitot, A.Stanford, E.Occansey, T.Nicolas, Y.Solle, P.Bondis, A.Dao, C.Makosso, T.Galéa, J.Nebout, G.Lessort, F.Mixte, S.Olivieri, K.Akpa, A.Alves, S.Jackson, P.Pupat, G.Ortiou, E.Haquet, P.Haquet, B.Boitieux, D.Houeix, R.Sanchez, D.Wooden, M.Coudray. 
</p>

 <p align="center">
<img border="0" src="/tba/photo/cadre-07.jpg" width="550" >
 

<br />

</p>

</article>
{% endblock %}
