{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">LES CADRES </font></font></b></p>
  
  
  
  
  
  <p align="left">Chaque année nous mettons l’accent sur la qualité de l’encadrement afin que chaque stagiaire puisse bénéficier des meilleurs conseils possibles dans un cadre 
    convivial.<br>
    Ainsi tous nos cadres sont soit brevetés d’Etat, soit joueurs(ses) de Basket professionnels(les) et entraîneurs dans différents clubs.</p>
  <p align="left">
    
    <font size="2">Voici quelques entraîneurs présents en 2012 &nbsp;:</font>  
    
    
    <font size="2">Juillet  </font> ></p>
  <p align="left">
    
    <font size="2">Semaines N° 1,2,3 et 4</font> </p>
  <p align="center">
    <img border="0" src="photo/Steph%20DAO-Al-Cisse-Tom-SNYDER.JPG" width="640" height="425"><font face="Verdana" size="2"><br>
      Steph DAO, Al Cissé et Tom Snyder</font></p>
  <p align="left">
    <font face="Verdana" size="2">Semaine 5</font></p>
  <p align="center">
    <img border="0" src="photo/WIlly%20SENEGAL.JPG" width="640" height="425"><br>
    <span>     Willy SENEGAL</span></p>
  <p align="left">
    <span style="font-family: arial, sans-serif; font-size: 13px; color: #222222; letter-spacing: normal">
      Semaine 6</span></p>
  <p align="center">
    <img border="0" src="photo/Fabrice%20SERRANO%20et%20Audrey%20ALVES.JPG" width="640" height="425"><span ><br>
      Fabrice SERRANO et Audrey ALVES</span></p>
  <p align="center">&nbsp;
  </p>
  <p align="left">
    <span style="letter-spacing: normal">
      <font face="arial, sans-serif" style="font-size: 13px; font-weight: 700" color="#222222">
        En août</font></span></p>
  <p align="center">
    <span>
      <img border="0" src="photo/Skeeter%20JACKSON-Gilles%20ORTIOU-Serge%20TACHTCHIAN%20et%20Pat%20DEMARS.JPG" width="640" height="425"><br>
      Skeeter JACKSON, Gilles ORTIOU, Serge TACHTCHIAN en août</span></p>
  <p align="left">
    <span style="color: #222222; letter-spacing: normal">
      <span>Semaines N°7 et N°8</span></p>
  <p align="center">
    <img border="0" src="photo/L-equipe-de-fin-aout-avec-Jerome-LLAURY.jpg" width="640" height="425"><br>
    <span>   Jérôme LLAURY et son équipe.</span></p>
  <p align="left">&nbsp;</p>
  <p align="center"><font face="Verdana">
      <a HREF="#" onClick="window.open('coach.htm','_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=400, height=400');return(false)">
	<img border="0" src="photo/VMD_1342b.jpg" width="580" height="388"></a>
      <br>
      &nbsp;</font></p>
  
  <p align="left"><font face="Verdana">La plupart d’entre eux nous sont fidèles depuis de nombreuses années et seront à nouveau présents cette été :<br>
      <br>
      <b>J.M SENEGAL</b> (fondateur) <b>P.DAO </b>(fondateur) <b>PATRICK DEMARS</b> (fondateur)<br>
      S. DAO / S. DEMARS / W. SENEGAL / T. SNYDER / A. CISSE / A. BUNTING 
      / C. BERTORELLE / M. LASME / F. GALLOT / S.TATCHIAN / P. BESSON...</font></p>
  <p align="left"><font face="Verdana"><b>
        <img border="0" src="photo/collage8.jpg" width="559" height="560"></b><br>
      <br>
      D’anciens stagiaires sont également venu(e)s rejoindre notre équipe 
      de cadres comme assistant(e)s dans un premier temps puis cadre à 
      part entière :</font></p>
  <p align="left">M.FONTAINE / A.DASSONVILLE/ Ludovic DUPONT</p>
  <p align="left"><font face="Verdana"><br>
      <font color="#FF0000"><b><span style="font-size: 12pt">
            2004/2005/2006 visite de Mouss SONKO (Alicante Espagne) et Boris DIAW (Phoenix Suns NBA). On espère qu'ils trouveront un moment dans  leur emploi du temps chargé pour passer encore en 2007.</span><br>
    </b></font></font>&nbsp;<font face="Verdana"><b><br>
        &nbsp;</b></font></p>
  
</article>
{% endblock %}
