{% extends "base.html" %}

{% block title %}Camp spécial de 6 à 9 ans {% endblock %}

{% block description %} Unique en France, chaque semaine Camp spécial de 6 à 9 ans, Petits terrains avec  hauteur des paniers à 2m 60 ou moins {% endblock %}


{% block content %}

<article class="featured">
  
  <p align="center"><b> <font color="#FF0000" size="5">Unique en France, <br />
  chaque semaine Camp spécial U7 et U9 </font><br />
  Pour les camps 2020, enfants nés en 2012, 2013 ou 2014
  </b></p>
  
  
  <p style="margin-left: 5">
  
 
<br>

 <p align="center"><img border="0" src="/tba/photo/Camp-special-6-9-ans-1-bis.jpg" height="640"></p>
 <p align="center"><img border="0" src="/tba/photo/Camp-special-6-9-ans-1.jpg" width="640" height="426"></p>


<p style="font-weight:bold">Petits terrains avec  hauteur des paniers à 2m 60 ou moins <br>
Horaires adaptés avec 2 séances /jour plus 2 soirées.<br>
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-01.jpg" width="280" >
<img border="0" src="/tba/photo/Stages-6-9-ans-02.jpg" width="280" >
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-03.jpg" width="550" >
<br />
<img border="0" src="/tba/photo/Stages-6-9-ans-04.jpg" width="550" >
<br />
<img border="0" src="/tba/photo/Stages-6-9-ans-05.jpg" width="550" >

</p>
                                                                                                  
<p >
<strong>Parents obligatoirement sur place (voir locations parents) : </strong><br>
- Vous pouvez louer un logement au <strong>Hameau du Puy</strong> ou avec <strong>RESERVATION en DEVOLUY</strong> et vous êtes au plus près des terrains.<br />

	
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-06.jpg" width="280" >
<img border="0" src="/tba/photo/Stages-6-9-ans-07.jpg" width="280" >
</p>

<p >
- Vous pouvez aussi venir à l’hôtel <strong>Club Chalets Margot</strong> et louer un appartement ou un chalet.
Vous inscrivez l’enfant en  <span style="color:red">F2 : Prix en F2 : 110€</span><br />
<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-08.jpg" width="550" >
</p>
<p >
- Vous pouvez également, s’il y a 5 enfants minimum, choisir <span style="color:red">la formule 4 Chalet Club</span>. Vous êtes logés en chalet et vous bénéficiez de la pension complète avec l’hôtel Club Chalets Margot.<br />
TBA s’occupent des enfants pendants les heures de basket. Les repas sont pris en commun avec les stagiaires internes.<br />
Les enfants sont avec vous le reste de la journée et la nuit.<br />
Il faudra nous contacter si vous voulez choisir cette formule car le coût de la pension est de 198 € et le coût du camp de basket sera de <span style="color:red">140 € pour les 7/9 ans </span> ce qui donnera un coût stagiaire à <span style="color:red">338 € </span> pour les U7 et U9 (et sinon 358 € pour les enfants du chalet qui seraient plus âgés)<br />
Le parent responsable accompagnateur devra régler 198 €, c'est-à-dire le prix de la pension.<br />
<br />
- Vous pouvez aussi vous occuper de votre location par d’autres organismes ou venir en camping car.
Vous inscrivez l’enfant U7 ou U9 en F1 : <span style="color:red">Prix en F1 : 140 €</span>
     </p>                                                                   
</article>

{% endblock %}
