{% extends "base.html" %}

{% block title %}Camp spécial de 6 à 9 ans {% endblock %}

{% block description %} Unique en France, chaque semaine Camp spécial de 6 à 9 ans, Petits terrains avec  hauteur des paniers à 2m 60 ou moins {% endblock %}


{% block content %}

<article class="featured">
  
  <p align="center"><b> <font color="#FF0000" size="5">
  Toutes les semaines, à partir de la Semaine 2,  CAMPS de BASKET INITIATIONS  ouverts pour les U7 (2018), U9 (2016 et 2017) et U11 (2014 et 2015) </font><br />
Pour les camps 2024, les enfants peuvent être nés en 2018, c'est-à-dire dans leur dernière année de la catégorie U7 FFBB <br>
 <br>
2 heures de basket chaque matin et 2 heures chaque après midi + le dimanche soir <br>
<br>
Les stagiaires sont en EXTERNAT
  </b></p>
  
  
  <p style="margin-left: 5">
  
 
<br>

 <p align="center"><img border="0" src="/tba/photo/Camp-special-6-9-ans-1-bis.jpg" height="640"><br><br>
                   <img border="0" src="/tba/photo/camps-special.jpg" height="355">
 </p>
 <p align="center"><img border="0" src="/tba/photo/Camp-special-6-9-ans-1.jpg" width="640" height="426"></p>


<p style="font-weight:bold">Petits terrains avec  hauteur des paniers à 2m 60 ou moins <br>
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-01.jpg" width="280" >
<img border="0" src="/tba/photo/Stages-6-9-ans-02.jpg" width="280" >
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-03.jpg" width="550" >
<br />
<img border="0" src="/tba/photo/Stages-6-9-ans-04.jpg" width="550" >
<br />
<img border="0" src="/tba/photo/Stages-6-9-ans-05.jpg" width="550" >

</p>
                                                                                                  
<p >
<strong>Parents obligatoirement sur place (voir locations parents) : </strong><br>
- Vous pouvez louer un logement au <strong>Hameau du Puy</strong> ou avec <strong>RESERVATION en DEVOLUY</strong> et vous êtes au plus près des terrains.<br />
<b><font color="#FF0000" >F2 Externe INITIATION : 150 €</font></b>
	
</p>

<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-06.jpg" width="280" >
<img border="0" src="/tba/photo/Stages-6-9-ans-07.jpg" width="280" >
</p>

<p >
-  Vous pouvez aussi venir à l’hôtel <strong>Club Chalets Margot</strong> et louer un chalet. Vous inscrivez l’enfant en formule <span style="color:red"> <b>F1 Externe INITIATION :180 €</b></span><br />
<p align="center">
<img border="0" src="/tba/photo/Stages-6-9-ans-08.jpg" width="550" >
</p>
<p >

<br />
Vous pouvez aussi vous occuper de votre location par d’autres organismes ou venir en camping car. Vous inscrivez l’enfant U7, U9 ou U11 en formule <span style="color:red"><b>F1 externe  INITIATION  : 180 €</b></span>.<br />
Vous avez des logements à 300 € par semaine … voir INFO STAGES  locations parents<br />
<br />

     </p>                                                                   
</article>

{% endblock %}
