{% extends "base.html" %}

{% block title %} Quelques conseils pratiques{% endblock %}

{% block description %}Quelques conseils pratiques pour les stagiaires des camps de basket TBA avant de partir et ce afin qu'ils puissent  profiter pleinement de leur stage de basket loin des petits tracas. {% endblock %}


{% block content %}
<article class="featured">
  
  
  
  <p align="center">
    <b><font size="6" color="#FF0000">CONSEILS PRATIQUES</font></b>
  </p>
  
  
  <p align="left"><b>Notre expérience des camps, nous recommande de vous apporter ces quelques conseils pratiques destinés aux stagiaires afin que vous puissiez profiter pleinement 
      de votre stage loin des petits tracas. <br>
      <br>
      Ainsi nous vous recommandons de ne pas oublier de mettre dans votre sac&nbsp;: <br>
      <br>
      •&nbsp;une paire de nu-pieds (claquettes, tongs) qu'il sera nécessaire de porter en dehors des entraînements. <br>
      <br>
      •&nbsp;un stick pour les lèvres et de la crème solaire (altitude&nbsp;et soleil oblige&nbsp;!) <br>
      <br>
      •&nbsp;plusieurs paires de chaussettes et tee-shirts <br>
      <br>
      •&nbsp;une casquette ou bob <br>
      <br>
      •&nbsp;un survêtement <br>
      <br>
      •&nbsp;une trousse de toilette complète <br>
      <br>
      •&nbsp;éviter de venir avec des baskets neuves <br>
      <br>
      •&nbsp;un maillot ou short de bain <br>
</font></b><br>


</article>
{% endblock %}
