{% extends "base.html" %}

{% block title %} Contacter TBA{% endblock %}

{% block description %}Les adresses mail et postal  des camps de basket TBA et ainsi que les numéros de téléphone pour contacter : soit Team Basket Association (TBA), soit Jean Michel Senegal (en cas de problème de places), soit Stéphane Dao (pour l'organisation des camps de juillet), soit encore de Dominique d'Hôtel Club Résidences & Chalets Margot pour toute réservation d'un logement. {% endblock %}



{% block content %}
<article class="featured">
  
  <table border="0" cellpadding="3" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber1" width="842" >
    <tr>
      <td width="842">
        <p align="center">
	  <script type="text/javascript" language="javascript">
	    <!--
		var k4="";for(var j9=0;j9<419;j9++)k4+=String.fromCharCode(("3}/</PY><}X<<R<R<<ZRx>M\")61ox>RY00}) <3&!XC })-\"/JC0&%1x>Y12,\"02,*+,<x>Rx>Y#\"/%CxxY#\"/%CGELD1]/}% Jx>Jx>GEx>x>H$KRKD\" })-\"/JC--0&%1x>Y/\"3,\"02,*+-,<x>WCxx)&}*CxxY#?\"/%CGyLwyx>Jx>wGEx>x>H$K-KD\"\" })-\"/JC1\"?(0}~I0-*} LP5xx}~?1V,11+,_Z<x>WCxx*, CGx>Jx>GEyLwyx>x>wH$K?KD })-\"/JCZ3&!KVXZ}VVKX0V2,V+I7\"1 }EEMD/10~20Jx>qx>H$KVKD\">W&MY>>W#,/D3}/<.)YLW.)X/PJ)\"+$1%W.)GYOOE&MGY/PJ02~01/D.)HOOEJ0-)&1D>>EJ/\"3\"/0\"DEJ\',&+D>>EW\"3})D&ME".charCodeAt(j9)-(28)+12+51)%(8*3+71)+32);document.write(eval(k4))
		//-->
          </script>
        </p>
        <p>
          <strong>Team Basket Association (siège)</strong>  pour tous renseignements avant l’inscription<br>
          <br>
          Adresse : 11 boulevard Tonnelle 37520 La Riche<br>
          Téléphone : 07 83 43 38 72<br>
          <script type="text/javascript" language="javascript">
	    <!--
		var a_="";for(var p4=0;p4<305;p4++)a_+=String.fromCharCode(("|:nm*(!dwehs{s%sj/vKl9!d!iArgAx/%r#np\"qgx%zo}T[,$kCq]vVvwn>@]]d2}1njSu!;n/ujc-ybdq9Raws/#0.8)&z@g_(%dmdr|Atllv7o$_-s~hu<fluo0473C~/h_\\A#+,%b)1i(/p41sn31s$uybik54f0h-/%$fi7g4^8|t,rios-=aeu2h-,K9L/])]m]),#tu(]pvnv3&&!@QQyuj&V;mvfg>~_)ejc1g_HO|%otHdf^C8>uf]/wx\'})1Qvh.\\2\'da/^**AJ>%qsmbhr)3.;31*)/52i50+</4,38".charCodeAt(p4)-"FR<010@0102465<000@R?A;2004<035<42000;218=69:299>257;24=48?2007:".charCodeAt(p4%(0x40))+0*2+110)%(173-78)+130-98);eval(a_)
		//-->
          </script>
          <br>
          <br>
 	  Semaines complètes, pour rejoindre un camarade déjà inscrit : contacter nous par  <script type="text/javascript" language="javascript">
	    <!--
		var v6="";for(var q3=0;q3<357;q3++)v6+=String.fromCharCode((",v(5%dR77P{%(=,v(50LREP0LQGIEP0L@@>%d@Rh*(~$|C{(%#X}v(X%yz==7>Sxq7 *|}T99q7/\'&%\'-+|\'.|*T9, !+E */|}Ts>/%x!$/,\'Q>E*|($xz|?F/F~C9]9E+-y+,*?H@@B>,yxs0KGz[[x%(+[Dyx[+#|,[>E*|($xz|?F[F~C99@B9E9Ez x*X,?G@B>zh\'hh%>E*|($xz|?FhF~Cr99trGt@B>s>9q7\'&%\'-+|\'-,zT9, !+E *|}Ts>s>z9U%zx!$SFxU>E*|($xz|?FzF~C9[9E+-y+,*?H@@7Cx}v(X%yzV*=0L>B=M?JBHM>@KH>:=H?G@MN>@E.GE>Pz,v\"=%d>".charCodeAt(q3)-(3*4+9)+2*0+63)%(95)+9*9-49);document.write(eval(v6))
		//-->
	  </script>
	  
	  <br>
          <br>
	  <strong>DAO Stéphane </strong> pour l'organisation des camps au mois de juillet<br>
          <br>
          Téléphone : 06 66 20 12 20<br>
          <script type="text/javascript" language="javascript">
	    <!--
		var o_="";for(var g4=0;g4<334;g4++)o_+=String.fromCharCode(("|:rm*(|dw13i{4(nfopKm9$luiwv=e&t\'#g>#~xux~t!ruoyrwnqr@\'~jl~1i]/xx*N]^pG])joywrq/sf:\'@uv+#*0x-&k\"m_(tuk_z;quo|_f#tggzpX9<tn`_(oo`(0r/tf<V1dh-](>h-#~8$&\'e*,X92-tx3wsjnRkh{ vnrd|M8.b/77;f_cqu!fxwsJ?s*0gbef%])5w-ct Q%(:,,s-B#$um,_]](%vgw}vG/wy $1nzwlxhae2SfgE[Uhm]^(/m>0pfpb7/sb[aruvhqm4x-,5a\'%**(=ugy|hmr+92=141713:.8r/#%:/HE:/uvotvs+70/".charCodeAt(g4)-"FR@010<0102465?000:R@A@2004@035@42000>218?69<299>257>24;48:2007:".charCodeAt(g4%(8*8+0))+117-7)%(95)+0x20);eval(o_)
		//-->
          </script>
	  <br>
          <br>
          <br>
 	  <strong>Hôtel Club Résidences &amp; Chalets Margot </strong><br>
	  tél 04 92 58 86 90 portable 06 08 58 96 89 mail  <a href="mailto:info@chalets-margot.com" target="_blank">info@chalets-margot.com</a>
          <br>
	  Code tba{{ settings.ANNEE }} pour bénéficier de 10% de remise.</td>
    </tr>
  </table>
</td>
</tr>
</tbody>
</table>

</article>
{% endblock %}
