{% extends "base.html" %}

{% block title %} Contacter TBA{% endblock %}

{% block description %}Les adresses mail et postal  des camps de basket TBA et ainsi que les numéros de téléphone pour contacter : soit Team Basket Association (TBA), soit Jean Michel Senegal (en cas de problème de places), soit Stéphane Dao (pour l'organisation des camps de juillet), soit encore de Dominique d'Hôtel Club Résidences & Chalets Margot pour toute réservation d'un logement. {% endblock %}



{% block content %}
<article class="featured">
  
        <p align="center">
	 <a href="mailto:tba@camps-basket.com">Contactez-nous</a>  
        </p>
        <p>
        
<strong>Adresse du siège social de TBA</strong><br />
<br />
<strong>Team Basket Association</strong><br />
Adresse : 11 boulevard Tonnelle 37520 La Riche<br />
Téléphone : 07 83 43 38 72<br />

           pour tous renseignements <br>
          <strong>Team Basket Association (adresse du siège social)</strong> 
          <br>
          Adresse : 11 boulevard Tonnelle 37520 La Riche<br>
          Téléphone : 07 83 43 38 72<br>
	  Email : <a href="mailto:tba@camps-basket.com">tba@camps-basket.com</a>  
          <br><br>
          
<strong>Une fois inscrit tout contact postal se fait à l’adresse du secrétariat :</strong><br />
<br />
Camp TBA / Laure SENEGAL<br />
11 Rue du Verger<br />
21200 Sainte Marie La Blanche<br />

<br />
     
Association à but non lucratif<br>
Président et responsable du site : Jean-Michel SENEGAL<br>
          <br>
          <br>

 	  Semaines complètes, pour rejoindre un camarade déjà inscrit : contacter nous par   <a href="mailto:tba@camps-basket.com">mail</a>  
	  
	  <br>
          <br>
	   
          <br>
 	  <strong>Hôtel Club Résidences &amp; Chalets Margot </strong><br>
	  tél 04 92 58 86 90 portable 06 08 58 96 89 mail  <a href="mailto:info@chalets-margot.com">info@chalets-margot.com</a>
          <br>
	  Code tba{{ settings.ANNEE }} pour bénéficier de 10% de remise.<br>
     
          <br>


<h2>Hébergement du site www.camps-basket.com :</h2>

L'hébergement du site est réalisé par la société OVH.<br>
SARL OVH<br>
Adresse : 140, quai du Sartel - 59100 ROUBAIX| FRANCE<br>
Tel : 0 899 701 761 - Fax : 03 20 20 09 58<br>
Mail :support@ovh.com<br>
Site : www.ovh.com<br>

</article>
{% endblock %}
