	{% extends "base.html" %}

{% block title %} Le dépliant TBA {{ settings.ANNEE }}{% endblock %}

{% block description %} Télécharger le dépliant et le bulletin d'inscription des camps de basket TBA {{ settings.ANNEE }} {% endblock %}


{% block content %}
<article class="featured">
  
  
  
  <p align="center"><b>&nbsp;<font size="5"><br>
        <font color="#FF0000">LE DEPLIANT {{ settings.ANNEE }}</font></font></b> </p>
  <p align="center">
<img border="0" src="/tba/photo/TBA-depliant-2026.jpg" width="600" ></p>
  <p align="center"><font color="#0000FF"><b><br>
        Télécharger le</b></font> <a target="_blank" href="{{ settings.PIECES.TBA }}">  dépliant {{ settings.ANNEE }}</a>
  <p align="center">&nbsp;<b><font color="#0000FF">Télécharger renseignements pour la fiche d’inscription </font></b><a target="_blank" href="{{ settings.PIECES.inscription }}"> 
      ici.<br></a>
   On ne peut s’inscrire qu’en ligne dans la rubrique : INSCRIPTIONS


</p>
    
</article>
{% endblock %}
