{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  
  
  <p align="center"><b>&nbsp;<font size="5"><br>
        <font color="#FF0000">LE DEPLIANT 2014</font></font></b> </p>
  <p align="center">
    
    
    
    <img border="0" src="photo/depliant-2014-couverture.jpg" width="650" height="334"></p>
  <p align="center"><font color="#0000FF"><b><br>
        Télécharger le</b></font> <a target="_blank" href="pdf/TBA-2014.pdf">  dépliant 2014</a>
  <p align="center">&nbsp;<b><font color="#0000FF">Télécharger le </font></b><a target="_blank" href="pdf/Bulletin-inscription-2014.pdf"> 
      bulletin d'inscription&nbsp; </a>
    <br>
    
    
</article>
{% endblock %}
