{% extends "base.html" %}

{% block title %} Le dépliant TBA 2015{% endblock %}

{% block description %} Télécharger le dépliant et le bulletin d'inscription des camps de basket TBA 2015 {% endblock %}


{% block content %}
<article class="featured">
  
  
  
  <p align="center"><b>&nbsp;<font size="5"><br>
        <font color="#FF0000">LE DEPLIANT {{ settings.ANNEE }}</font></font></b> </p>
  <p align="center">
    
    
    
    <img border="0" src="/tba/photo/depliant-2015-couverture.jpg" width="650" height="334"></p>
  <p align="center"><font color="#0000FF"><b><br>
        Télécharger le</b></font> <a target="_blank" href="/tba/pdf/TBA-2015.pdf">  dépliant 2015</a>
  <p align="center">&nbsp;<b><font color="#0000FF">Télécharger le </font></b><a target="_blank" href="/tba/pdf/Bulletin-inscription-2015.pdf"> 
      bulletin d'inscription&nbsp; </a>
    <br>
    
    
</article>
{% endblock %}
