{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  
  <p ><strong>TEAM BASKET ASSOCIATION</strong> a été crée en 1984, année des Jeux Olympiques de Los Angeles auxquels l'équipe de France a participé. <br>
    <br>
    Les joueurs qui composaient cette équipe (Jean Michel Sénégal, Richard Dacoury, Eric et Grégor Beugnot, Jacques Monclar, Stéphane Ostrowski…) ainsi que le Directeur Technique National de l'époque, Pierre Dao et Patrick Demars (ex-international) avaient décidé de créer ces stages afin de s'y retrouver en dehors des compétitions et de permettre à tous ses stagiaires de bénéficier de leurs expériences. <br>
    <br>
    Tous les ans de nouveaux joueurs internationaux nous font l'amitié da passer sur nos sites (Superdévoluy ou Soulac) comme <strong>Eric Micoud</strong> (qui a été stagiaire à TBA, et actuellement joueur professionnel à la JDA Dijon en Pro A) <strong>Frédéric Weis</strong> (joueur de l'équipe de France qui évolue dans le championnat Espagnol) <strong>Boris Diaw</strong> (joueur de l'équipe de France qui évolue dans le Championnat NBA aux Phoenix Suns) <strong>Mous Sonko</strong> (joueur évoluant au Real de Madrid champion d'Espagne en titre)…  <br>
    <br>
    Les 7 joueurs les plus capés de l'histoire du Basket Français ont participé à l'encadrement.</p>
  <table border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" width="100%" id="AutoNumber2">
    <tbody>
      <tr>
	<td width="50%"> 1- Hervé Dubuisson</td>
	<td width="50%"> 254 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 2- Jacques Cachemire</td>
	<td width="50%">248 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 3- Eric Beugnot</td>
	<td width="50%">212 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 4- Jean Michel Sénégal</td>
	<td width="50%">210 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 5- Jacques Monclar </td>
	<td width="50%">200 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 6- Stéphane Ostrowski</td>
	<td width="50%">194 sélections</td>
      </tr>
      <tr>
	<td width="50%"> 7- Philippe Szanyiel </td>
	<td width="50%">191 sélections</td>
      </tr>
    </tbody>
  </table><br>

  <p><strong>De nombreuses personnalités sont venues donner leurs conseils :</strong> <br>
    <br>
    • George Karl entraîneur NBA et coach de la sélection ouest lors du All Star Game 1998. <br>
    <br>
    • Pierre Dao ex-entraîneur de l'équipe de France puis Directeur Technique National. <br>
    <br>
    • Kevin Jones et Jacques Gaudreau tous deux coachs de High School Américaine. </p>
  
</article>
{% endblock %}
