{% extends "base.html" %}

{% block title %} L'histoire de Team Basket Association (TBA){% endblock %}

{% block description %} Team Basket Association (TBA) a été crée en 1984, année des Jeux Olympiques de Los Angeles auxquels l'équipe de France a participé. Et c'est à cette occasion que les joueurs qui composaient cette équipe (Jean Michel Sénégal, Richard Dacoury, Eric et Grégor Beugnot, Jacques Monclar, Stéphane Ostrowski…) ainsi que le Directeur Technique National de l'époque, Pierre Dao et Patrick Demars (ex-international) avaient décidé de créer ces stages afin de s'y retrouver en dehors des compétitions et de permettre à tous ses stagiaires de bénéficier de leurs expériences. {% endblock %}


{% block content %}
<article class="featured">
  
  
  <p ><strong>TEAM BASKET ASSOCIATION</strong> a été crée en 1984, année des Jeux Olympiques de Los Angeles auxquels l'équipe de France a participé. <br>
    <br>
    Les joueurs qui composaient cette équipe (Jean Michel Sénégal, Richard Dacoury, Eric et Grégor Beugnot, Jacques Monclar, Stéphane Ostrowski…) ainsi que le Directeur Technique National de l'époque, Pierre Dao et Patrick Demars (ex-international) avaient décidé de créer ces stages afin de s'y retrouver en dehors des compétitions et de permettre à tous ses stagiaires de bénéficier de leurs expériences. </p>
  <p >Catherine MALFOIS, 166 sélections en équipe de   France et élue meilleure joueuse française des années 1980 fera de   nombreuses interventions avec ses homologues masculins.</p>
  <p >Voici nos dates importantes :</p>
  <p><strong>1984</strong> Création du camp de SUPERDEVOLUY<br />
  <strong>1985 à 1986</strong>  3 camps à SUPERDEVOLUY, VITTEL et SAINT CYPRIEN ( avec Michel PLATINI pour le football et Yannick NOAH pour le tennis)<br />
  <strong>1987</strong> SUPERDEVOLUY et VITTEL (arrêt du camp de  Saint Cyprien)<br />
  1988 Création du camp de SOULAC et donc de <strong>1988 à 1991</strong>  SUPERDEVOLUY, VITTEL et  création du camp de SOULAC<br />
  <strong>1992 à 2005</strong> SUPERDEVOLUY et SOULAC (Arrêt du camp de VITTEL)<br />
  2005 arrêt du camp de SOULAC et donc de<br />
  <strong>2005 à aujourd&rsquo;hui</strong>   SUPERDEVOLUY</p>
<p >    Tous les ans de nouveaux joueurs internationaux nous font l'amitié de passer sur notre site de Superdévoluy : Eric Micoud (1er stagiaire à TBA en 1984), Frédéric Weis, Boris Diaw, Muss SONKO, Stéphane RISACHER, Crawford PALMER, Edwin JACKSON…  <br>
    <br>
  Les joueurs les plus capés de l'histoire du Basket Français ont participé à l'encadrement des camps</p>
  <table border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" width="100%" id="AutoNumber2">
    <tbody>
      <tr>
	<td width="50%">1- Hervé Dubuisson</td>
	<td width="50%"> 254 sélections</td>
      </tr>
      <tr>
	<td width="50%">2- Jacques Cachemire</td>
	<td width="50%">248 sélections</td>
      </tr>
      <tr>
	<td width="50%">3- Boris Diaw</td>
	<td width="50%">247 sélections</td>
      </tr>
      <tr>
        <td>4- Eric Beugnot</td>
        <td>212 sélections</td>
      </tr>
      <tr>
	<td width="50%">5- Jean Michel Sénégal</td>
	<td width="50%">210 sélections</td>
      </tr>
      <tr>
	<td width="50%">6- Jacques Monclar </td>
	<td width="50%">200 sélections</td>
      </tr>
      <tr>
	<td width="50%">7- Stéphane Ostrowski</td>
	<td width="50%">194 sélections</td>
      </tr>
      <tr>
	<td width="50%">8- Philippe Szanyiel </td>
	<td width="50%">191 sélections</td>
      </tr>
      <tr>
        <td>9- Richard Dacoury</td>
        <td>160 sélections</td>
      </tr>
    </tbody>
  </table><br>

  <p><strong>De nombreuses personnalités sont venues donner leurs conseils :</strong> <br>
    <br>
    • George Karl entraîneur NBA et coach de la sélection ouest lors du All Star Game 1998. <br>
    <br>
    • Pierre Dao ex-entraîneur de l'équipe de France puis Directeur Technique National. <br>
    <br>
    • Kevin Jones et Jacques Gaudreau tous deux coachs de High School Américaine. </p>
    
  <p><strong>Edwin Jackson</strong> en 2015, entre son départ de Barcelone et son arrivée dans son nouveau club de Malaga, est venu passer 15 jours à Superdévoluy. Edwin a participé à l&rsquo;encadrement des ateliers, a joué beaucoup de 1 contre 1 avec tous les stagiaires demandeurs, a été coach d&rsquo;équipes, a participé aux victoires de ses équipes et a offert des équipements aux stagiaires. Son maillot dédicacé de Barcelone est toujours affiché chez nous. Edwin JACKSON est venu passer 15 jours à Superdévoluy avant de rejoindre MALAGA.</p>
    <p>Edwin a participé à l&rsquo;encadrement des ateliers, a joué des 1c1, a été coach d&rsquo;équipes, a participé aux victoires de ses équipes et a offert des équipements aux stagiaires.</p>
   <br />
<br />


<table>
<tr>
<td><img border="0" src="/tba/photo/DSC_9631.JPG" width="320" ></td>
<td><img border="0" src="/tba/photo/DSC_9653.JPG" width="320" ></td>
</tr>

<tr>
<td><img border="0" src="/tba/photo/DSC_9683.JPG" width="320" ></td>
<td><img border="0" src="/tba/photo/DSC_9578.JPG" width="320" ></td>
</tr>

<tr>
<td><img border="0" src="/tba/photo/DSC_0592.JPG" width="320" ></td>
<td><img border="0" src="/tba/photo/DSC_9582.JPG" width="320" ></td>
</tr>

</table>

    <br><br>
    
        <p> Edwin a été stagiaire de notre camp à Superdévoluy pendant 10 années consécutives et il est revenu donner des conseils aux jeunes des camps.
</p>
        
        <p align="center">
        <img border="0" src="/tba/photo/DSC_6310.jpg" width="650" ></p>
        
    
    
       <p align="center">
       <p>Beaucoup d&rsquo;anciens stagiaires sont devenus des personnalités du basket professionnel.</p>
       <p><strong>Eric Bartéchéky</strong>, coach champion de France de la Jeep Elite 2018 avec L&rsquo;équipe du MANS a été stagiaire TBA.</p>
  <p><strong>Laure Savasta,</strong> qui est devenue coach fut avec Isabelle Fijalkowski, la première joueuse française à jouer en WNBA et ce dès l&rsquo;année de la création de la ligue, a été l&rsquo;une des premières stagiaires TBA.</p>
       <p>Aymeric Jeanneau, Eric Micoud, David Denave et bien d&rsquo;autres sont venus dans nos camps</p>
<p><strong>Gilles ORTIOU</strong> a été l&rsquo;un des premiers entraineurs de Boris DIAW dans la catégorie jeune :</p>
 
       <p align="center"><a target="_blank" href="/tba/DSC03402b.jpg">
       <img border="0" src="/tba/DSC03402.JPG" width="256" height="192"></a><br>
            Gilles ORTIOU (Coach à Team Basket Association) <br>
            bien entouré lors de sa visite chez Boris DIAW à Phoenix
            
  </p>
       <p align="center">&nbsp;</p>

<p align="center">
<img border="0" src="/tba/photo/Camp-Soulac-072.jpg" width="280" >
<img border="0" src="/tba/photo/Camp-Soulac-073.jpg" width="280" >
<br />
Boris DIAW en visite dans le camp avec Gilles ORTIOU
</p>

       <p align="center">&nbsp;</p>
           
           
            <p>La renommée et la réputation de notre camp, est dû aux 25 000 stagiaires qui ont participé aux camps depuis 1984 et aux nombreux entraineurs qui viennent et reviennent depuis de nombreuses années.<br />
              <br />
Tous les plus grands noms du basket-ball français sont venus à Superdévoluy : <strong>Jean-Michel SENEGAL, Richard DACOURY, Eric BEUGNOT, Grégor BEUGNOT, Jacques MONCLAR, Stéphane OSTROWSKI, Stéphane RISACHER, Hervé DUBUISSON, Jacques CACHEMIRE, Philippe SZANYIEL, Hugues OCCANSEY, Moustapha SONKO, Makan DIOUMASSI , Crawford PALMER</strong>, <strong>Alain THINET Pierre DAO, Francis JORDANE.</strong>            </article>
{% endblock %}
