{% extends "base.html" %}

{% block title %} Camps de Basket TBA de Jean-Michel Senegal{% endblock %}

{% block description %} 15 bonnes raisons de choisir un camp basket TBA organisé par Jean-Michel Senegal. Rappelons que Jean-Michel Senegal sait de quoi il parle,  il faisait en effet partie des meilleurs joueurs Français, notamment grâce à ses performances en Équipe de France, de plus c'est un excellent pédagogue. {% endblock %}
 

{% block content %}

<article class="featured">

  <p align="center" ><img src="/tba/image/TBA_BLACK.png" width="600" height="303"> </p>  
  
  <p style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 30px; font-weight: bold;">CAMPS de Basket-Ball <br> 
    <span style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 18px; font-weight: bold;">Renseignements téléphonique : 07 83 43 38 72	</span></p>
  
  <!--Pour accéder aux sites de Camps de basket TBA (Superdevoluy) ou de Camps de basket STAR BASKET (la Baule et les Sables d'Olonne) -->
  <br />

  <div  align="center" ><a  href="{% url 'static_pages' 'presentation' %}">
      <img style="border:none" src="/tba/image/VMD_1342b.jpg" alt="Camps de basket TBA" width="300" ></a> 
    <a href="{% url 'static_pages' 'presentation' %}">   <img border="0" src="/tba/photo/Le-Hameau-du-Puy.jpg" width="300" >  </a>  

<br>  <br>
  <img src="/tba/photos/superdevoluy-02.jpg" width="575" height="170">

  </div>
  
  
  <!--
      <div class="thumb2"><a target="_blank" href="http://www.camp-star-basket.com/">
	  <img style="border:none" src="image/sable1.jpg" alt="Camps de basket STAR BASKET " width="370" height="247"></a><a href="index-star-basket.htm" target="_blank"><br />Camps de basket STAR BASKET <br />(Noirmoutier et les Sables d'Olonne)</a></div>
      -->
  <br clear="all">

  <p style="text-align: center">Camps de basket TBA (Superdevoluy)</p>

  <br />
  <p style="text-align: center"><b><font size="4"> 15 bonnes raisons de choisir un camp basket TBA  :</font></b></p> 
  <p style="text-align: center"><b><font size="3">Vous avez toujours une bonne raison de venir dans nos camps</font></b></p> 
  
  <p style="text-align: center"><b><font size="3"> Le seul camp organisé en France qui vous propose une semaine de camp dès le 24 juin 2018 est le camp de Superdévoluy</font></b>.<br />
  <strong>Ouverture des inscriptions pour les camps 2018 : </strong><span style="color:red;"><strong>vendredi 12 janvier dans la soirée.</strong></span> </p>
  <br />

  
  <br />
  - Ces camps de basket sont agr&eacute;&eacute;s par les Directions D&eacute;partementales de la Cohésion Sociale (DDCS 37).<br />
  <br />
  - Ces stages de basket sont le fruit de plus de 30   ans d'exp&eacute;rience et de professionnalisme.<br />
  <br />
  - Le plus grand camp de basket   de France se trouve &agrave; Superd&eacute;voluy avec un centre sportif couvert (2 terrains couverts) et 11 terrains extérieurs, soit 13 terrains alignés : unique en France.<br />
  <br />
  - Ces camps de basket sont reconnus   bien au-del&agrave; de nos fronti&egrave;res, des entra&icirc;neurs de basket et joueurs PRO A de la   LIGUE NATIONALE DE BASKET et NBA y ont d&eacute;j&agrave; particip&eacute; (George Karl entra&icirc;neur   NBA, Boris DIAW joueur NBA, &hellip;) ainsi que des joueurs de basket de renomm&eacute;e   europ&eacute;enne (Edwin JACKSON, Aymeric JEANNEAU). Des stagiaires des 4 coins du monde sont venus ou viennent dans nos camps (USA, Japon, Br&eacute;sil, Russie,   Espagne, Belgique, Duba&iuml;, Afrique, Chili, Inde, Singapour&hellip;)<br />
  <br />
  - L'encadrement y est assur&eacute;   par des joueurs de basket professionnels ainsi que des entraineurs exp&eacute;riment&eacute;s   dipl&ocirc;m&eacute;s d'&eacute;tat de la FEDERATION FRANCAISE DE BASKET.<br />
  <br />
  - Ce camp se déroule dans un site exceptionnel à la montagne à 1500 M d’altitude disposant d'un &eacute;quipement sportif et d'un h&eacute;bergement de qualit&eacute;. Possibilit&eacute; de location   vacances : studio, appartement, h&ocirc;tel 3 &eacute;toiles &agrave; la station de Superd&eacute;voluy   pour les parents d&eacute;sireux de suivre leur(s) enfant(s) en stage et de passer des   vacances &agrave; la montagne.<br />
  <br />
  - Chaque semaine des stages basket mixtes sont   ouvert &agrave; tous les niveaux et ce &agrave; partir de 9 ans.<br />
  <br />
  - Possibilit&eacute; de   s'inscrire seul(e), en groupe ou en famille &agrave; un stage de basket.<br />
  <br />
  - Les   prix sont inchang&eacute;s depuis de nombreuses ann&eacute;es. Les bons CAF et les ch&egrave;ques vacances sont accept&eacute;s ainsi que le paiement en plusieurs fois.<br />
  <br />
  - Ces   camps de Basket offrent un large choix entre diff&eacute;rentes formules s'adaptant aux   besoins de chacun (pension compl&egrave;te (plein temps), mi-temps, externat&hellip;)<br />
  <br />
  -   Vos enfants sont surveill&eacute;s en permanence dans nos camps de basket-ball. Que ce   soit sur les terrains de basket, que ce soit dans les chambres, que ce soit lors   des repas&hellip;Pour vous parents, s&eacute;curit&eacute; rime avec tranquillit&eacute;.<br />
  <br />
  - La   fid&eacute;lit&eacute; de nos stagiaires qui reviennent d&rsquo;une ann&eacute;e sur l&rsquo;autre dans nos camps   de basket-ball s&rsquo;explique par l&rsquo;ambiance de convivialit&eacute; qui r&egrave;gne entre tous   les jeunes et l&rsquo;encadrement technique, et ce tout au long des journ&eacute;es. Pour   vous parents, sachez que vos enfants vont se faire de nouveaux amis,   convivialit&eacute; rime avec amiti&eacute;.<br />
  <br />
  - Le camp de basket-ball de Superd&eacute;voluy   est situ&eacute; &agrave; 1500m d&rsquo;altitude dans une r&eacute;gion particuli&egrave;rement ensoleill&eacute;e. Venez   prendre de l&rsquo;oxyg&egrave;ne pour votre ann&eacute;e dans une r&eacute;gion ou la pollution   atmosph&eacute;rique n&rsquo;existe pas. La qualit&eacute; de l&rsquo;air du D&eacute;voluy est l&rsquo;une des   meilleures de France.<br />
  <br />
  - Vous reviendrez avec des cadeaux qui vous sont   toujours offerts &agrave; votre arriv&eacute;e au camp. Vous aurez toujours un souvenir de   votre passage dans notre camp d'&eacute;t&eacute;.<br />
  <br />
  - Enfin la 15&egrave;me bonne raison pour   choisir TBA est le nombre croissant de stagiaires qui reviennent d'une ann&eacute;e sur   l'autre participer aux stages. N&rsquo;attendez pas trop pour vous inscrire, le nombre   de place est limit&eacute; pour chaque semaine et la plupart des semaines seront   COMPLETES.<br />
  <br />
  <p>&nbsp;</p>
  <p style="text-align: center"><b><font size="4">C'est à ce jour le plus grand camp de basket-ball en France.</font></b> </p>
</p>

</article>

{% endblock %}
