{% extends "base.html" %}

{% block title %} Camps de Basket TBA de Jean-Michel Senegal{% endblock %}

{% block description %} 15 bonnes raisons de choisir un camp basket TBA organisé par Jean-Michel Senegal. Rappelons que Jean-Michel Senegal sait de quoi il parle,  il faisait en effet partie des meilleurs joueurs Français, notamment grâce à ses performances en Équipe de France, de plus c'est un excellent pédagogue. {% endblock %}
 

{% block content %}

<article class="featured">

  <p align="center" ><img src="/tba/image/TBA_BLACK.png" width="600" height="303"> </p>  
  
  <p style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 30px; font-weight: bold;">CAMPS de Basket-Ball <br> 
    <span style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 18px; font-weight: bold;">Renseignements : 07 83 43 38 72	</span>
    <span style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 18px; font-weight: bold;">Mail : <a style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 18px; font-weight: bold;" href="mailto:tba@camps-basket.com">tba@camps-basket.com</a></span></p>


<p style="text-align:center; color:#cc6600; text-transform:uppercase; font-size: 18px; font-weight: bold; text-transform: uppercase;">
LES CAMPS TBA SONT LES SEULS CAMPS EN FRANCE AVEC AUTANT DE STAGIAIRES EN EXTERNat <br />que de stagiaires en internat<br />
PARENTS PASSEZ VOS VACANCES A LA MONTAGNE <br />AVEC VOS ENFANTS.<br />
LE DEVOLUY EST UNE REGION EXCEPTIONNELLE<br /> POUR LES VACANCES.<br />
TBA est affilié à la FFBB et nos camps sont des camps spécifiques sportifs <br />
<br />
</p>
<p style="font-size: 16px; font-weight: bold; ">
En vous inscrivant au club TBA vous participez chaque semaine à une compétition officielle avec des résultats transmis à la FFBB.<br />
<br />
Les inscriptions pour les camps 2023 seront ouvertes à partir du 20 janvier 2023. Il y aura 6 semaines de camps basket intensif du 02 juillet au 12 août et 2 semaines de camps basket in English 24h sur 24 on parle Anglais du 13 au 26 août. Vous avez les vidéos des derniers camps en rubrique VIDEO.<br />
</p>





 <table  align="center" width="100%" border="0">
   <tr>
    <td>&nbsp;<a  href="{% url 'static_pages' 'presentation' %}"> <img style="border:none" src="/tba/image/VMD_1342b.jpg" alt="Camps de basket TBA" width="280" ></a>   </td>
    <td>&nbsp; <a href="{% url 'static_pages' 'presentation' %}">   <img border="0" src="/tba/photo/Le-Hameau-du-Puy.jpg" width="280" >  </a>  </td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;<a href="{% url 'static_pages' 'presentation' %}">   <img border="0" src="/tba/photo/terrain.jpg" width="280" >  </a>  </td>
    <td>&nbsp;  <a href="{% url 'static_pages' 'presentation' %}">   <img border="0" src="/tba/photo/terrain-B.jpg" width="280" >  </a>  </td>
  </tr>
</table>

<div  align="center">    
   
  
<br>  <br>
  <img src="/tba/photo/terrain-2.jpg" width="280" >
  &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/tba/photo/Salle.jpg" width="280" >

  </div> 

  
  <!--
      <div class="thumb2"><a target="_blank" href="http://www.camp-star-basket.com/">
	  <img style="border:none" src="image/sable1.jpg" alt="Camps de basket STAR BASKET " width="370" height="247"></a><a href="index-star-basket.htm" target="_blank"><br />Camps de basket STAR BASKET <br />(Noirmoutier et les Sables d'Olonne)</a></div>
      -->
  <br clear="all">

  <p style="text-align: center">Camps de basket TBA (Superdevoluy)</p>

  <br />
  <p style="text-align: center"><b><font size="4"> 15 bonnes raisons de choisir un camp basket TBA  :</font></b></p> 
  <p style="text-align: center"><b><font size="3">Vous avez toujours une bonne raison de venir dans nos camps</font></b></p>
  <p align="center"><strong>Le seul camp organisé en France qui vous propose des séjours du 04 juillet au 28 août est le camp de Superdévoluy(Hautes-Alpes)</strong>
<br />
      
 
<br />
<span style="color:red;"><strong>6 Camps de basket d'une semaine du 02 juillet au 12 août
</strong></span><br />
<br />
<span style="color:red;"><strong>2 camps de basket d’une semaine avec immersion en langue anglaise du 13 au 26 août juste avant la rentrée scolaire</strong></span>

  </p>
  <br />
- Ces camps de basket sont agréés par les Directions Départementales de la Cohésion Sociale (DDCS 37) et TBA a été le 1er camp d’été de basket à être affilié à la Fédération Française de Basket Ball (FFBB) ce qui nous permet de déclarer nos camps en séjours sportifs et non pas en colonie de vacances. Chaque semaine vous participez à une compétition officielle 3x3 homologué OPEN START<br />
  <br />
  - Ces stages de basket sont le fruit de 40 ans d'expérience et de professionnalisme. Le 1er camp s’est déroulé en 1984 avec des joueurs de l’équipe de France qui rentraient des Jeux Olympiques de Los Angeles.<br />
  <br />
  - Le plus grand camp de basket de France se trouve &agrave; Superd&eacute;voluy avec un centre sportif couvert (2 terrains couverts) et 11 terrains extérieurs, soit 13 terrains alignés : unique en France.<br />
  <br />
  - Ces camps de basket sont reconnus   bien au-del&agrave; de nos fronti&egrave;res, des entra&icirc;neurs de basket et joueurs PRO A de la   LIGUE NATIONALE DE BASKET et NBA y ont d&eacute;j&agrave; particip&eacute; (George Karl entra&icirc;neur   NBA, Boris DIAW joueur NBA, &hellip;) ainsi que des joueurs de basket de renomm&eacute;e   europ&eacute;enne (Edwin JACKSON, Aymeric JEANNEAU). Des stagiaires des 4 coins du monde sont venus ou viennent dans nos camps (USA, Japon, Br&eacute;sil, Russie,   Espagne, Belgique, Duba&iuml;, Afrique, Chili, Inde, Singapour&hellip;)<br />
  <br />
  - L'encadrement y est assur&eacute;   par des joueurs de basket professionnels ainsi que des entraineurs exp&eacute;riment&eacute;s   dipl&ocirc;m&eacute;s d'&eacute;tat de la FEDERATION FRANCAISE DE BASKET.<br />
  <br />
  - Ce camp se déroule dans un site exceptionnel à la montagne à 1500 M d’altitude disposant d'un &eacute;quipement sportif et d'un h&eacute;bergement de qualit&eacute;. Possibilit&eacute; de location   vacances : studio, appartement, h&ocirc;tel 3 &eacute;toiles &agrave; la station de Superd&eacute;voluy   pour les parents d&eacute;sireux de suivre leur(s) enfant(s) en stage et de passer des   vacances &agrave; la montagne.<br />
  <br />
  - Chaque semaine des stages basket mixtes sont ouvert &agrave; tous les niveaux et ce &agrave; partir de 9 ans.<br />
  <br />
  - Possibilit&eacute; de   s'inscrire seul(e), en groupe ou en famille &agrave; un stage de basket.<br />
  <br />
  - Les   prix sont inchang&eacute;s depuis de nombreuses ann&eacute;es. Les bons CAF et les ch&egrave;ques vacances sont accept&eacute;s ainsi que le paiement en plusieurs fois.<br />
  <br />
  - Ces   camps de Basket offrent un large choix entre diff&eacute;rentes formules s'adaptant aux   besoins de chacun (pension compl&egrave;te (plein temps), mi-temps, externat&hellip;)<br />
  <br />
  -   Vos enfants sont surveill&eacute;s en permanence dans nos camps de basket-ball. Que ce   soit sur les terrains de basket, que ce soit dans les chambres, que ce soit lors   des repas&hellip;Pour vous parents, s&eacute;curit&eacute; rime avec tranquillit&eacute;.<br />
  <br />
  - La fid&eacute;lit&eacute; de nos stagiaires qui reviennent d&rsquo;une ann&eacute;e sur l&rsquo;autre dans nos camps de basket-ball s&rsquo;explique par l&rsquo;ambiance de convivialit&eacute; qui r&egrave;gne entre tous   les jeunes et l&rsquo;encadrement technique, et ce tout au long des journ&eacute;es. Pour vous parents, sachez que vos enfants vont se faire de nouveaux amis,   convivialit&eacute; rime avec amiti&eacute;.<br />
  <br />
  - Le camp de basket-ball de Superd&eacute;voluy   est situ&eacute; &agrave; 1500m d&rsquo;altitude dans une r&eacute;gion particuli&egrave;rement ensoleill&eacute;e. Venez   prendre de l&rsquo;oxyg&egrave;ne pour votre ann&eacute;e dans une r&eacute;gion ou la pollution   atmosph&eacute;rique n&rsquo;existe pas. La qualit&eacute; de l&rsquo;air du D&eacute;voluy est l&rsquo;une des   meilleures de France.<br />
  <br />
  - Vous reviendrez avec des cadeaux qui vous sont toujours offerts à votre arrivée au camp. Vous aurez toujours un souvenir de votre passage dans notre camp d'été. 1 maillot réversible, 1 short et une gourde vous sont donnés à votre arrivée. Une photo souvenir de votre groupe vous est remise à la clôture du camp.<br />
  <br />
  - Enfin la 15&egrave;me bonne raison pour   choisir TBA est le nombre croissant de stagiaires qui reviennent d'une ann&eacute;e sur l'autre participer aux stages. N&rsquo;attendez pas trop pour vous inscrire, le nombre   de place est limit&eacute; pour chaque semaine et la plupart des semaines seront COMPLETES.<br />
  <br />
  <p>&nbsp;</p>
  <p style="text-align: center"><b><font size="4">C'est à ce jour le plus grand camp de basket-ball en France.</font></b> </p>

</article>

{% endblock %}
