{% extends "base.html" %}

{% block title %}Tout ce que les parents doivent savoir sur les camps de basket TBA {% endblock %}

{% block description %} Il est possible de bénéficier d'aides pour participer aux camps de basket TBA et ce auprès de : de votre caisse d’allocation familiales, de votre Comité d’Entreprise, des mutualisations d’entreprises, de la fonction publique, de la MSA Mutualité Sociale Agricole, de la ANCV Agence Nationale des Chèques Vacances, des Conseils Généraux ... {% endblock %}


{% block content %}
<article class="featured">
  
  
  <p align="center"> <font color="#FF0000" size="5"><strong>INFOS PARENTS</strong></font></p>
  <p><strong>Les aides possibles</strong> <br />
    Vous pouvez b&eacute;n&eacute;ficier d&rsquo;aides au financement dont vous trouverez ci-apr&egrave;s le  d&eacute;tail. </p>
  <ul type="disc">
    <li><strong>Les caisses d&rsquo;allocation familiales</strong> <br />
      Votre CAF peut vous attribuer des bons vacances. Le montant des ces bons est calcul&eacute; en fonction de votre quotient familial. Ces bons sont       utilisables pour des s&eacute;jours d'enfants en centre de vacances ou de       loisirs. ATTENTION, bien vous renseigner des conditions de fonctionnement aupr&egrave;s de votre CAF. <br />
      En effet, Le montant de l'aide et les modalit&eacute;s pour y avoir droit sont variables suivant les d&eacute;partements, voir entre les diff&eacute;rentes CAF d'un       m&ecirc;me d&eacute;partement. <br />
      En g&eacute;n&eacute;ral, l'aide accord&eacute;e est vers&eacute;e directement &agrave; l'organisme ou &agrave; la       famille pour les centres de vacances ou les camps sportifs. <br />
      Mais, certaines CAF n&rsquo;allouent des bons que pour les s&eacute;jours se d&eacute;roulant       dans leur d&eacute;partement ou pour des d&eacute;parts avec des associations de leur       d&eacute;partement. <br />
      <strong><u>Les CAF, de l'HERAULT (Montpellier), de HAUTE SAVOIE (Annecy) et   de l&rsquo;AIN (Bourg en Bresse) sont dans ce cas et elles ne donnent plus de   bons vacances pour les séjours se déroulant en dehors de leurs   départements</u></strong>.<br>
      <br>
      Mise à jour&nbsp; 2016 : NOUVEAU<br>
      Nous  pouvons de nouveau accepter les bons A.V.E (Aides aux Vacances Enfants) avec le dispositif VACAF de la CAF <strong>des Bouches du Rhône (Marseille) et de la CAF des Alpes Maritimes (Nice)</strong>.<br>
      
         <div style="text-align:center;">
        <img src="http://www.camps-basket.com/tba/photo/cache_55226557.png"  />

</div>
      
      
      <br>
      &nbsp;</li>
    <li><strong>Les Comit&eacute;s d&rsquo;Entreprise</strong> <br />
      Votre CE peut intervenir de diff&eacute;rentes fa&ccedil;ons : bons et ch&egrave;ques vacances, politiques tarifaires, actions n&eacute;goci&eacute;es avec des producteurs. Le secr&eacute;tariat de votre CE vous informera des diff&eacute;rentes possibilit&eacute;s qu&rsquo;il vous propose.
      <br>
      &nbsp;</li>
    <li><strong>Des mutualisations d&rsquo;entreprises</strong> <br />
      Certaines entreprises qui ne disposent pas de comit&eacute;s d'entreprise se regroupent en cotisant aupr&egrave;s de caisses qui pourront proposer des aides aux vacances. Renseignez vous aupr&egrave;s de votre entreprise.
      <br>
      &nbsp;</li>
    <li><strong>La fonction publique</strong> <br />
      Des prestations peuvent &ecirc;tre vers&eacute;es pour l'inscription de leurs enfants &agrave; certains agents de la fonction publique. Renseignez vous aupr&egrave;s de votre administration.
      <br>
      &nbsp;</li>
    <li><strong>La MSA Mutualit&eacute; Sociale Agricole</strong> <br />
      Ces aides sont propos&eacute;es aux affili&eacute;s et ont le choix entre les ch&egrave;ques vacances et les bons vacances, les deux aides &eacute;tant vers&eacute;es selon les revenus. Renseignez vous aupr&egrave;s de votre caisse.
      <br>
      &nbsp;</li>
    <li><strong>ANCV Agence Nationale des Ch&egrave;ques Vacances</strong> <br />
      Le Ch&egrave;que-vacances a &eacute;t&eacute; cr&eacute;&eacute; pour permettre au plus grand nombre, particuli&egrave;rement ceux qui disposent des revenus les plus modestes, de partir en vacances, d'acc&eacute;der &agrave; un large &eacute;ventail d'activit&eacute;s culturelles et de loisirs. C'est un titre de paiement propos&eacute; ou attribu&eacute; aux salari&eacute;s par les employeurs, les organismes sociaux, les entreprises ou les collectivit&eacute;s ; le salari&eacute; n'en paye qu'une partie. Il se pr&eacute;sente en coupures de 10 et 20 Euros. Il est valables deux ans apr&egrave;s l'ann&eacute;e d'&eacute;mission. Il est utilisable par le titulaire, son conjoint, ses ascendants et enfants &agrave; charge fiscalement.
      <br>
      
  <div style="text-align:center;">
        <img src="http://www.camps-basket.com/tba/photo/cache_49470463.jpg"  />
</div>
      
      &nbsp;</li>
    <li><strong>Les Conseils G&eacute;n&eacute;raux</strong> <br />
      Ils interviennent sous forme de prises en charge en complément des autres aides. Elles sont réservées aux familles en très grande difficulté. 
      Renseignez vous auprès des assistantes sociales et Conseils Généraux. </li>
    <li><strong>Les Mairies</strong> <br />
      Les services sociaux, CCAS, service jeunesse des Mairies peuvent vous proposer des aides aux s&eacute;jours. L'aide est souvent calcul&eacute;e en fonction du       quotient familial, et elle est en g&eacute;n&eacute;ral vers&eacute;e directement &agrave;       l&rsquo;organisme. Renseignez vous aupr&egrave;s de votre Mairie. </li>
  </ul>
  <p>Nos camps de basket se d&eacute;roulent dans  un centre agr&eacute;e par la Direction D&eacute;partementale de la Jeunesse et des Sports.  Ce num&eacute;ro d&rsquo;agreement peut vous &ecirc;tre fourni sur simple demande.<br />
    Chaque semaine de camps est d&eacute;clar&eacute;e  aupr&egrave;s de la &nbsp;Direction D&eacute;partementale de  la Jeunesse et des Sports qui nous d&eacute;livre un num&eacute;ro de s&eacute;jour. Chaque semaine  de camp est donc enregistr&eacute;e sous un num&eacute;ro qui est disponible environ 2 mois  avant le d&eacute;but des camps.<br />
    Sur simple demande une facture du  s&eacute;jour de votre enfant peut vous &ecirc;tre envoy&eacute; par courrier ou par mail.</p>           

  
  
</article>
{% endblock %}
