{% extends "base.html" %}

{% block title %} Infos, conditions d’inscriptions et fonctionnement des camps {% endblock %}

{% block description %} . {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000">  Infos, conditions d’inscriptions <br />
  et fonctionnement des camps</font></b></p>
 
   <p><span style="font-size:18px;">Voici toutes les infos pratiques pour le camp ainsi que les conditions g&eacute;n&eacute;rales d&rsquo;inscription et de fonctionnement des stages.</span></p>
   <p><strong>IMPORTANT  </strong><br />
   L&rsquo;inscription se fait uniquement sur le net à la rubrique INSCRIPTION. Vous avez un bulletin  d&rsquo;inscription à remplir. Aucune inscription ne sera prise en compte sans la réception de votre  acompte qui devra être envoyé immédiatement avec une réception par notre secrétariat dans les 8  jours suivants cette inscription.  Possibilité de paiement en plusieurs fois sans aucun frais supplémentaire.!  </p>
   
   <p><strong>AGREMENTS DES SEJOURS. CAF, COMITES d’ENTREPRISES   </strong><br />
    <strong>Attention</strong>, vous allez participer à un stage sportif avec participation à une compétition officielle FFBB, tournoi 3x3 Juniorleague. Nous pouvons vous fournir une facture, pour tout CE ou autre structure,  mais il n’y a pas de possibilité de remboursements par le système VACAF car il n’y a pas de numéro de déclaration de séjours auprès de DDCS. IL y a par contre un numéro pour le tournoi FFBB que nous organisons. </p>
   
   <p><strong>NOMBRE DE PLACES LIMITE</strong><br />
Nombre de stagiaires limité chaque semaine. Voir le nombre de places disponibles pour chaque  semaine sur le site. www.camps-basket.com, rubrique places disponibles. </p>
   <p><strong>CAMP AVEC PARENTS SUR PLACE  </strong><br />
   Parents, vous souhaitez rester à Superdévoluy le temps du stage de votre enfant, qui pourra ainsi  loger avec vous ? Un large choix d&rsquo;hébergement s&rsquo;offre à vous : Résidence Le Hameau du Puy  (chalets et appartements) Hôtel Club Chalets Margot (chalets, appartements et chambres)  Réservation en Dévoluy (studios et appartements)  Tous les renseignements et tarifs dans la rubrique : LOCATIONS PARENTS  </p>
   <p><strong>ARRIVEES et DEPARTS  </strong><br />
   <strong>Les arrivées</strong> se font les <strong>dimanches après-midi </strong>à partir de 15h et jusqu&rsquo;à 17h 30.  <br />
   <br />
   <strong>   Les départs</strong> se font les <strong>samedis</strong> : Pour les externes à la fin du camp sur les terrains de basket à 11h.  Pour les internes, après le déjeuner pris à l&rsquo;hôtel, c'est-à-dire à partir de 12h 30  </p>
   <p><strong>INFRASTRUCTURE MEDICALE</strong><br />
Un(e) assistant(e) sanitaire sera présent(e) tout au long du stage pour soigner les blessures bénignes.  En cas de blessure plus importante, les stagiaires seront examinés par un médecin. Une Ostéopathe  est présente chaque matin sur les terrains. Les participants aux stages doivent être reconnus aptes à  la pratique du Basket avec lors de l&rsquo;inscription soit : <br />
- le N° de licence FFBB disponible sur ffbb.com <br />
- un certificat médical de non contre-indication à la pratique du basket-ball </p>



  
</article>

{% endblock %}
