{% extends "base.html" %}

{% block title %} Infos, conditions d’inscriptions et fonctionnement des camps {% endblock %}

{% block description %} . {% endblock %}

{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000">  Conditions générales d’inscription et de fonctionnement des stages</font></b></p>
 
  <p><strong class="rouge">Vous êtes maintenant inscrit, mais vous êtes en pré inscription, faites votre
règlement dans les 8 jours pour que votre dossier soit VALIDÉ</strong>.<br />

    Vous pouvez suivre votre dossier en vous connectant avec l’adresse mail qui a servi à l’inscription.
  </p>

  <p class="centered"><strong><a href="{% url 'register_form' %}">→ Suivre mon dossier ←</a></strong></p>

  <p>
     Une fois l’inscription enregistrée, votre dossier ne peut plus être modifié. Si vous voulez apporter une modification à votre dossier (nouvelle inscription par exemple), vous devez nous prévenir par mail pour que l’on vous permette d’intervenir de nouveau à l’intérieur de votre dossier. <strong class="rouge">Vous aurez 24 heures </strong> pour modifier votre dossier.
  </p>
  
<p><strong>1. INSCRIPTION VALIDEE</strong><br />
  <br />

Votre demande est enregistrée et validée dès réception :<br />
• Du bulletin d’inscription dûment rempli sur internet<br />
• Du versement de votre acompte en 1, 2, ou plusieurs chèques ou virement bancaire.<br />
L’adhésion de votre enfant à notre association (15€ annuel) est à rajouter au coût du stage ainsi que le coût de l’occupation du centre sportif (10€ par semaine).<br />
<br />

  <strong class="rouge">Vous pouvez régler dès l’inscription la totalité de votre séjour avec plusieurs chèques que nous encaisserons aux dates que vous nous communiquerez ou en prévoyant des virements mensuels.</strong><br />
  <br />
  <strong>  Vous pouvez donc régler :</strong><br />
  <br />
  -- Soit par l’envoi d’un  <strong>chèque </strong> à l’ordre de TBA, ou de  <strong>chèques vacances</strong>, à l’adresse suivante :<br />
  Laure SENEGAL Camps TBA<br />
  11 Rue du Verger<br />
  21200 Sainte Marie La Blanche<br />
  <br />
  <br />
  -Soit par <strong> virement</strong> en nous demandant notre <a href="{{ host }}{% url 'protected' settings.PROTECTED.RIB %}"><strong>RIB</strong></a>.
  <br />
 <strong> Le solde dû après votre validation pourra être régularisé, <span class="rouge">soit 8 jours avant le début du camp (envoi d’un chèque ou virement)</span>, soit au plus tard à votre arrivée à l’accueil du camp le dimanche après midi (carte CB, Chèque, chèques vacances, espèces)</strong><br />
  <br />
  A partir du moment où le dossier d’inscription est validé, vous vous engagez à :<br />
  - Régler toute somme due à TBA<br />
  - Assumer les frais supplémentaires qui seraient engagés pour votre enfant<br />
  (Les frais : médicaux, de transport, dégradations, postaux….)<br />
  <br />
  <br />
  <strong>  2. Arrivée et départ des stagiaires</strong><br />
  </p>
<table width="640" border="0">
  <tr>
    <td valign="top">Votre adresse postale sera :</td>
    <td>CAMPS TBA <br />
      Hôtel Club Chalets Margot<br />
SUPERDEVOLUY Station<br />
05250 LE DEVOLUY<br /></td>
  </tr>
  <tr>
    <td height="35">Le mail pour contacter le secrétariat :</td>
    <td><a href="mailto:inscriptionstba@orange.fr"> inscriptionstba@orange.fr </a>  ou <a href="mailto:tba@camps-basket.com">tba@camps-basket.com</a> </td>
  </tr>
  <tr>
    <td height="40">Le téléphone pour contacter le camp</td>
    <td>07 83 07 98 66</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>Conditions d’accueil<br />
  <br />
  <u>- Arrivée des stagiaires</u> : accueil des stagiaires le dimanche à partir de 15h à l’hôtel Club Chalets Margot. L’accueil se fait entre 15h et 17h30. <br />
  (1° rond-point à gauche en arrivant dans la station) Entrainement le dimanche soir<br />
</p>
<p><strong>Pour ceux qui arrivent en train</strong> à la gare de Veynes Dévoluy, il y a normalement une navette en <span class="rouge">début d’après-midi </span> et une autre vers <span class="rouge">17H 15</span>, départ devant la gare. Vous devez nous prévenir obligatoirement de votre horaire d’arrivée à la gare de Veynes Dévoluy et réserver votre navette soit au moment de votre inscription, soit au moins <span class="rouge">10 jours</span> avant le jour de votre arrivée.<br />
  <u>Voyage accompagné depuis Paris</u> : un ou plusieurs accompagnateurs sont avec les stagiaires. Le trajet que vous réglez est le trajet PARIS SUPERDEVOLUY.<br />
<u>Pour ceux qui Voyagent seul </u> : Une navette spéciale TBA est organisée depuis la gare de Grenoble pour vous amener directement à SUPERDEVOLUY. Vous devez vous inscrire au moins <span class="rouge">14 jours</span> avant le jour de votre arrivée<br />
  <br />




  <u>- Départ des stagiaires :</u><br />
  Clôture du camp <strong>11h sur les terrains</strong>, Pour les internes, repas à 12h et possibilité de partir dès 12h30. Pour ceux qui voyagent en train, navette départ pour Grenoble vers 13H30, navette départ pour la gare de Veynes en fonction des nouveaux horaires ZOU.<br />
  <br />
  <strong class="rouge">Les stagiaires en formule internat peuvent attendre leurs parents à l’hôtel de 12h30 jusqu’à 14h. <br />
  Nous prévenir IMPERATIVEMENT si vous devez venir les chercher plus tard. </strong></p>

<p><strong>3. Prestations</strong><br />
  Prestations comprises dans le prix indiqué :<br />
  • L’hébergement <span class="rouge">(draps et couvertures fournis)</span> Pensez à apporter des serviettes de toilette.<br />
  • Les repas<br />
  • L’encadrement diplômé<br />
  • Le matériel nécessaire au déroulement de chaque activité<br />
  • Une tenue de stage vous sera donnée le jour de l’arrivée (1 short, 1 maillot réversible et 1 gourde)<br />
  • Une autre tenue de stage sera donnée pour toute semaine supplémentaire<br />
  • La soirée du vendredi<br />
  Le prix du séjour est forfaitaire ; aucun remboursement d’éventuelles prestations non consommées n’est possible.</p>

<p><strong> 4. Documents obligatoires à nous renvoyer</strong><br />
  • <span class="rouge">Le N° de licence FFBB </span> (dispo sur ffbb.com) est IMPERATIF et OBLIGATOIRE pour tous les licenciés. Il vous permet de participer au 3x3 OPEN START JUNIORLEAGUE que TBA organise chaque semaine.<br />
Un certificat médical attestant la possibilité de pratiquer le basketball est OBLIGATOIRE pour ceux qui ne sont pas licenciés.<br />
  • La fiche sanitaire de liaison (à télécharger sur le site) dûment remplie à partir du carnet de santé de l’enfant est OBLIGATOIRE pour les stages en <span class="rouge">INTERNAT</span> Formule 3.<br />
  • L’Autorisation parentale et droit à l’image (c’est le même document) que vous recevez avec votre mail de confirmation.<br />
  </p>

<p><strong>5. Soins médicaux pendant le stage</strong><br />
  Durant le séjour, TBA fait l’avance des frais médicaux suivants :<br />
  • Visite chez le médecin<br />
  • Pharmacie<br />
  Les feuilles de maladie vous seront remises en fin de séjour contre remboursement. Vous serez prévenu par le chef de camp en cas de maladie ou accident dans les plus brefs délais.</p>
<p><br />
  <strong>6. Interdictions et renvoi</strong><br />
  Alcool, tabac, et produits stupéfiants sont naturellement interdits.<br />
  <br />
  Le non-respect des consignes données par l’équipe d’encadrement et l’inadaptation du stagiaire à l’esprit du camp peuvent entraîner <span class="rouge">l’exclusion immédiate sans aucun remboursement.</span><br />
  <br />
  <strong>  7. Pertes et vol</strong><br />
  Pendant toute la durée du séjour, le stagiaire est responsable de ses affaires personnelles. Nous recommandons de ne pas apporter des objets et des vêtements de valeur.<br />
  <br />
  Le marquage du linge est recommandé pour éviter tout oubli de vêtement (en particulier sur les terrains) et pour simplifier la tâche des responsables<br />
  <br />
  TBA ne peut être tenue pour responsable et n’assure pas le remboursement des objets perdus.<br />
  <br />
  L’obligation des assurances en cas de vol exige qu’une infraction soit constatée. Les petits vols pouvant se produire dans le camp ne rentre pas dans ce cadre.<br />
  </p>
<p><strong>8. Régimes alimentaires spécifiques</strong><br />
  S’agissant de séjours collectifs organisés par une association laïque loi 1901, il n’est pas possible de se plier aux exigences particulières à caractère non médical, notamment sur le plan alimentaire (viande hallal, régime végétarien ou végétalien….)<br />
  <br />
  Bien nous préciser au moment de votre inscription, si l’enfant a une allergie alimentaire.  <br />
 <br />
  S’il est possible d’assurer pour chaque enfant, à la demande écrite des parents, la substitution de la viande de porc, il est en revanche, impossible de remplacer les autres viandes. <br />
  <br />
  L’association TBA respecte et applique un principe de laïcité général.<br />
  </p>
<p><strong>9. Droit à l’image</strong><br />
  En inscrivant votre enfant, vous acceptez que celui-ci soit pris en photo pouvant être utilisée exclusivement pour la communication de TBA. En cas de refus, celui-ci devra nous être signifié par écrit dans le document que vous recevez lors de la confirmation de votre inscription.</p>
<p><br />
  <strong>10. Conseils pratiques : équipements pour votre séjour</strong><br />
  Nous vous recommandons d’apporter<br />
  <br />
  • Une paire de nu-pieds (claquettes, tongs) qu’il sera nécessaire de porter dès la fin de l’entrainement.<br />
  • Un stick pour les lèvres, de la crème solaire indice 50 (altitude et soleil).<br />
 • Plusieurs paires de chaussettes et tee-shirts<br />
 • Si possible 2 paires de chaussures de basket en bon état car nous jouons sur goudron en plein air et sur plancher en bois dans le gymnase.<br />
 • Une casquette ou un bob<br />
 • Un survêtement ou veste polaire en cas de température basse en soirée (nous sommes en altitude)<br />
 • Un vêtement pour la pluie style Kway<br />
 • Un maillot ou un short de bain<br />
 • Une trousse de toilette complète<br />
 • Serviettes de bain et serviette de toilette<br />
  </p>

<p><strong>11. Conditions d’annulations</strong><br />
  En cas d’annulation avant le stage, des indemnités seront retenues selon les conditions suivantes :<br />

  <strong>PAS d’ASSURANCE</strong><br />
  <ul>
    <li><strong>Si annulation avant 30 jours :</strong> frais de dossier de 30&nbsp;€.</li>
    <li><strong>Si annulation entre 30 et 15 jours avant le début du stage :</strong> +30&nbsp;€ de pénalité, soit 60&nbsp;€.</li>
    <li><strong>Si annulation à moins de 15 jours avant le début du stage :</strong>
      <ul>
        <li>Plus 140 € de pénalité soit un montant total de retenu de 200 € pour une inscription en formule internat. </li>
        <li>Plus 70 € de pénalité soit un montant total de retenu de 130 € pour une inscription en formule externat.</li>
      </ul>
    </li>
    <li><strong>Aucun remboursement</strong> en cas de non-présentation sans nous avoir prévenus avant.</li>
    <li><strong>Tout stage commencé et arrêté par le stagiaire ne donne droit à aucun remboursement, quel que soit le motif de l’interruption.</strong></li>
    <li><strong>Annulation d’un stage de notre fait :</strong> remboursement de la totalité des sommes versées sans autre indemnité.</li>
  </ul>
  <p><strong>La cotisation de 15&nbsp;€ de l’inscription reste toujours acquise à TBA et est non remboursable.</strong></p>

  <strong>12. ASSURANCES ANNULATION</strong><br />
  <p>Deux assurances annulation sont proposées :</p>

  <strong>Mini assurance à 8&nbsp;€</strong><br />
  <ul>
    <li><strong>Aucun frais de retenue si annulation avant 30 jours.</strong></li>
    <li>Annulation entre 30 et 15 jours avant le début du stage : frais de dossier de <strong>30&nbsp;€.</strong></li>
    <li>Annulation à moins de 15 jours avant le début du stage : +30&nbsp;€ de pénalité, soit un total de <strong>60&nbsp;€</strong>.</li>
    <li>Tout stage commencé est dû et ne fera l’objet d’aucun remboursement, quel que soit le motif de l’interruption.</li>
  </ul>

  <strong>Maxi assurance à 20&nbsp;€</strong><br />
  <ul>
    <li><strong>Aucun frais de retenue pour une annulation jusqu’au mercredi précédant le début du stage (soit 4 jours avant le début du stage).</strong></li>
    <li><strong>Annulation dans les 4 jours précédant le début du stage : une pénalité de 40&nbsp;€ sera appliquée.</strong></li>
    <li>En cas de blessure grave ou de maladie survenue après l’ouverture du camp et entraînant, après consultation médicale, un arrêt d’au moins 5 jours, la <strong>Maxi assurance </strong>assure un remboursement du montant correspondant aux journées de stage non effectuées selon le prix journalier de la partie basket, <strong>soit 40&nbsp;€ par jour.</strong> <em>Pas de remboursement</em> pour la pension hôtelière réglée par avance.</li>
    <li>Tout stage arrêté par le stagiaire, sans blessure ou maladie nécessitant un arrêt médical d’au moins 5 jours, ne donne droit à aucun remboursement.</li>
  </ul>
  <p><strong>La cotisation de 15&nbsp;€ de l’inscription reste toujours acquise à TBA et est non remboursable.</strong></p>

  <strong>Locations «&nbsp;LES HAMEAUX DU PUY&nbsp;»</strong><br />
  <p>Pour les locations assurées par TBA dans la résidence «&nbsp;LES HAMEAUX DU PUY&nbsp;», les deux assurances ne couvrent la totalité de la location, en cas d’annulation, <strong>qu’à plus de 15 jours</strong>. De 14 à 8 jours, 50&nbsp;% du prix de la location sera remboursé ; à moins de 8 jours, aucun remboursement.</p>
</article>

{% endblock %}
