{% extends "base.html" %}

{% block title %} Infos, conditions d’inscriptions et fonctionnement des camps {% endblock %}

{% block description %} . {% endblock %}

{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000">  Conditions générales d’inscription et de fonctionnement des stages</font></b></p>
 
  <p><strong class="rouge">Vous êtes inscrit, retournez dans les 8 jours votre règlement</strong>.<br />

    Vous pouvez suivre votre dossier en vous connectant avec l’adresse mail qui a servi à l’inscription.</p>

  <p class="centered"><strong><a href="{% url 'register_form' %}">→ Suivre mon dossier ←</a></strong></p>

  <p>Une fois l’inscription enregistrée, votre dossier ne peut plus être modifié. Si vous voulez apporter une modification à votre dossier (nouvelle inscription par exemple), vous devez nous prévenir par mail pour que l’on vous permette d’intervenir de nouveau à l’intérieur de votre dossier.</p>
  
<p><strong>1. INSCRIPTION VALIDEE</strong><br />
  <br />
  Votre demande est enregistrée dès réception :<br />
  • Du bulletin d’inscription dûment rempli sur internet<br />
  • Du versement de votre acompte en 1, 2, ou plusieurs chèques ou virement bancaire.<br />
  L’adhésion de votre enfant à notre association (15€) est à rajouter au coût du stage ainsi que la taxe du centre sportif de 1€/jour soit 6€ pour la semaine.<br />
  <br />
  <strong class="rouge">Vous pouvez régler dès l’inscription la totalité de votre séjour avec plusieurs chèques que nous encaisserons aux dates que vous nous communiquerez.</strong><br />
  <br />
  <strong>  Vous pouvez régler :</strong><br />
  <br />
  -Soit par chèque à l’ordre de TBA, chèques vacances, mandat cash à l’adresse suivante :<br />
  Laure SENEGAL Camps TBA<br />
  11 Rue du Verger<br />
  21200 Sainte Marie La Blanche<br />
  <br />
  -Soit par virement en nous demandant notre
  <a href="{{ host }}{% url 'protected' settings.PROTECTED.RIB %}"><strong>RIB</strong></a>.
  <br />
  Les paiements en espèces ou en chèques vacances pourront nous être remis le jour d’arrivée<br />
  <br />
  A partir du moment où le dossier d’inscription est validé, vous vous engagez à :<br />
  - Régler toute somme due à TBA<br />
  - Assumer les frais supplémentaires qui seraient engagés pour votre enfant<br />
  (Les frais : médicaux, de transport, dégradations, postaux….)<br />
  <br />
  <br />
  <strong>  2. Arrivée et départ des stagiaires</strong><br />
  </p>
<table width="640" border="0">
  <tr>
    <td valign="top">Votre adresse postale sera :</td>
    <td>CAMPS TBA <br />
      Hôtel Les Chardonnelles Chalets Margot<br />
SUPERDEVOLUY Station<br />
05250 LE DEVOLUY<br /></td>
  </tr>
  <tr>
    <td height="35">Le mail pour contacter le secrétariat :</td>
    <td><a href="mailto:inscriptionstba@orange.fr"> inscriptionstba@orange.fr </a></td>
  </tr>
  <tr>
    <td height="40">Le téléphone pour contacter le camp</td>
    <td>07 83 07 98 66</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>Conditions d’accueil<br />
  <br />
  <u>- Arrivée des stagiaires</u> : accueil des stagiaires le dimanche à partir de 15h à l’hôtel Club Chalets Margot. L’accueil se fait entre 15h et 18h. <br />
  (1° rond-point à gauche en arrivant dans la station) Entrainement le dimanche soir<br />
</p>
<p><strong>Pour ceux qui arrivent en train</strong> à la gare de Veynes Dévoluy, une navette est prévue vers 17h, départ devant la gare. Vous devez nous prévenir obligatoirement de votre horaire d’arrivée à la gare de Veynes Dévoluy et réserver votre navette soit au moment de votre inscription, soit au moins 15 jours avant le jour de votre arrivée.<br />
  Voyage accompagné depuis Paris : un ou plusieurs accompagnateurs sont avec les stagiaires.<br />
  <br />
  <br />
  <u>- Départ des stagiaires :</u><br />
  Clôture du camp <strong>11h sur les terrains</strong>, Pour les internes, repas à 12h et <br />
  12h30 départ de la navette pour la gare de Veynes Dévoluy.<br />
  <br />
  <strong class="rouge">Les stagiaires en formule internat peuvent attendre leurs parents à l’hôtel de 12h30 jusqu’à 14h. <br />
  Nous prévenir IMPERATIVEMENT si vous devez venir les chercher plus tard. </strong></p>
<p><strong>3. Prestations</strong><br />
  Prestations comprises dans le prix indiqué :<br />
  • L’hébergement (draps et couvertures fournis) Pensez à apporter des serviettes de toilette.<br />
  • Les repas<br />
  • L’encadrement diplômé<br />
  • Le matériel nécessaire au déroulement de chaque activité<br />
  • Une tenue de stage vous sera donnée le jour de l’arrivée (1 short, 1 maillot réversible et 1 gourde)<br />
  • Une autre tenue de stage sera donnée pour toute semaine supplémentaire<br />
  • La soirée du vendredi<br />
  Le prix du séjour est forfaitaire ; aucun remboursement d’éventuelles prestations non consommées n’est possible.</p>
<p><strong> 4. Documents obligatoires à nous renvoyer</strong><br />
  • Le N° de licence FFBB (dispo sur ffbb.com) ou un certificat médical attestant de la non contre-indication du stagiaire à pratiquer le basketball<br />
  • La fiche sanitaire de liaison (à télécharger sur le site) dûment remplie à partir du carnet de santé de l’enfant (photocopie des vaccinations possible)<br />
  • Autorisation parentale et droit à l’image que vous recevez avec votre mail de confirmation.<br />
  </p>
<p><strong>5. Soins médicaux pendant le stage</strong><br />
  Durant le séjour, TBA fait l’avance des frais médicaux suivants :<br />
  • Visite chez le médecin<br />
  • Pharmacie<br />
  Les feuilles de maladie vous seront remises en fin de séjour contre remboursement. Vous serez prévenu par le chef de camp en cas de maladie ou accident dans les plus brefs délais.</p>
<p><br />
  <strong>6. Interdictions et renvoi</strong><br />
  Alcool, tabac, et produits stupéfiants sont naturellement interdits.<br />
  <br />
  Le non-respect des consignes données par l’équipe d’encadrement et l’inadaptation du stagiaire à l’esprit du camp peuvent entraîner l’exclusion immédiate sans aucun remboursement.<br />
  <br />
  <strong>  7. Pertes et vol</strong><br />
  Pendant toute la durée du séjour, le stagiaire est responsable de ses affaires personnelles. Nous recommandons de ne pas apporter des objets et des vêtements de valeur.<br />
  <br />
  Le marquage du linge est recommandé pour éviter tout oubli de vêtement (en particulier sur les terrains) et pour simplifier la tâche des responsables<br />
  <br />
  TBA ne peut être tenue pour responsable et n’assure pas le remboursement des objets perdus.<br />
  <br />
  L’obligation des assurances en cas de vol exige qu’une infraction soit constatée. Les petits vols pouvant se produire dans le camp ne rentre pas dans ce cadre.<br />
  </p>
<p><strong>8. Régimes alimentaires spécifiques</strong><br />
  S’agissant de séjours collectifs organisés par une association laïque loi 1901, il n’est pas possible de se plier aux exigences particulières à caractère non médical, notamment sur le plan alimentaire (viande hallal, régime végétarien ou végétalien….)<br />
  <br />
  S’il est possible d’assurer pour chaque enfant, à la demande écrite des parents à l’arrivée au stage, la substitution de la viande de porc, il est en revanche, impossible de remplacer les autres viandes.<br />
  <br />
  L’association TBA respecte et applique un principe de laïcité général.<br />
  </p>
<p><strong>9. Droit à l’image</strong><br />
  En inscrivant votre enfant, vous acceptez que celui -ci soit pris en photo pouvant être utilisée exclusivement pour la communication de TBA. En cas de refus, celui-ci devra nous être signifié par écrit dans le document que vous recevez lors de la confirmation de votre inscription.</p>
<p><br />
  <strong>10 Conseils pratiques : équipements pour votre séjour</strong><br />
  Nous vous recommandons d’apporter<br />
  <br />
  • Une paire de nu-pieds (claquettes, tongs) qu’il sera nécessaire de porter dès la fin de l’entrainement.<br />
  • Un stick pour les lèvres, de la crème solaire indice 50 (altitude et soleil) et un tube de biafine.<br />
  • Une paire de lunettes de soleil<br />
  • Plusieurs paires de chaussettes et tee-shirts<br />
  • Si possible 2 paires de chaussures de basket en bon état car nous jouons sur goudron en plein air et sur plancher en bois dans le gymnase.<br />
  • Une casquette ou un bob<br />
  • Un survêtement ou veste polaire en cas de température basse (nous sommes en altitude)<br />
  • Un vêtement pour la pluie style Kway<br />
  • Un maillot ou un short de bain<br />
  • Une trousse de toilette complète<br />
  • Deux serviettes de bain<br />
  </p>
<p><strong>11. Conditions d’annulations</strong><br />
  En cas d’annulation avant le stage, des indemnités seront retenues selon les conditions suivantes :<br />
  <br />
  Si annulation avant 30 jours : Frais de dossier de 30 €<br />
  <br />
  Si annulation entre 30 jours et 15 jours avant le début du stage : Plus 30 € de pénalité<br />
  <br />
  Si annulation moins de 15 jours avant le début du stage : Retenue de 50% du prix du séjour<br />
  <br />
  Aucun remboursement en cas de non présentation sans nous avoir prévenu avant.<br />
  <br />
  <strong>Tout stage commencé et arrêté par le stagiaire ne donne droit à aucun remboursement, quel que soit le motif.</strong><br />
  <br />
  Annulation d’un stage de notre fait : remboursement de la totalité des sommes versées sans autre indemnité<br />
  <br />
  Tout stage commencé est dû et ne fera l’objet d’aucun remboursement, quel que soit le motif de l’interruption<br />
  <br />
  La cotisation de 15 € de l’inscription reste toujours acquise à TBA<br />
  <br />
  <br />
  <strong>  12. ASSURANCES ANNULATION</strong><br />
  2 assurances annulations sont proposées :</p>
<p><br />
  <strong>Mini assurance à 8 € : Aucun frais de retenu si annulation avant 30 jours.</strong><br />
  <br />
  Si annulation entre 30 jours et 15 jours avant le début du stage : Frais de dossier de 15 €<br />
  <br />
  Si annulation moins de 15 jours avant le début du stage. Plus 30 € de pénalité<br />
  <br />
  Tout stage commencé est dû et ne fera l’objet d’aucun remboursement, quel que soit le motif de l’interruption<br />
  <br />
  <strong>  Maxi assurance à 20 € : Aucun frais de retenu quel que soit la date d’annulation.</strong><br />
  En cas de blessure grave ou de maladie qui survient après l’ouverture du camp et qui, après une consultation médicale entraine <u>un arrêt médical de plus de 6 jours</u>, <strong>la Maxi assurance</strong> assure un remboursement du montant correspondant aux journées de stages non effectuées et selon le prix journalier de la partie basket, soit 30 € par jour. Il n’y a pas de possibilité de remboursement pour la pension hôtelière.<br />
  <br />
  La cotisation de 15 € de l’inscription reste toujours acquise à TBA<br />
  <br />
  Pour les locations assurées par TBA dans la résidence « LES HAMEAUX DU PUY », les 2 assurances ne couvrent la totalité de la location, en cas d’annulation, <strong>qu’à plus de 15 jours</strong>. Entre 14 et 8 jours, 50% de frais, entre 7 à 2 jours, 75% de frais,  à moins de 2 jours ou non présentation : 100% de frais, AUCUN REMBOURSEMENT. </p>
</article>

{% endblock %}
