{% extends "base.html" %}

{% block title %}Une journée type de camps de Basket chez TBA {% endblock %}

{% block description %} Description d'une journée type de camps de Basket chez TBA à Superdévoluy pour les stagiaires ayant opté pour la structure d’internat à l’Hôtel Les Chardonnelles. {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> UNE JOURNÉE TYPE A SUPERDEVOLUY</font></b></p>
  <p>&nbsp;</p>
  <p>Pour les externes qui sont en location avec leurs parents dans la station, ne prendre en compte que les heures de basket, puisque les repas et le couchage se font en dehors de la structure d’internat du Centre de vacances proposé dans l’hôtel Club Chalets Margot</p>
  <p>&nbsp;&nbsp;</p>
  <p>Réveil entre <b>7H30 et 8h</b></p>
  <p>&nbsp;Petit déjeuner entre 7<b>h45 et 8H30</b></p>
  <p>&nbsp;<b>Terrains : 9H à 11H</b>: 2 heures d’entrainements sur les fondamentaux individuels. <br />
  (Passes, dribbles, rebonds, tir en course, tir en suspension, travail d’appuis, renforcement musculaire, pré-collectif offensif et défensif, 1c1)</p>
 
 <p align="center">
   <img border="0" src="/tba/photo/journee-type-01.jpg" width="280">
   <img border="0" src="/tba/photo/journee-type-02.jpg" width="280">
 </p>

 <p align="center">
   <img border="0" src="/tba/photo/journee-type-03.jpg" width="280">
   <img border="0" src="/tba/photo/journee-type-04.jpg" width="280">
 </p>
  <p>&nbsp;Possibilité de rester pour du travail individuel avec des entraîneurs</p>

 


  <p>&nbsp;</p>
  <p>Déjeuner<b> : 12H-12H30</b></p>

   <p align="center">
   <img border="0" src="/tba/photo/journee-type-05.jpg" width="550">
 </p>
  <p>&nbsp;&nbsp;</p>  
  <p>Entre <strong>13h et 14h30</strong> : salle de jeu, piscine, repos dans les chambres, TV si évènement sportif.</p>
  <p>&nbsp;&nbsp;</p>
  <p><b>Terrains : 15H à 17H</b> : 2 heures d’entrainements avec un programme de fondamentaux collectifs (attaque, défense, contre attaque, principes de jeu, systèmes de jeu). Le grand nombre de stagiaires et les 10 terrains côte à côte permettent d’avoir des groupes homogènes.</p>

   <p align="center">
   <img border="0" src="/tba/photo/journee-type-06.jpg" width="550">
 </p>
  <p>&nbsp;<br>
    Diner : <b>18h45 et 19H15</b></p>
  <p><b>Terrains : 20H à 21H30</b> : 1H30 en soirée dédiée au championnat ou concours. Soit en salle, soit en extérieur.</p>
 
     <p align="center">
   <img border="0" src="/tba/photo/journee-type-07.jpg" width="550">
      <img border="0" src="/tba/photo/journee-type-08.jpg" width="550">

 </p>
  
  
  
  
</article>

{% endblock %}
