{% extends "base.html" %}

{% block title %}Une journée type de camps de Basket chez TBA {% endblock %}

{% block description %} Description d'une journée type de camps de Basket chez TBA à Superdévoluy pour les stagiaires ayant opté pour la structure d’internat à l’Hôtel Les Chardonnelles. {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> UNE JOURNÉE TYPE A SUPERDEVOLUY</font></b></p>
  <p>&nbsp;</p>
  <p>Pour les externes qui sont en location avec leurs parents dans la station, ne prendre en compte que les heures de basket puisque les repas et le couchage se font en dehors de la 
    structure d’internat proposé dans l’Hôtel «&nbsp;LES CHARDONNELLES&nbsp;»</p>
  <p>&nbsp;&nbsp;</p>
  <p>Réveil entre <b>7H 45 et 8h</b></p>
  <p>&nbsp;Petit déjeuner entre <b>8h et 8H30</b></p>
  <p>&nbsp;<b>Terrains à 9H à 11H</b>: 2 heures d’entraînement avec programme de fondamentaux individuels (défense à 2 ou 3 ou sur des situations de jeux , passes, dribbles, rebonds, 
    tir en course, tir en suspension, technique individuelle d’attaque et de défense)</p>
  <p>&nbsp;Possibilité de rester pour du travail individuel avec des entraîneurs</p>
  <p>&nbsp;</p>
  <p>Déjeuner<b> : 12H 15, 12H 45</b></p>
  <p>&nbsp;Entre 13H et 14H 30</p>
  <p>Loisirs salle de jeu, piscine, repos dans les chambres, TV si évènement sportif</p>
  <p>&nbsp;&nbsp;</p>
  <p><b>Terrains de 15H à 17H</b> : 2 heures d’entraînement avec un programme de fondamentaux collectifs (attaque, défense, contre-attaque, système de jeu) avec un groupe de 
    jeu adapté à l’âge et le niveau du stagiaire. Le grand nombre de  stagiaires et les 8 terrains côte à côte permettent d’avoir toujours 
    des groupes équilibrés. Nombreuses rencontres entre équipes.</p>
  <p>&nbsp;<br>
    Repas entre <b>18h 45 et 19H 30</b></p>
  <p><b>Terrains de 20H à 21H 30</b> : 1H30 en soirée pour des rencontres, des tournois, des concours.</p>
  <p><br>
    Retour à l’hôtel, douche, soins si besoin…extinction des lumières à <b>22H30</b>.</p>
  <p>&nbsp;</p>
  <p align="center">
    <img border="0" src="/tba/photo/Retour%20a%20l%20hotel%201.JPG" width="600" height="399"></p>
  <p align="center">
    <img border="0" src="/tba/photo/Retour%20a%20l%20hotel%202.JPG" width="600" height="399"></p>
  <p align="center">
    <img border="0" src="/tba/photo/Retour%20a%20l%20hotel%203.JPG" width="600" height="399"></p>
  <p align="center">
    <strong>            Retour des stagiaires depuis les terrains jusqu'&nbsp;à l'hôtel &quot;Les  Chardonnelles&quot;</strong></p>  
</article>

{% endblock %}
