{% extends "base.html" %}

{% block title %}Accompagnez vos enfants pendant leur camp de basket TBA {% endblock %}

{% block description %} Parents, vous voulez passer vos vacances à la montagne en studio, en appartement ou en chalet pendant que vos enfants participent à un camps de Basket TBA des locations d'une ou deux semaines vous sont proposées pour cela. Vos enfants peuvent ainsi suivre leur camps de basket en externe au prix le plus bas {% endblock %}


{% block content %}
<article class="featured">
  

  <p align="center"><b>&nbsp;<font size="6"><br>
            <font color="#FF0000">LOCATION PARENTS</font></font></b></p>
            <p align="left">&nbsp;<font id="role_document" color="#000000" size="2" face="Verdana"> <strong><font color="#0000ff">FAMILLES, 
              + de 18 ans,&nbsp; CLUBS VACANCES en STUDIOS ou en Chalets</font></strong>
                           

              </font>
            <font id="role_document" color="#FF0000" size="2" face="Verdana">
             

              <p style="margin-left: 5"><b>Studios ou chalet :</b></p>
             

              </font><font id="role_document" color="#000000" size="2" face="Verdana">
             

              <p style="margin-left: 5" dir="ltr">
             Parents, vous voulez passer vos vacances à la montagne en studio, en appartements ou en chalets ?<br />
Vous êtes deux personnes, un couple avec 1 enfant…..2 enfants ?<br />
Vous êtes 5….. des locations d’une ou deux semaines vous sont proposées. <br>
              <br>
              <u><b>Vos enfants suivent le camp de basket en externe au prix le plus bas : Externat Formule 2</b></u><br>
              <br />
<strong>En plus de la réduction de 30 € </strong>sur le coût du stage basket plein temps (inscription en F2 à 178 € au lieu d’une inscription en F1 à 208€)<br />
<br />
TBA vous fait profiter d’une <font color="#ff0000">remise financière  allant de 90 € à 200 € </font>sur le tarif public été 2022 de la Résidence Le Hameau du Puy by Actisource, ou d’une <font color="#ff0000">remise financière de 10%</font> du coût de votre location si vous réservez à l’Hôtel Club Chalets Margot ou à l’agence RESERVATION en DEVOLUY.(vous précisez CAMPS TBA 2022 au moment de votre réservation)<br />
<br />
<strong>TBA vous offre un chèque cadeau</strong> de <font color="#ff0000">5 € </font>pour la boutique TBA pour toute réservation auprès de l’un de ses partenaires.<br />
<br />          
              <br>
              <b>LES LOGEMENTS : <font color="#ff0000">Résidence Hameau du Puy by Actisource </font></b><br />
              <br>
<strong>Aucun frais de dossier pour la réservation que TBA fera pour vous auprès d’Actisource<br />
<br />     
<u>Vous devez réserver votre logement et les stages basket en même temps au moment de l’inscription</u><br />
<br /></strong>
  

<strong>Il reste 1 chalet T3 bien équipé proche des terrains du 30 juillet au 06 août (1 chambre de 3, 1 chambre double et canapé lit dans le salon)  : tarif 699 €<br />
<br /></strong>     

<!--
Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien <b> <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a>. </b> </strong>            
-->

</p>
              
<p style="margin-left: 5" dir="ltr">&nbsp;</p>


 <table border="1" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td colspan="6" valign="top"><p><strong> </strong></p>
                    <table cellspacing="0" cellpadding="0" width="600" border="1">
                      <tbody>
                        <tr>
                          <td colspan="6" valign="top" width="600"><p align="center"><strong><u>Réservation avec prix négociés pour TBA </u></strong><em>remise de 90€ à 200€ sur le prix public</em><strong><u> </u></strong></p>
                            <p>Location de 2 semaines consécutives :<span class="red"> <strong><em><u>remise 10</u></em></strong><em><u>%</u></em><u> </u><strong><u>sur la 2ème semaine</u></strong> </span>(la moins chère des 2 ; valable sur le prix déjà remisé)</p></td>
                        </tr>
                      </tbody>
                  </table>                    <p align="center">&nbsp;</p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center">DATES</p></td>
                  <td width="94"><p align="center">Appt T2 <br />
                    2-4 pers </p></td>
                  <td width="94"><p align="center">Appt T3<br />
                    4-6 pers </p></td>
                  <td width="94"><p align="center">Appt T4 <br />
                    6-8 pers </p></td>
                  <td width="94"><p align="center">Chalet T3<br />
                    4-6 pers </p></td>
                  <td width="94"><p align="center">Chalet T4<br />
                    6-8 pers </p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S1 du 02/07 au 09/07 </strong></p>                   </td>
                  <td width="94" rowspan="1" valign="middle"><p align="center"><s>569€</s><br />
                    <span class="rouge">399€</span> </p></td>
                  <td width="94" rowspan="1" valign="middle"><p align="center"><s>639€</s><br />
                     <span class="rouge">489€</span> </p></td>
                  <td width="94" rowspan="1" valign="middle"><p align="center"><s>759€</s><br />
                     <span class="rouge">559€</span> </p></td>
                  <td width="94" rowspan="1" valign="middle"><p align="center"><s>819€</s><br />
                    <span class="rouge">639€</span> </p></td>
                  <td width="94" rowspan="1" valign="middle"><p align="center"><s>869€</s><br />
                     <span class="rouge">689€</span> </p></td>
                </tr>
                <tr>
                  <td align="center" valign="top"><p align="center"><strong>S2 du 09/07 au 16/07</strong></p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center"><s>569€</s><br />
                  <span class="rouge">439€</span> </p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center"><s>639€</s><br />
                   <span class="rouge">509€</span> </p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center"><s>759€</s><br />
                   <span class="rouge">579€</span> </p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center"><s>819€</s><br />
                   <span class="rouge">659€</span> </p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center"><s>869€</s><br />
                  <span class="rouge">719€</span> </p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S3 du 16/07 au 23/07</strong><br />
                  </p>  </td>
                </tr>
                
                <tr>
                  <td valign="top"><p align="center"><strong>S4 du 23/07 au 30/07  </strong><br />
                  </p>  </td>
                  <td width="94" rowspan="4" valign="middle"><p align="center"><s>569€</s><br />
                  <span class="rouge">479€</span>  </p></td>
                  <td width="94" rowspan="4" valign="middle"><p align="center"><s>639€</s><br />
                   <span class="rouge">549€</span>  </p></td>
                  <td width="94" rowspan="4" valign="middle"><p align="center"><s>759€</s><br />
                   <span class="rouge">649€</span>  </p></td>
                  <td width="94" rowspan="4" valign="middle"><p align="center"><s>819€</s><br />
                   <span class="rouge">699€</span>  </p></td>
                  <td width="94" rowspan="4" valign="middle"><p align="center"><s>869€</s><br />
                  <span class="rouge">769€</span>  </p></td>
                </tr>
                
                
                
                <tr>
                  <td valign="top"><p align="center"><strong>S5 du 30/07 au 06/08</strong><br />
                  </p>       </td>
                </tr>
                 <tr>
                  <td valign="top"><p align="center"><strong>S6 du 06/08 au 13/08</strong></p>                   </td>
                 
</table>

<br />





<!-- enlevé 08/04/19

              <table border="1" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td colspan="6" valign="top"><p align="center"><strong>PROMOTION « early booking :</strong><strong> </strong><strong> </strong><strong><u> </u></strong><strong><u>Réservation jusqu&rsquo;au 28 février 2019</u></strong><strong><u> </u></strong></p>
                    <p><strong>Location de 2 semaines consécutives</strong> : <span class="red"><strong>1 semaine achetée</strong>,<strong><em><u>1 semaine offerte</u></em></strong> </span> (sur la moins chère des deux,  prix publics) </p>
                    <p align="center">Offre non valable sur les chalets T4</p>
                  <p align="center"><span class="red"><strong>1 stage basket obligatoire pour chaque semaine</strong></span></p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center">DATES</p></td>
                  <td width="94"><p align="center">Appt T2 <br />
                    2-4 pers </p></td>
                  <td width="94"><p align="center">Appt T3<br />
                    4-6 pers </p></td>
                  <td width="94"><p align="center">Appt T4 <br />
                    6-8 pers </p></td>
                  <td width="94"><p align="center">Chalet T3 <br />
                    4-6 pers </p></td>
                   
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S2 du 22/06 au 29/06 </strong></p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center">339€</p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center">399€</p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center">479€</p></td>
                  <td width="94" rowspan="2" valign="middle"><p align="center">499€</p></td>
                 
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S3 du 29/06 au 06/07</strong></p></td>
                </tr>
                <tr>
                  <td  valign="top"><p align="center"><strong>S4 du 06/07 au 13/07</strong><br />
                  </p></td>
                  <td width="94" rowspan="6" valign="middle"><p align="center">&nbsp;</p>
                    <p align="center">559€</p></td>
                  <td width="94" rowspan="6" valign="middle"><p align="center">&nbsp;</p>
                    <p align="center">629€</p></td>
                  <td width="94" rowspan="6" valign="middle"><p align="center">&nbsp;</p>
                    <p align="center">739€</p></td>
                  <td width="94" rowspan="6" valign="middle"><p align="center">&nbsp;</p>
                    <p align="center">759€</p></td>
                  
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S5 du 13/07 au 20/07</strong><br />
                  </p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S6 du 20/07 au 27/07 </strong><br />
                  </p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S7 du 27/07 au 03/08</strong><br />
                  </p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S8 du 03/08 au 10/08</strong></p></td>
                </tr>
                <tr>
                  <td valign="top"><p align="center"><strong>S9 du 10/08 au 17/08</strong></p></td>
                </tr>
              </table>
      -->
              
             
<p style="margin-left: 5" dir="ltr">&nbsp;</p>
 
<p><strong> Pour   tout logement chalet ou appartement réservé aux &quot;Hameau du Puy&quot;,   l'acompte versé devra être de 200 €, chèque à l'ordre de TBA.</strong></p>

<font id="role_document" color="#FF0000" size="2" face="Verdana">
            <p style="margin-left: 5"><u><b>Ces logements sont situés tout à côté des terrains de basket</b></u></p>
</font>
<!-- supprimer 20/06/21 JMS
<p>Les logements : <a target="_blank" href="{{ settings.PIECES.hameau_resa_pdf }}">fiche de réservation</a></p>
-->             
               
               
<p><strong>Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien </strong> <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a><strong><br />





  <br />
  Très rapidement, certains types de logements peuvent ne plus être disponibles au niveau de la résidence « Le Hameau du Puy ». Vous avez d’autres possibilités de locations : <br />
  <br />
  <font color="#ff0000"> RESERVATION en DEVOLUY </font>vous propose des appartements situés dans différentes résidences situées également à côté des terrains de basket.<br />
Précisez avec votre réservation que vous venez pour inscrire un stagiaire à TBA camps de basket, vous aurez alors 10% de remise sur le tarif public. Avec cette remise vous pouvez louer un logement pour 4 personnes à moins de 200 € jusqu’au 23 juillet et à moins de 270 € entre le 23 juillet et le 13 août. Beaucoup de possibilités de logements entre 300 et 400 €.</strong><br />
Voici la fiche des tarifs de RESERVATION en DEVOLUY <a target="_blank" href="{{ settings.PIECES.devoluy }}">Ici</a><br /><br />
</p>
              <p><br>
                
  <!--  enlever le 071116 , suite exclusivité hameaux du puy
Voici le site <a href="http://www.reservation-en-devoluy.com" target="_blank">www.reservation-en-devoluy.com</a>. Pour les tarifs cliquer <a href="{{ settings.PIECES.devoluy }}" target="_blank">ici</a>.<br>
<br>
Cette résidence se trouve à 100 mètres des terrains de basket.(à droite de la salle des sports par rapport à la photo)<br>
<br>
Vous pouvez téléphoner à Bernadette Lapeyre et pour toute réservation avec le code TBA {{ settings.ANNEE }}, nous avons négocié la gratuité des draps qui ne sont pas compris dans le tarif de base.<br>
<br>
Vous bénéficiez aussi du tarif réduit formule 2 au niveau du camp de basket.
-->
              </p>
               
               
               

              <p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/camps-basket-002.jpg" width="575" >
<br />
<br />

              <img border="0" src="/tba/photo/DSC_6070.JPG" width="575" ><br>
 
              Une partie des terrains de basket&nbsp;de SUPERDEVOLUY&nbsp;avec les chalets   <span style="letter-spacing: normal; font-weight: 700">&quot;Les 
              Hameaux du Puy&quot;</span></p>
        
             

              <p><strong>Descriptifs des appartements :</strong></p>
              <p><strong>Dans tous les appartements :</strong><br />
                - Séjour avec couchages 2 personnes<br />
                - Coin cuisine avec 4 plaques chauffantes, réfrigérateur avec compartiment congélateur , micro- ondes/grill, lave-vaisselle, cafetière, grille-pain.<br />
                - Salle de bains avec baignoire et WC séparés ou non<br />
                - Balcon</p>
</p>
 
 
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet2.JPG"  />
<br /><br />
</div>         
              
              
              
              <p><strong>Chalet  3 pièces (42m2+)    pour 6 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour ouvrant sur terrasse avec un canapé convertible 2 personnes, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, avec  chacune deux lits simples modulables en lit double.</p>
              <p> </p>
              <p><strong>Chalet 4 pièces  (56m2+)    pour 8 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour spacieux  ouvrant sur terrasse avec un canapé convertible 2 personnes, une chambre avec un lit double, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, avec chacune deux lits simples modulables en lit double, une douche avec WC.</p>
              <p> </p>
              <p><strong>Appartement 2 pièces (de 25 à 30m²)    pour 4 personnes</strong></p>
              <p>Cuisine entièrement équipée, modulables en lit double, un canapé convertible 2 personnes dans le séjourune chambre avec deux lits simples, salle de bains avec baignoire ou douche et WC.</p>
              <p> </p>
              <p><strong>Appartement 3 pièces (de 35 à 45m²)    pour 6 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, une chambre avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire ou douche et WC séparés.</p>
              <p> </p>
              <p><strong>Appartement 4 pièces (environ 45m²)   pour 8 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, deux chambres avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire et WC séparés. La majorité de ces appartements sont en duplex et ont aussi une douche</p>
              
              
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag2.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag5.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag6.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag4.jpg"  width="180px" />
<img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag3.jpg" width="180px"  />
<br /><br />
</div>                    
              
              
              <p style="margin-left: 5" align="left">&nbsp;</p>
             
<!-- 17/12/20 "piraté" - NDD pas renouvelé
              <p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/actisource.png" width="600" ><br />
              <a href="http://hameaudupuy.com/" target="_blank">http://hameaudupuy.com/</a> </p>
-->

            <p  >
            <b>
            <span style="font-size: 10.0pt; font-family: Verdana; color: red">
            HÔTEL CLUB RESIDENCE et CHALETS MARGOT :</span></b></p>
             

              <p style="margin-left: 5">Parents vous voulez passer des vacances en chalet ? Vous voulez de 
              l’espace ? Vos enfants sont avec vous et suivent dans le même temps les camps de basket au même rythme que les stagiaires internes.<br>
              <br>
              Voici « LES CHALETS MARGOT » prévus pour 6 à 11 personnes et la « RESIDENCE CHARDONNELLES », appartements prévus pour 2 à 8 personnes.<br>
              <br>
              Vous choisissez la formule qui vous convient avec possibilité de formules petit déjeuner en restaurant ou formule repas du soir, ou 
              formule repas du midi ou formule « je n’ai besoin de rien ! »<br>
              <b><br>
              Une remise de 10% sur le prix public (soit entre 44 € et 82 €  <span style="color: red">pour la location d’un chalet</span>, soit entre 32 € et 65 € <span style="color: red">pour la location d’un appartement)</span></b> vous est accordée en réservant au moins 1 stage basket avec TBA. Code de réservation TBA {{ settings.ANNEE }}.<br />
<br />
              <br>
              <strong>TBA vous offre un chèque cadeau de 5 € </strong>pour la boutique TBA.<br>
        <br>
              Le stage basket se fait en Formule 2<br>
 </p>
             

              <p style="margin-left: 5" align="center">
              <a target="_blank" href="http://www.chalets-margot.com"> www.chalets-margot.com</a>&nbsp;&nbsp;<br>
              <br>
            
<strong>L’hôtel Les Chardonnelles, sa piscine et son bar</strong><br />
<br />

              <img src="/tba/photo/MG_4343.jpg" height="144"> &nbsp;
             <img src="/tba/photo/HOTEL-PISCINE-PONT-1-2005.jpg" height="144">
<br />
<br />
			  <img src="/tba/photo/MG_4186.jpg" height="144"> &nbsp;
             <img src="/tba/photo/bar-3.jpg" height="144">
            

<br />
<br />
<strong>Intérieur des appartements et des studios situés dans Les Chardonnelles</strong><br />
<br />


              <img src="/tba/photo/IMG_5921.jpg" height="144"> &nbsp;
              <img src="/tba/photo/IMG_5925.jpg" height="144"> &nbsp;
              <img src="/tba/photo/IMG_5943.jpg" height="144">
<br />
<br />
<strong>Les chalets Margot</strong><br />



              <img src="/tba/photo/CHALET-ETE-1.jpg" height="144"> &nbsp;
              <img src="/tba/photo/CHALET-ETE-5.jpg" height="144"> &nbsp;

<br />
<br />
              <!-- <img src="/tba/photo/MG_4332.jpg" height="144"> &nbsp;
              <img src="/tba/photo/MG_4333.jpg" height="144"> &nbsp;
-->
              <img src="/tba/photo/TBA-141221-2.jpg" height="200"> &nbsp;

              <br />
              <br />

            <img src="/tba/photo/chalet-m8-m9-bas.jpg" height="144">
            <br />


   <!--     
        <table width="640" border="0">
  <tr>
    <td align="center"><img src="/tba/photo/chalet-m8-m9-bas.jpg" height="144"></td>
    <td align="center"></td>
    <td align="center"></td>
  </tr>
  <tr>
    <td align="center"><strong>Chalet</strong></td>
    <td align="center"><strong>Hôtel et piscine</strong></td>
    <td align="center"><strong>Le bar de l’hôtel </strong></td>
  </tr>
</table>
-->
        
 </p>
             

              <p style="margin-left: 5" align="center">
               <br /> 
<a href="{{ settings.PIECES.margot }}" target="_blank">Tarifs 2022 et explications des différentes formules possibles : appartements, chalets, hôtel </a> </p>


<p style="margin-left: 5" align="center">
              <br />  
  <img src="/tba/photo/sherpa.jpg" ><strong> 
Le supermarché SHERPA, partenaire de TBA, situé à l’accueil de la station, offre aux parents de nos stagiaires, qui viennent en vacances dans la station de Superdévoluy, une remise de 15% sur tous les articles du supermarché.</strong></p>

 



</article>
{% endblock %}
