{% extends "base.html" %}

{% block title %}Accompagnez vos enfants pendant leur camp de basket TBA {% endblock %}

{% block description %} Parents, vous voulez passer vos vacances à la montagne en studio, en appartement ou en chalet pendant que vos enfants participent à un camps de Basket TBA des locations d'une ou deux semaines vous sont proposées pour cela. Vos enfants peuvent ainsi suivre leur camps de basket en externe au prix le plus bas {% endblock %}


{% block content %}
<article class="featured">
  

  <p align="center"><b>&nbsp;<font size="6"><br>
            <font color="#FF0000">LOCATION PARENTS</font></font></b></p>
            <p align="left">&nbsp;<font id="role_document" color="#000000" size="2" face="Verdana"> <strong><font color="#0000ff">
            FAMILLES, VACANCES en STUDIOS, APPARTEMENTS ou CHALETS<br>
            </font></strong>
                           

              </font>
              <br>
<strong><font color="#FF0000">

            <font id="role_document" color="#FF0000" size="2" face="Verdana">           

              <p style="margin-left: 5"><b>Studios ou chalet :</b></p>
             

              </font><font id="role_document" color="#000000" size="2" face="Verdana">
             

              <p style="margin-left: 5" dir="ltr">
             Parents, vous voulez passer vos vacances à la montagne en studios, en appartements ou en chalets ?<br />
Vous êtes deux personnes, un couple avec 1 enfant ... 2 enfants ?<br />
Vous êtes 5 ou 6, ou plus... des locations d’une ou deux semaines vous sont proposées. <br>
              <br>

TBA vous fait profiter d’une <font color="#ff0000">remise financière allant de 100 € à 200 € </font>sur le tarif public été 2025 de la Résidence Le Hameau du Puy by Actisource, ou d’une <font color="#ff0000">remise financière de 10% </font>du coût de votre location si vous réservez à l’agence RESERVATION en DEVOLUY. (vous précisez CAMPS TBA 2025 au moment de votre réservation).  <br />
  <br />

              <u><b>Vos enfants suivent le camp de basket en externe au prix le plus bas : Formule 2 Externe (228 €) ou Formule 2 Externe INITIATION (160 €)</b></u><br>
              <br />
<strong>En plus de la réduction de 40 € </strong>sur le coût du stage basket plein temps (inscription en F2 à 228 € au lieu d’une inscription en F1 à 268€)<br />
<br />
<strong>TBA vous offre un chèque cadeau</strong> de <font color="#ff0000">10 € </font>pour la boutique TBA pour toute réservation auprès de l’un de ses partenaires.<br />
<br />          

Vous pouvez aussi  faire des réservations directement auprès de propriétaires via internet ou auprès de Sunweb pour les chalets Margot (chalets de 8 à 10 personnes)  et dans ce cas<br /> 
<br /> 
<u><b>Vos enfants suivent le camp de basket en externe au tarif externe de la formule 1 : Formule 1 Externat (268 €) ou Formule 1 Externe INITIATION (190 €)</b></u><br>
<br /> 
Vous avez en bas de page une possibilité de contacter un particulier qui propose différents logements refaits à neuf à un prix très attractif de 300 € pour 1 semaine (Logements pour 4 ou 5 personnes et un appartement de 6/8 personnes)
<br /> 

              <br>
              <b>LES LOGEMENTS : <font color="#ff0000">Résidence Hameau du Puy by Actisource </font></b><br />
              <br>
<strong>Aucun frais de dossier pour la réservation que TBA fera pour vous auprès de la Boutique by Actisource<br />
<br />     
<u>Vous devez réserver votre logement et les stages basket en même temps au moment de l’inscription</u><br />
<br /></strong>
      
<br />     

<!--
Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien <b> <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a>. </b> </strong>            
-->

</p>
              
<p style="margin-left: 5" dir="ltr">&nbsp;</p>

Prix en noir rayé = prix public officiel 2025  | <span class="rouge">Prix en rouge </span> = Prix négociés par TBA<br />  
<br />  
<table border="1" width="600" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="width: 600px;" colspan="6" valign="top">
        <p>&nbsp;</p>
        <table border="1" width="600" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td colspan="6" valign="top" width="600">
                <p align="center"><strong><u>R&eacute;servation avec prix n&eacute;goci&eacute;s pour TBA&nbsp;</u></strong><em>remise de 100&euro; &agrave; 200&euro; sur le prix public</em><u>&nbsp;</u></p>
                <p>Location de 2 semaines cons&eacute;cutives&nbsp;:<span class="red">&nbsp;<strong><em><u>remise 10</u></em></strong><em><u>%</u></em><u>&nbsp;</u><strong><u>sur la 2&egrave;me semaine</u></strong>&nbsp;</span>(la moins ch&egrave;re des 2&nbsp;; valable sur le prix d&eacute;j&agrave; remis&eacute;)</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p align="center">&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;" valign="top">
        <p align="center">DATES</p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center">Appt T2<br />2-4 pers</p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center">Appt T3<br />4-6 pers</p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center">Appt T4<br />6-8 pers</p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center">Chalet T3<br />4-6 pers</p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center">Chalet T4<br />6-8 pers</p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;" valign="top">
        <p align="center"><strong>Semaine 1 :&nbsp;<br />du 28/06 au 05/07&nbsp;</strong></p>
      </td>
      <td style="width: 67.3438px;" valign="middle">
        <p align="center"><s>399&euro;</s><br /><span class="rouge">299&euro;</span></p>
      </td>
      <td style="width: 80.4062px;" valign="middle">
        <p align="center"><s>459&euro;</s><br /><span class="rouge">359&euro;</span></p>
      </td>
      <td style="width: 93.4688px;" valign="middle">
        <p align="center"><s>539&euro;</s><br /><span class="rouge">439&euro;</span></p>
      </td>
      <td style="width: 94.4688px;" valign="middle">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">499&euro;</span></p>
      </td>
      <td style="width: 94.5156px;" valign="middle">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">COMPLET</span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 2 :&nbsp;<br />du 05/07 au 12/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">449&euro;</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>669&euro;</s><br /><span class="rouge">539&euro;<br /></span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>789&euro;</s><br /><span class="rouge">589&euro;</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>849&euro;</s><br /><span class="rouge">COMPLET</span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>899&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 3 :&nbsp;<br />du 12/07 au 19/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">499&euro;</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>669&euro;</s><br /><span class="rouge">569&euro;<br /></span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>789&euro;</s><br /><span class="rouge">689&euro;<br /></span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>849&euro;</s><br /><span class="rouge">739&euro;<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>899&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 4 :&nbsp;<br />du 19/07 au 26/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">499&euro;<br /></span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>669&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>789&euro;</s><br /><span class="rouge">689&euro;<br /></span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>849&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>899&euro;</s><span class="rouge"><br />COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 5 :&nbsp;<br />du 26/07 au 02/08</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">499&euro;<br /></span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>669&euro;</s><br /><span class="rouge">569 &euro;<br /></span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>789&euro;</s><br /><span class="rouge">689&euro;<br /></span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>849&euro;</s><br /><span class="rouge">739 &euro;<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>899&euro;<br /></s><span class="rouge">COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 6 :&nbsp;<br />du 02/08 au 09/08</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>599&euro;</s><br /><span class="rouge">499&euro;<br /></span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>669&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>789&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>849&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>899&euro;</s><span class="rouge"><br />COMPLET<br /></span></p>
      </td>
    </tr>
  </tbody>
</table>


<p>&nbsp;</p>
 

<p>&nbsp;</p>
<!--
<p>Un chalet T4 entièrement refait à neuf peut se louer mais OBLIGATOIREMENT en FORMULE CONFORT avec MENAGE COMPLET + linge de lit + linge de toilette pour tous les occupants :<br />
<br /></p>
-->

<p>&nbsp;</p>

<img src="/tba/photo/chalet.jpg" width="620">

<br /><br />
PRIX OFFICIELS 2025 Résidence Le Hameau du Puy By Actisource***<br />
<br />

<img src="/tba/photo/2025-Grille-tarifaire-HDP.jpg" width="620">
              
             
<p style="margin-left: 5" dir="ltr">&nbsp;</p>
 
<p><strong> Pour tout logement chalet ou appartement réservé aux &quot;Hameau du Puy&quot;,   l'acompte versé devra être de 200 €, chèque à l'ordre de TBA, ou virement avec l’acompte du ou des stages.</strong></p>
<br><br>
<font id="role_document" color="#FF0000" size="2" face="Verdana">
            <p style="margin-left: 5"><u><b>Ces logements sont situés tout à côté des terrains de basket</b></u></p>
</font>
             
<p><strong>Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien  <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a></strong><br />


<p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/camps-basket-002.jpg" width="250" >


              <img border="0" src="/tba/photo/DSC_6070.JPG" width="250" ><br>
 
              Une partie des terrains de basket&nbsp;de SUPERDEVOLUY&nbsp;avec les chalets   <span style="letter-spacing: normal; font-weight: 700">&quot;Les 
              Hameaux du Puy&quot;</span></p>
        
             

              <p><strong>Descriptifs des appartements :</strong></p>
              <p><strong>Dans tous les appartements :</strong><br />
                - Séjour avec couchages 2 personnes<br />
                - Coin cuisine avec 4 plaques chauffantes, réfrigérateur avec compartiment congélateur , micro- ondes/grill, lave-vaisselle, cafetière, grille-pain.<br />
                - Salle de bains avec baignoire et WC séparés ou non<br />
                - Balcon</p>
</p>
 
  <!--    
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet2.JPG"  />
<br /><br />
</div>         
-->              
              
              
              <p><strong>Chalet 3 pièces (42m2+) pour 6 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour ouvrant sur terrasse avec un canapé convertible 2 personnes, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, l’une avec deux lits simples, l’autre avec 1 lit double. </p>
              <p> </p>
              <p><strong>Chalet 4 pièces  (56m2+)    pour 8 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour spacieux ouvrant sur terrasse avec un canapé convertible 2 personnes, une chambre avec un lit double, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, l’une avec deux lits simples, l’autre avec 1 lit double, une douche avec WC.</p>
              <p> </p>
              <p><strong>Appartement 2 pièces (de 25 à 30m²)    pour 4 personnes</strong></p>
              <p>Cuisine entièrement équipée, modulables en lit double, un canapé convertible 2 personnes dans le séjourune chambre avec deux lits simples, salle de bains avec baignoire ou douche et WC.</p>
              <p> </p>
              <p><strong>Appartement 3 pièces (de 35 à 45m²)    pour 6 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, une chambre avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire ou douche et WC séparés.</p>
              <p> </p>
              <p><strong>Appartement 4 pièces (environ 45m²)   pour 8 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, deux chambres avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire et WC séparés. La majorité de ces appartements sont en duplex et ont aussi une douche</p>
              
      <!--        
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag2.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag5.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag6.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag4.jpg"  width="180px" />
<img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag3.jpg" width="180px"  />
<br /><br />
</div>          
-->



  <br />
  Très rapidement, certains types de logements peuvent ne plus être disponibles au niveau de la résidence « Le Hameau du Puy ». Vous avez d’autres possibilités de locations : <br />
  <br />
<u>En formule 2 Externat</u> , soit au tarif le plus bas avec : F2 Externat temps complet 228 € ou F2 Externat INITIATION  160 €<br />

  <font color="#ff0000"> RESERVATION en DEVOLUY </font>vous propose des studios et des  appartements situés dans différentes résidences situées également à côté des terrains de basket.<br />
Précisez avec votre réservation que vous venez pour inscrire un stagiaire à TBA camps de basket, vous aurez alors 10% de remise sur le tarif public.</strong><br />
Voici la fiche des tarifs de RESERVATION en DEVOLUY <a target="_blank" href="{{ settings.PIECES.devoluy }}">Ici</a><br /><br />
</p>
    
               
              
              <p style="margin-left: 5" align="left">&nbsp;</p>
             
<!-- 17/12/20 "piraté" - NDD pas renouvelé
              <p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/actisource.png" width="600" ><br />
              <a href="http://hameaudupuy.com/" target="_blank">http://hameaudupuy.com/</a> </p>
-->



<p><strong> En formule 1 Externat, soit au tarif de : F1 Externat temps complet 268 € ou F1 Externat INITIATION 190 €<br>
<br>
Possibilité de louer 4 appartements 4 personnes refaits à neuf. 300 € la semaine<br>
<br>
Il y a aussi un appartement 6/8 personnes 600 € la semaine<br>
 <br>
Contacter : Michelle HARDELIN  0607944832<br>
<a href="mailto:michellehardelin@csd-securite.fr" target="_blank" rel="noopener">michellehardelin@csd-securite.fr</a>
</strong>
</p>

<span class="rouge" > <u> Appartements 4/5 personnes situés tous au Sud avec balcon (Résidence Bois d’Aurouze) </u></span>
<br>
 

<span class="rouge" ><b> Appartement 134 S / 1er étage<br></b></span>
Prix semaine : 300 euros<br>
3 lits superposés 90<br>
1 canapé lit double avec sur matelas 140c<br>
 <div style="text-align:center;">
   <img src="https://www.camps-basket.com/tba/photo/app-134-01.jpg" width="180px" />
   <img src="https://www.camps-basket.com/tba/photo/app-134-02.jpg" height="105px" />
<br />
</div>          
<br>

 
<span class="rouge" > <b>Appartement 233 S / 2ème étage<br></b></span>
Prix semaine : 300 euros<br>
2 lits superposés 1 personne <br>
1 canapé lit double avec sur matelas <br>
 <div style="text-align:center;">
   <img src="https://www.camps-basket.com/tba/photo/app-233-01.jpg" width="180px" />
   <img src="https://www.camps-basket.com/tba/photo/app-233-02.jpg" width="180px" />
<br />
</div> 
<br>
 

<span class="rouge" > <b>Appartement 109 S / 1er étage<br></b></span>
Prix semaine : 300 euros<br>
2 lits superposés double personne 140<br>
1 canapé lit double avec sur matelas   <br>
 <div style="text-align:center;">
   <img src="https://www.camps-basket.com/tba/photo/app-109-01.jpg" height="155px" />
   <img src="https://www.camps-basket.com/tba/photo/app-109-02.jpg" width="180px" />
<br />
</div> 
<br>
 

<span class="rouge" > <b>Appartement 111 S / 1er étage<br></b></span>
Prix semaine : 300 euros<br>
2 lits superposés 90 <br>
1 canapé lit double avec vrai matelas 140<br>
 <div style="text-align:center;">
   <img src="https://www.camps-basket.com/tba/photo/app-111-01.jpg" width="180px" />
   <img src="https://www.camps-basket.com/tba/photo/app-111-02.jpg" height="105px" />
<br />
</div> 


            <p  >
            <b>
            <span style="font-size: 10.0pt; font-family: Verdana; color: red">
            HÔTEL CLUB RESIDENCE et CHALETS MARGOT :</span></b></p>
             

              <p style="margin-left: 5">

Voici « LES CHALETS MARGOT » prévus pour 6 à 10 personnes.<br />
<br />
Pour les infos, consultez le site de SUNWEB Superdévoluy<br />
<br />
L’inscription du ou des stagiaires se fait en <b>Formule 1</b><br />

              <!--Une remise de 10% sur le prix public</b> vous est accordée en réservant au moins 1 stage basket avec TBA.  Code de réservation TBA {{ settings.ANNEE }}.
              -->
              <br />
  
           
<br />
              
              <br>
<!--  
<strong>L’hôtel Les Chardonnelles, sa piscine et son bar</strong><br />
<br />

              <img src="/tba/photo/MG_4343.jpg" height="144"> &nbsp;
             <img src="/tba/photo/HOTEL-PISCINE-PONT-1-2005.jpg" height="144">
<br />
<br />
			  <img src="/tba/photo/MG_4186.jpg" height="144"> &nbsp;
             <img src="/tba/photo/bar-3.jpg" height="144">
            

<br />
 
<strong>Les chalets Margot</strong><br />

-->

          
              <img src="/tba/photo/TBA-141221-2.jpg" height="200"> &nbsp;

              <br />
              <br />
 
        
 </p>
             
<!--
              <p style="margin-left: 5" align="center">
               <br /> 
<a href="{{ settings.PIECES.margot }}" target="_blank">Tarifs 2023 : locations de chalets SUNWEB  chalets Margot  </a> </p>
-->

<p style="margin-left: 5" align="center">
              <br />  
  <img src="/tba/photo/sherpa.jpg" ><strong> 
Le supermarché SHERPA, partenaire de TBA, situé à l’accueil de la station, offre aux parents de nos stagiaires, qui viennent en vacances dans la station de Superdévoluy, une remise de 15% sur tous les articles du supermarché.</strong></p>

 



</article>
{% endblock %}
