{% extends "base.html" %}

{% block title %}Accompagnez vos enfants pendant leur camp de basket TBA {% endblock %}

{% block description %} Parents, vous voulez passer vos vacances à la montagne en studio, en appartement ou en chalet pendant que vos enfants participent à un camps de Basket TBA des locations d'une ou deux semaines vous sont proposées pour cela. Vos enfants peuvent ainsi suivre leur camps de basket en externe au prix le plus bas {% endblock %}


{% block content %}
<article class="featured">
  

  <p align="center"><b>&nbsp;<font size="6"><br>
            <font color="#FF0000">LOCATION PARENTS</font></font></b></p>
            <p align="left">&nbsp;<font id="role_document" color="#000000" size="2" face="Verdana"> <strong><font color="#0000ff">
            FAMILLES, VACANCES en STUDIOS, APPARTEMENTS ou CHALETS
            </font></strong>
                           

              </font>
            <font id="role_document" color="#FF0000" size="2" face="Verdana">
             

              <p style="margin-left: 5"><b>Studios ou chalet :</b></p>
             

              </font><font id="role_document" color="#000000" size="2" face="Verdana">
             

              <p style="margin-left: 5" dir="ltr">
             Parents, vous voulez passer vos vacances à la montagne en studios, en appartements ou en chalets ?<br />
Vous êtes deux personnes, un couple avec 1 enfant ... 2 enfants ?<br />
Vous êtes 5 ou 6, ou plus... des locations d’une ou deux semaines vous sont proposées. <br>
              <br>

TBA vous fait profiter d’une <font color="#ff0000">remise financière allant de 90 € à 200 € </font>sur le tarif public été 2024 de la Résidence Le Hameau du Puy by Actisource, ou d’une <font color="#ff0000">remise financière de 10% </font>du coût de votre location si vous réservez à l’agence RESERVATION en DEVOLUY. (vous précisez CAMPS TBA 2024 au moment de votre réservation).  <br />
  <br />

              <u><b>Vos enfants suivent le camp de basket en externe au prix le plus bas : Externat Formule 2 (218 €)</b></u><br>
              <br />
<strong>En plus de la réduction de 40 € </strong>sur le coût du stage basket plein temps (inscription en F2 à 218 € au lieu d’une inscription en F1 à 258€)<br />
<br />
<strong>TBA vous offre un chèque cadeau</strong> de <font color="#ff0000">10 € </font>pour la boutique TBA pour toute réservation auprès de l’un de ses partenaires.<br />
<br />          

Vous pouvez aussi  faire des réservations directement auprès de propriétaires via internet ou auprès de Sunweb pour les chalets Margot (chalets de 8 à 10 personnes)  et dans ce cas<br /> 
<br /> 
<u><b>Vos enfants suivent le camp de basket en externe au tarif externe de la formule 1 : Externat Formule 1  (258 €)</b></u><br>
<br /> 



              <br>
              <b>LES LOGEMENTS : <font color="#ff0000">Résidence Hameau du Puy by Actisource </font></b><br />
              <br>
<strong>Aucun frais de dossier pour la réservation que TBA fera pour vous auprès d’Actisource<br />
<br />     
<u>Vous devez réserver votre logement et les stages basket en même temps au moment de l’inscription</u><br />
<br /></strong>
  
<strong><u>Nous pouvons vous proposer un chalet T3 et un chalet T4 pour  quelques semaines de camps.<br />     
Attention ce sera surement les derniers, tout est complet au niveau des chalets.</u></strong><br />     
<br />     

<!--
Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien <b> <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a>. </b> </strong>            
-->

</p>
              
<p style="margin-left: 5" dir="ltr">&nbsp;</p>

Prix en noir rayé = prix public officiel 2023  | <span class="rouge">Prix en rouge </span> = Prix négociés par TBA<br />  
<br />  
<table border="1" width="600" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="width: 600px;" colspan="6" valign="top">
        <p>&nbsp;</p>
        <table border="1" width="600" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td colspan="6" valign="top" width="600">
                <p align="center"><strong><u>R&eacute;servation avec prix n&eacute;goci&eacute;s pour TBA </u></strong><em>remise de 90&euro; &agrave; 200&euro; sur le prix public</em><u> </u></p>
                <p>Location de 2 semaines cons&eacute;cutives&nbsp;:<span class="red"> <strong><em><u>remise 10</u></em></strong><em><u>%</u></em><u> </u><strong><u>sur la 2&egrave;me semaine</u></strong> </span>(la moins ch&egrave;re des 2&nbsp;; valable sur le prix d&eacute;j&agrave; remis&eacute;)</p>
              </td>
            </tr>
          </tbody>
        </table>
        <p align="center">&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;" valign="top">
        <p align="center">DATES</p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center">Appt T2 <br />2-4 pers</p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center">Appt T3<br />4-6 pers</p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center">Appt T4 <br />6-8 pers</p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center">Chalet T3<br />4-6 pers</p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center">Chalet T4<br />6-8 pers</p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;" valign="top">
        <p align="center"><strong>Semaine 1 : <br />du 01/07 au 08/07 </strong></p>
      </td>
      <td style="width: 67.3438px;" valign="middle">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">399&euro;</span></p>
      </td>
      <td style="width: 80.4062px;" valign="middle">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">499&euro;</span></p>
      </td>
      <td style="width: 93.4688px;" valign="middle">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">569&euro;</span></p>
      </td>
      <td style="width: 94.4688px;" valign="middle">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">659&euro;</span></p>
      </td>
      <td style="width: 94.5156px;" valign="middle">
        <p align="center"><s>879&euro;</s><br /><span class="rouge">749&euro;<br />1 CHALET DISPONIBLE</span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 2 : <br />du 08/07 au 15/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">459&euro;</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">529&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">599&euro;</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">689&euro;</span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;</s><br /><span class="rouge">COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 3 : <br />du 15/07 au 22/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">459&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">529&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">599&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">689&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;</s><br /><span class="rouge">789&euro;<br />COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 4 : <br />du 22/07 au 29/07</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">489&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">569&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">669&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">699&euro;<br />COMPLET<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;</s><span class="rouge"><br />COMPLET</span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 5 : <br />du 29/07 au 05/08</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">489&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">569&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">669&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">699&euro;<br />COMPLET&nbsp;<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;<br /></s>849&euro;<br /><span class="rouge">COMPLET<br /></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 6 : <br />du 05/08 au 12/08</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">489&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">569&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">669&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">699&euro;<br />COMPLET<br /></span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;</s><span class="rouge"><br />COMPLET</span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 159.797px;">
        <p align="center"><strong>Semaine 7 : <br />du 12/08 au 19/08</strong></p>
      </td>
      <td style="width: 67.3438px;">
        <p align="center"><s>579&euro;</s><br /><span class="rouge">469&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 80.4062px;">
        <p align="center"><s>649&euro;</s><br /><span class="rouge">549&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 93.4688px;">
        <p align="center"><s>769&euro;</s><br /><span class="rouge">649&euro;</span></p>
      </td>
      <td style="width: 94.4688px;">
        <p align="center"><s>829&euro;</s><br /><span class="rouge">699&euro;<br />COMPLET</span></p>
      </td>
      <td style="width: 94.5156px;">
        <p align="center"><s>879&euro;</s><br /><span class="rouge">849&euro;<br />COMPLET<br /></span></p>
      </td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>
<p>Le chalet T4 qui est disponible est loué avec ménage complet compris et avec linge de lit et linge de toilettes fournis</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


PRIX OFFICIELS 2023 Résidence Le Hameau du Puy By Actisource***<br />
<br />

<img src="/tba/photo/2023-Grille-tarifaire-HDP.jpg" width="620">
              
             
<p style="margin-left: 5" dir="ltr">&nbsp;</p>
 
<p><strong> Pour tout logement chalet ou appartement réservé aux &quot;Hameau du Puy&quot;,   l'acompte versé devra être de 200 €, chèque à l'ordre de TBA, ou virement avec l’acompte du ou des stages.</strong></p>

<font id="role_document" color="#FF0000" size="2" face="Verdana">
            <p style="margin-left: 5"><u><b>Ces logements sont situés tout à côté des terrains de basket</b></u></p>
</font>
<!-- supprimer 20/06/21 JMS
<p>Les logements : <a target="_blank" href="{{ settings.PIECES.hameau_resa_pdf }}">fiche de réservation</a></p>
-->             
               
               
<p><strong>Les tarifs et les renseignements concernant la résidence le HAMEAU DU PUY (chalets mitoyens ou chalet collectif avec piscine chauffée et sauna) sur le lien </strong> <a target="_blank" href="{{ settings.PIECES.hameau_tarif_pdf }}">ici</a><strong><br />





  <br />
  Très rapidement, certains types de logements peuvent ne plus être disponibles au niveau de la résidence « Le Hameau du Puy ». Vous avez d’autres possibilités de locations : <br />
  <br />
  <font color="#ff0000"> RESERVATION en DEVOLUY </font>vous propose des studios et des  appartements situés dans différentes résidences situées également à côté des terrains de basket.<br />
Précisez avec votre réservation que vous venez pour inscrire un stagiaire à TBA camps de basket, vous aurez alors 10% de remise sur le tarif public. Avec cette remise vous pouvez louer un logement mini studio pour 3 personnes à 200 € jusqu’au 22 juillet et à 220 € entre le 22 juillet et le 19 août. Beaucoup de possibilités de logements pour 4 personnes entre 220 € et 400 €, des appartements pour 6 personnes entre 360 € et 500 €.</strong><br />
Voici la fiche des tarifs de RESERVATION en DEVOLUY <a target="_blank" href="{{ settings.PIECES.devoluy }}">Ici</a><br /><br />
</p>
              <p><br>
                
  <!--  enlever le 071116 , suite exclusivité hameaux du puy
Voici le site <a href="http://www.reservation-en-devoluy.com" target="_blank">www.reservation-en-devoluy.com</a>. Pour les tarifs cliquer <a href="{{ settings.PIECES.devoluy }}" target="_blank">ici</a>.<br>
<br>
Cette résidence se trouve à 100 mètres des terrains de basket.(à droite de la salle des sports par rapport à la photo)<br>
<br>
Vous pouvez téléphoner à Bernadette Lapeyre et pour toute réservation avec le code TBA {{ settings.ANNEE }}, nous avons négocié la gratuité des draps qui ne sont pas compris dans le tarif de base.<br>
<br>
Vous bénéficiez aussi du tarif réduit formule 2 au niveau du camp de basket.
-->
              </p>
               
               
               

              <p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/camps-basket-002.jpg" width="575" >
<br />
<br />

              <img border="0" src="/tba/photo/DSC_6070.JPG" width="575" ><br>
 
              Une partie des terrains de basket&nbsp;de SUPERDEVOLUY&nbsp;avec les chalets   <span style="letter-spacing: normal; font-weight: 700">&quot;Les 
              Hameaux du Puy&quot;</span></p>
        
             

              <p><strong>Descriptifs des appartements :</strong></p>
              <p><strong>Dans tous les appartements :</strong><br />
                - Séjour avec couchages 2 personnes<br />
                - Coin cuisine avec 4 plaques chauffantes, réfrigérateur avec compartiment congélateur , micro- ondes/grill, lave-vaisselle, cafetière, grille-pain.<br />
                - Salle de bains avec baignoire et WC séparés ou non<br />
                - Balcon</p>
</p>
 
 
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_chalet2.JPG"  />
<br /><br />
</div>         
              
              
              
              <p><strong>Chalet 3 pièces (42m2+) pour 6 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour ouvrant sur terrasse avec un canapé convertible 2 personnes, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, l’une avec deux lits simples, l’autre avec 1 lit double. </p>
              <p> </p>
              <p><strong>Chalet 4 pièces  (56m2+)    pour 8 personnes</strong></p>
              <p>Au Rez-de-chaussée cuisine entièrement équipée, séjour spacieux ouvrant sur terrasse avec un canapé convertible 2 personnes, une chambre avec un lit double, salle de bains avec baignoire, WC séparés. Au 1er étage deux chambres dont une avec balcon, l’une avec deux lits simples, l’autre avec 1 lit double, une douche avec WC.</p>
              <p> </p>
              <p><strong>Appartement 2 pièces (de 25 à 30m²)    pour 4 personnes</strong></p>
              <p>Cuisine entièrement équipée, modulables en lit double, un canapé convertible 2 personnes dans le séjourune chambre avec deux lits simples, salle de bains avec baignoire ou douche et WC.</p>
              <p> </p>
              <p><strong>Appartement 3 pièces (de 35 à 45m²)    pour 6 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, une chambre avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire ou douche et WC séparés.</p>
              <p> </p>
              <p><strong>Appartement 4 pièces (environ 45m²)   pour 8 personnes</strong></p>
              <p>Cuisine entièrement équipée, une chambre avec deux lits simples modulables en lit double, deux chambres avec deux lits simples ou deux lits superposés, un canapé convertible 2 personnes dans le séjour, salle de bains avec baignoire et WC séparés. La majorité de ces appartements sont en duplex et ont aussi une douche</p>
              
              
 <div style="text-align:center;">
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag1.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag2.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag5.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag6.JPG"  />
   <img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag4.jpg"  width="180px" />
<img src="http://hameaudupuy.com/img/superdevoluy_le%20hameau%20du%20puy_amenag3.jpg" width="180px"  />
<br /><br />
</div>                    
              
              
              <p style="margin-left: 5" align="left">&nbsp;</p>
             
<!-- 17/12/20 "piraté" - NDD pas renouvelé
              <p style="margin-left: 5" align="center">
              <img border="0" src="/tba/photo/actisource.png" width="600" ><br />
              <a href="http://hameaudupuy.com/" target="_blank">http://hameaudupuy.com/</a> </p>
-->

            <p  >
            <b>
            <span style="font-size: 10.0pt; font-family: Verdana; color: red">
            HÔTEL CLUB RESIDENCE et CHALETS MARGOT :</span></b></p>
             

              <p style="margin-left: 5">Parents vous voulez passer des vacances en chalet ? Vous voulez de 
              l’espace ? Vos enfants sont avec vous et suivent dans le même temps les camps de basket au même rythme que les stagiaires internes.<br>
              <br>
              Voici « LES CHALETS MARGOT » prévus pour 6 à 10 personnes.<br>
              <b><br>
              Une remise de 10% sur le prix public</b> vous est accordée en réservant au moins 1 stage basket avec TBA.  Code de réservation TBA {{ settings.ANNEE }}.<br />
<br />
              
        <br>
             L’inscription du ou des stagiaires se fait en <b>Formule 1</b><br />
<br />
Le propriétaire de l’établissement a changé, nous sommes dans l’attente du nouveau site internet.
 </p>
             
<!--
              <p style="margin-left: 5" align="center">
              <a target="_blank" href="http://www.chalets-margot.com"> www.chalets-margot.com</a>&nbsp;&nbsp;<br>
-->              
              <br>
            
<strong>L’hôtel Les Chardonnelles, sa piscine et son bar</strong><br />
<br />

              <img src="/tba/photo/MG_4343.jpg" height="144"> &nbsp;
             <img src="/tba/photo/HOTEL-PISCINE-PONT-1-2005.jpg" height="144">
<br />
<br />
			  <img src="/tba/photo/MG_4186.jpg" height="144"> &nbsp;
             <img src="/tba/photo/bar-3.jpg" height="144">
            

<br />
<br />
<!--
<strong>Intérieur des appartements et des studios situés dans Les Chardonnelles</strong><br />
<br />


              <img src="/tba/photo/IMG_5921.jpg" height="144"> &nbsp;
              <img src="/tba/photo/IMG_5925.jpg" height="144"> &nbsp;
              <img src="/tba/photo/IMG_5943.jpg" height="144">
<br />
<br />
supprimer 28/03/23-->
<strong>Les chalets Margot</strong><br />



              <img src="/tba/photo/CHALET-ETE-1.jpg" height="144"> &nbsp;
              <img src="/tba/photo/CHALET-ETE-5.jpg" height="144"> &nbsp;

<br />
<br />
              <!-- <img src="/tba/photo/MG_4332.jpg" height="144"> &nbsp;
              <img src="/tba/photo/MG_4333.jpg" height="144"> &nbsp;
-->
              <img src="/tba/photo/TBA-141221-2.jpg" height="200"> &nbsp;

              <br />
              <br />

            <img src="/tba/photo/chalet-m8-m9-bas.jpg" height="144">
            <br />


   <!--     
        <table width="640" border="0">
  <tr>
    <td align="center"><img src="/tba/photo/chalet-m8-m9-bas.jpg" height="144"></td>
    <td align="center"></td>
    <td align="center"></td>
  </tr>
  <tr>
    <td align="center"><strong>Chalet</strong></td>
    <td align="center"><strong>Hôtel et piscine</strong></td>
    <td align="center"><strong>Le bar de l’hôtel </strong></td>
  </tr>
</table>
-->
        
 </p>
             

              <p style="margin-left: 5" align="center">
               <br /> 
<a href="{{ settings.PIECES.margot }}" target="_blank">Tarifs 2023 : locations de chalets SUNWEB  chalets Margot  </a> </p>


<p style="margin-left: 5" align="center">
              <br />  
  <img src="/tba/photo/sherpa.jpg" ><strong> 
Le supermarché SHERPA, partenaire de TBA, situé à l’accueil de la station, offre aux parents de nos stagiaires, qui viennent en vacances dans la station de Superdévoluy, une remise de 15% sur tous les articles du supermarché.</strong></p>

 



</article>
{% endblock %}
