{% extends "base.html" %}

{% block title %}Camps de Basket chez TBA avec l'option Anglais.{% endblock %}

{% block description %} TBA t’offre la possibilité de t’initier ou perfectionner en marge de ton camp de basket à la langue de Shakespeare ou de... Lebron James {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> OPTION ANGLAIS Semaine N°1 et semaine N°2</font></b></p>


  <p align="center">
    <img border="0" src="/tba/photo/option-anglais.jpg" width="600" ></p>

  <p>
Vous devez nous envoyer votre règlement de 50 € (chèque ordre TBA), différent de celui du stage basket, et qui ne sera encaissé qu’à la fin du séjour option Anglais.<br>
Vous précisez, au dos du règlement, le nom du stagiaire, la semaine N°1 ou 2, et la mention OPTION ANGLAIS.<br>
Toute inscription pour cet enseignement de l’Anglais à travers des rendez-vous quotidiens devra se faire : <span style="color:red">15 jours minimum avant l’arrivée. </span>

  </p>



</article>

{% endblock %}
