{% extends "base.html" %}

{% block title %}Les parrainages {% endblock %}

{% block description %} Tout stagiaire qui n’est jamais venu dans le camp TBA de SUPERDEVOLUY peut-être parrainé {% endblock %}


{% block content %}
<article class="featured">
  
  <p align="center"><b>&nbsp;<font size="6" color="#FF0000"> PARRAINAGES {{ settings.ANNEE }} </font></b></p>
  
  
  
 
    <p><strong>Tout stagiaire qui n’est jamais venu dans le camp TBA de SUPERDEVOLUY peut-être parrainé.</strong><br />
      <br />
      Pour tout nouveau stagiaire, une seule règle, <strong>on ne peut pas être parrainé par quelqu’un que l’on parraine. (le parrainage réciproque n’est donc pas possible) </strong><br />
      <br />
      <strong>On peut être parrain</strong> : dès l’instant que l’on est inscrit, <strong>ou</strong>, si on a déjà été inscrit dans notre camp.<br />
      <br />
      SI vous venez dans le camp en {{ settings.ANNEE }}, votre parrainage est donné pendant votre séjour.<br />
      <br />
      SI vous ne revenez pas, il vous est envoyé ou donné à la personne que vous avez parrainée.<br />
      <br />
      1 parrainage : <strong>Le tee-shirt parrainage</strong><br />
      2 parrainages : Le tee-shirt parrainage plus <strong>1 paire de chaussettes TBA</strong><br />
      3 parrainages : en plus du tee-shirt et de la paire de chaussette TBA, <strong>le TEE SHIRT TBA {{ settings.ANNEE }}</strong><br />
      4 parrainages : en plus du tee-shirt, du short et du Tee Shirt {{ settings.ANNEE }}, <strong>1 sweat sublimé TBA</strong><br />
    5 parrainages : en plus du tee-shirt, du short, de la casquette et du sweat, <strong>1 maillot ou 1 short NBA</strong></p>
  


  
</article>
{% endblock %}
