{% extends "base.html" %}

{% block title %}Les partenaires de TBA {% endblock %}

{% block description %} TBA a developpé des partenariats avec des partenaires du monde de Basket {% endblock %}


{% block content %}
<article class="featured">
  
  <p align="center"><b>&nbsp;<font size="6" color="#FF0000">  LES PARTENAIRES </font></b></p>
  
  
  <p align="center"><a target="_blank" href="http://www.beegames.fr/"><img border="0" src="/tba/beegames.png"  ></a>

  </p>
  
  
  
  <p align="center"><img border="0" src="/tba/departement-HP.jpg" width="300" ></p>
  <p align="center">
    <a target="_blank" href="http://www.basketstore.fr"><br> <img border="0" src="/tba/image047.jpg" width="165" height="138"></a>
  </p>
  
  
  <p align="center"><b><font size="6" color="#FFA953">I.B.B.C</font></b> </p>
  
  
  <p align="center"><font color="#FFA953"><b>Equipements et matériels sportifs<br>   06 80 16 64 55</b></font> </p>
  <p align="center">  <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="411" height="290"> </p>


<p align="center">  <img border="0" src="/tba/photo/300x100_banderole_partenariat_2bis.jpg" width="600" > </p>

  
</article>
{% endblock %}
