{% extends "base.html" %}

{% block title %}Les partenaires de TBA {% endblock %}

{% block description %} TBA a developpé des partenariats avec des partenaires du monde de Basket {% endblock %}


{% block content %}
<article class="featured">
  
  <p align="center"><b>&nbsp;<font size="6" color="#FF0000">  LES PARTENAIRES </font></b></p>
  
    <p align="center">  <img border="0" src="/tba/photo/logo-TBA.png" width="411" > </p>
  
  
  <p align="center"><img border="0" src="/tba/departement-HP.jpg" width="500" ></p>
  
  
  
  <p align="center"><b><font size="6" color="#FFA953">I.B.B.C</font></b> </p>
  
  
  <p align="center"><font color="#FFA953"><b>Equipements et matériels sportifs<br>   06 80 16 64 55</b></font> </p>
 


<p align="center">  <img border="0" src="/tba/photo/300x100_banderole_partenariat_2bis.jpg" width="600" > </p>

<br>
<br>

<p align="center"><font color="#000000"><b>Logements Hameau du Puy pour les parents des stagiaires externes</b></font> </p>
<p align="center">  <img border="0" src="/tba/photo/LOGO-LBA.jpg" width="600" > </p>

  
</article>
{% endblock %}
