{% extends "base.html" %}

{% block title %}Des photos et vidéos des camps de basket TBA {% endblock %}

{% block description %}Avoir un avant gout de l'ambiance et de la formation offertes par les camps de basket TBA à travers des vidéos et des photos des camps des années 2007, 2008, 2009, 2012 {% endblock %}

{% block content %}
<article class="featured">
  
  
  <p align="center">   
    <b><font size="6" color="#FF0000">Trombinoscope 2010</font></b>
    <br>
    &nbsp;si vous êtes venus à Superdévoluy en 2010,<br>
    <a target="_blank" href="http://www.camps-basket.com/galerie/2010/Trombinoscope/">
      retrouvez vous dans le trombinoscope 2010</a></p>
  

  <p align="center"><b><font size="6" color="#FF0000"><br> Les photos du camps 2009</font></b></p>
  <p align="center"><font color="#FF0000"><b>Photos des 7 semaines de camps, du 28 juin 2009 au 15 août 2009<br> &nbsp;</b></font></p>
  <p align="center"> <a target="_blank" href="http://www.camps-basket.com/galerie/2009/">
      <img border="0" src="/tba/image/A14-7.jpg" width="448" height="336"></a></p>
  <p align="center">
    <a href="http://www.camps-basket.com/galerie/2009/" target="_blank">
      <font size="5">La galerie de photos</font></a></p>
  
  
  
  <p align="center"><font size="6" color="#FF0000"><b>Echauffement sur Michael Jackson</b>   </font></p>

<p align="center">           
  <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="400" height="300" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/MichaelJacksonTBA_.txt" />
  </object>
  
</p>      




<p align="center"><b><font size="6" color="#FF0000">Les photos du camps 2008</font></b></p>

<p align="center">
  <a target="_blank" href="http://www.camps-basket.com/galerie/2008"> 
    <img border="0" src="/tba/00.JPG" width="448" height="257"></a></p>
<p align="center"> 
  <a target="_blank" href="http://www.camps-basket.com/galerie/2008"><font size="5">La galerie de photos</font>
</a>
 


</article>
{% endblock %}
