{% extends "base.html" %}

{% block title %}Des photos et vidéos des camps de basket TBA {% endblock %}

{% block description %}Avoir un avant gout de l'ambiance et de la formation offertes par les camps de basket TBA à travers des vidéos et des photos des camps des années 2007, 2008, 2009, 2012 {% endblock %}

{% block content %}
<article class="featured">
  
  
  <p align="center">   
    <b><font size="6" color="#FF0000">Trombinoscope 2010</font></b>
    <br>
    &nbsp;si vous êtes venus à Superdévoluy en 2010,<br>
    <a target="_blank" href="http://www.camps-basket.com/galerie/2010/Trombinoscope/">
      retrouvez vous dans le trombinoscope 2010</a></p>
  

  <p align="center"><b><font size="6" color="#FF0000"><br> Les photos du camps 2009</font></b></p>
  <p align="center"><font color="#FF0000"><b>Photos des 7 semaines de camps, du 28 juin 2009 au 15 août 2009<br> &nbsp;</b></font></p>
  <p align="center"> <a target="_blank" href="http://www.camps-basket.com/galerie/2009/">
      <img border="0" src="/tba/image/A14-7.jpg" width="448" height="336"></a></p>
  <p align="center">
    <a href="http://www.camps-basket.com/galerie/2009/" target="_blank">
      <font size="5">La galerie de photos</font></a></p>
  
  
  
  <p align="center"><font size="6" color="#FF0000"><b>Echauffement sur Michael Jackson</b>   </font></p>

<p align="center">           
  <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="400" height="300" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/MichaelJacksonTBA_.txt" />
  </object>
  
</p>      




<p align="center"><b><font size="6" color="#FF0000">Les photos du camps 2008</font></b></p>

<p align="center">
  <a target="_blank" href="http://www.camps-basket.com/galerie/2008"> 
    <img border="0" src="00.JPG" width="448" height="257"></a></p>
<p align="center"> 
  <a target="_blank" href="http://www.camps-basket.com/galerie/2008"><font size="5">La galerie de photos</font>
</a><p style="border-bottom:#CCCCCC dotted 1px;">&nbsp; </p>

<p align="center">
  <img border="0" src="2007.gif" width="592" height="83"></p>
<p align="center">
  <img border="0" src="photo/TBA-HUMAIN1.jpg" width="580" height="385"></p>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber2">
  <tr>
    <td width="33%" align="center">
      
      <font size="5">
	<a HREF="#" onClick="window.open('semaine-5.htm','_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=400, height=400');return(false)">
          <font size="4">Semaine 5</font></a></font>
      
      
    </td>
    <td width="33%" align="center">
      <font size="5">
	<a HREF="#" onClick="window.open('semaine-6.htm','_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=400, height=400');return(false)">
          <font size="4">Semaine 6</font></a></font>
    </td>
    <td width="34%" align="center">
      <font size="5">
	<a HREF="#" onClick="window.open('semaine-7.htm','_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width=400, height=400');return(false)">
          <font size="4">Semaine 7</font></a></font>				
    </td>
  </tr>
  <tr>
    <td width="33%" align="center">Du 29/07/07 au 04/08/07</td>
    <td width="33%" align="center">Du 05/08/07 au 11/08/07</td>
    <td width="34%" align="center">Du 12/08/07 au 18/08/07</td>
  </tr>
</table>
<p align="center">&nbsp;</p>

<p style="border-bottom:#CCCCCC dotted 1px;">&nbsp; </p>

<p align="center">
  
  
  <a href="photos-archives.htm">Archives photo 2006</a></p>
<p align="center">&nbsp;</p>


</article>
{% endblock %}
