{% extends "base.html" %}

{% block title %}Les camps de Basket TBA : 30 ans d'expérience au service du Basket {% endblock %}

{% block description %} Le premier camp de basket de SUPERDEVOLUY a vu le jour en 1984, c'est le plus grand camp de Basket de France avec 8 terrains de basket. Sa renommé et sa réputation, il les doit aux milliers de stagiaires qui ont participé aux camps TBA  et parmi eux certains sont devenus des stars comme Aymeric JEANNEAU, Eric MICOUD, Laure SAVASTA… et le futur grand Edwin JACKSON {% endblock %}


{% block content %}

<article class="featured">
                
                
                 <p>
<strong>Les camps de TBA vous permettent de vous préparer, de vous entrainer, de jouer. Il s’agit de camps où vous n'allez faire QUE du basket, 5 heures par jour, et chaque semaine, TEAM BASKET ASSOCIATION (TBA) club affilié à la FFBB, organise un tournoi 3x3 officiel homologué Open Start JUNIORLEAGUE.<br>
Le stage que vous faites avec TBA vous permet de participer à cette compétition.<br>
<br>
<strong>CAMPS 2026 : OUVERTURE des INSCRIPTIONS vers le 15 JANVIER 2026. </strong><br>
<br>
Que vous soyez débutant ou joueur confirmé, dès 7 ans et jusqu’à 20 ans, si un certain esprit sportif vous anime, choisissez un camp qui vous ressemble, choisissez le camp de SUPERDEVOLUY. Chaque semaine, le nombre important de stagiaires permet à tous d’évoluer dans un groupe composé de joueurs ou joueuses de même niveau.<br>
<br>
Vous pouvez venir SEUL... avec des COPAINS... en FAMILLE.<br>
Il y aura 6 camps de basket-ball du 28 juin au 08 août puis 2 camps basket in English (24h sur 24 en langue Anglaise) du 09 août au 22 août.
</strong>
  </p>
 <img border="0" src="/tba/photo/IMG_5113.jpg"  >

<p>
<strong>
Le seul camp en France où les parents peuvent louer des logements (studios, appartements ou chalets) situés à côté des terrains de basket. Les stagiaires peuvent alors être considérés comme des externes et les parents des vacanciers. Superdévoluy c’est des vacances en famille. Il y a aussi la possibilité de s’inscrire seul ou avec des copains dans la formule internat.<br />
<br />
Pour les nouveaux, pour vous donner envie de nous rejoindre, retrouvez des vidéos des camps dans la rubrique « VIDEO des CAMPS ».<br />
<br />
Dans la rubrique INFOS STAGES vous y trouvez  les dates des camps.
</strong></p>


<table>
<tr>
<td><img border="0" src="/tba/photo/_DSC0056.jpg"  ></td>
</tr>

<tr>
<td><img border="0" src="/tba/photo/_DSC0047.jpg" ></td>
</tr>
</table>

<p><strong><u></u></strong><strong>Attention la plupart des semaines sont complètes très rapidement, alors soyez prêt début janvier à vous inscrire.</strong></p>
<p>


<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong>Notre camp est adapté à tous les âges :<br>
DU PLUS PETIT au PLUS GRAND</strong></span><br>
  <br>
<img src="/tba/photo/petits.JPG" width="640" height="425"><br>
<br>
<img src="/tba/photo/grand-et- petit.JPG" width="640" ><br>
<br>
<img src="/tba/photo/tres-grand.JPG" width="640" ><br>
<br>
<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong> Filles ou Garçons</strong></span><br>

<img src="/tba/photo/Filles.JPG" width="640" ><br>
<br>
<img src="/tba/photo/garcons.JPG" width="640" ><br>
<br>
<br>
        </p>
           
         
        
        <p align="center"><b>   Les photos du camps sont sur FACEBOOK</b></p>
        
       
                
        </article>

{% endblock %}
