{% extends "base.html" %}

{% block title %}Les camps de Basket TBA : 30 ans d'expérience au service du Basket {% endblock %}

{% block description %} Le premier camp de basket de SUPERDEVOLUY a vu le jour en 1984, c'est le plus grand camp de Basket de France avec 8 terrains de basket. Sa renommé et sa réputation, il les doit aux milliers de stagiaires qui ont participé aux camps TBA  et parmi eux certains sont devenus des stars comme Aymeric JEANNEAU, Eric MICOUD, Laure SAVASTA… et le futur grand Edwin JACKSON {% endblock %}


{% block content %}

<article class="featured">
                
                
                 <p><b>Un camp de basket pour des joueurs performants : si un certain esprit sportif vous anime, choisissez un camp qui vous ressemble, choisissez SUPERDEVOLUY</b></p>
        
        <p style="font-size:20.0pt;line-height:115%;"><b> VENEZ SEUL.... avec des COPAINS..... en FAMILLE</b></p>
       
      
     <p><strong>Camps 2015 : Les inscriptions seront possibles, en ligne, à partir de la mi-janvier 2015.<br>
<br>
Début des camps le dimanche 28 juin.  Fin des camps le samedi 15 août.<br>
Soit 7 semaines avec :<br>
<br>
<span style="color:#FF0000">Stéphane DAO</span> (assisté de Al Cissé et Tom Snyder) responsable de l'organisation des semaines N°1 (28/06-04/07), N°2 (05/07-11/07), N°3 12/07-18/07) et N°4 (19/07-25/07)<br>
<br>
<span style="color:#FF0000">Willy SENEGAL</span> (assisté de John Delay) responsable de l'organisation de la semaine N°5 (26/07-01/08)<br>
<br>
<span style="color:#FF0000">Jérôme LLAURY</span> (assisté de Pierrick Guillou, Stéphane Vaillant, Philippe PUPAT) responsable de l'organisation des semaines N°6 (02-08/08) et N°7 (09-15/08)<br>

</strong></p>

 
<p><strong>Vous pouvez vous inscrire en ligne (rubrique inscriptions) au même tarif qu'en 2014, et télécharger tous les documents nécessaires et récupérer (si besoin) votre numéro de licence sur le site  <a href="http://www.ffbb.com" target="_blank">www.ffbb.com</a></strong></p> 

<p>
<br>
<strong>Pour vous donner envie de venir nous rejoindre, voici ce que vous pourrez vivre avec nous </strong><br> 
</p>
    
     <p align="center">
      <iframe width="640" height="360" src="//www.youtube.com/embed/IY8AzHDzfW8?rel=0" frameborder="0" allowfullscreen></iframe>
      </p>
        
    
    
        <p> <strong>Toutes nos félicitations et bonne chance à EDWIN JACKSON avec sa nouvelle équipe du FC Barcelone.<br>
Il a été stagiaire de notre camp à Superdévoluy pendant 10 années consécutives et il est revenu donner des conseils aux jeunes des camps.
 </strong></p>
        
        <p align="center">
        <img border="0" src="/tba/photo/DSC_6310.jpg" width="650" ></p>
        
    
      
        <p>      
        

<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong>Vidéo d'une semaine à SUPERDEVOLUY</strong></span><br>
 </p> 

 <p align="center">           
    <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="640" height="360" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/TBA_.txt" />
</object>
            
  </p>    


<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong>Notre camp est adapté à tous les âges :<br>
DU PLUS PETIT au PLUS GRAND</strong></span><br>
<br>
<img src="/tba/photo/petits.JPG" width="640" height="425"><br>
<br>
<img src="/tba/photo/grand-et- petit.JPG" width="640" ><br>
<br>
<img src="/tba/photo/tres-grand.JPG" width="640" ><br>
<br>
<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong> Filles ou Garçons</strong></span><br>

<img src="/tba/photo/Filles.JPG" width="640" ><br>
<br>
<img src="/tba/photo/garcons.JPG" width="640" ><br>
<br>
<br>
 

<span style="color:#FF0000"><strong>RAPPEL PARTIR à 7</strong></span> :  <strong>50 €</strong></span> de remise si vous partez à 7. <strong>Une seule condition</strong>, les 7 bulletins se trouvent dans <strong>la même enveloppe lors de l’envoi</strong>.<br>
Vous n’êtes pas obligé de venir tous la même semaine, mais ces 7 bulletins (ou plus) doivent être traités en même temps.<br>
Ensuite, si un autre copain <strong>veut rejoindre le groupe, il le peut, en bénéficiant de la même remise de <span style="color:#FF0000">50 €</strong></span>, juste en précisant les noms du groupe qu’il rejoint.(sous réserve de places disponibles)<br>
Il n’y a pas de possibilité de remise, si vous vous inscrivez à moins de 7 au départ.<br>
       
        </p>
        
        <p align="center">
        <img border="0" src="/tba/photo/TBA-ACCUEIL.jpg" width="640" height="446"></p>
        

        
        <p style="font-size: 16pt">
        Pour son 30ème camp, TBA organise un concours ouvert à tous avec un stage gratuit à gagner</p>
        
        <p align="center">
        <b><a target="_blank" href="/tba/pdf/Concours-Maillots-TBA-30-ANS.pdf">
        <font size="4">CREER LE LOGO du TEE SHIRT du CAMP 2013</font></a><font size="4"><br>
        </font></b>
    </p>
        
        <p align="center">
         Voici les 2 logos vainqueurs qui seront sur les tee-shirt 2013 de nos camps<br>
<br>
<img src="/tba/photo/MONTAGNE-30-ans.jpg"><br><br>
<img src="/tba/photo/FLAMME-sur-fond-NOIR.jpg"><br>

 </p>

        
        
        
        
        
        
        
        
        <span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; ">
        
        <span class="Apple-style-span" style="border-collapse: collapse; ">
        
        <p >
        Voilà comment se passe un camp TBA SUPERDEVOLUY<br>
        <br>
        <center>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/SpLou2OdP0s?rel=0" frameborder="0" allowfullscreen></iframe>
</center>
    </p>
        
        
         
        
        <p>Une grande nouveauté avec le centre sportif du Dévoluy, une salle des sports avec 2 terrains de basket, construit à la suite des 8 terrains de basket Total= 10 grands terrains plus 2 terrains mini</p>


  
        <p align="center">
        <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="500" height="319">     
<br><br>
        <img border="0" src="/tba/photo/1ere de couv.jpg" width="439" height="595"></p>
        
    
         
        <p>
         
        <strong>Trombinoscope 2010</strong>: si vous êtes venus à Superdévoluy  en 2010,
        <a target="_blank" href="http://www.camps-basket.com/galerie/2010/Trombinoscope/">        retrouvez vous dans le trombinoscope 2010</a></p>
        
        
        
           <p align="center"><strong> Extrait Emission les Maternelles sur France5<br></strong> </p>
 <p align="center">           
     <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="360" height="288" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/Bebe-basketeur.txt" />
</object>
            <br>
Le spécialiste des "petits" dans les camps TBA c'est <b>Al CISSE</b> :  <br>le voici en plein action d'éducateur sous l'oeil de la caméra de France 5            
      </p>
        
        
        
         
        
        <p align="center"><b>   Les photos du camps sont sur FACEBOOK</b></p>
        
        <table border="0" cellpadding="5" style="border-collapse: collapse" bordercolor="#FFFFFF" id="AutoNumber1" width="100%">
          <tr>
            <td  width="100%">
            <p align="center">
            <font color="#ff0000" size="2"><strong>Alberto CONTADOR, qui a logé dans notre hôtel &quot;LES CHARDONNELLES&quot; à<br>
            Superdévoluy à la suite de l'arrivée de l'étape du Tour de France à Gap,<br>
            a profité du 14 juillet, jour d'anniversaire du jeune stagiaire             Belge<br>
            Quentin DESCLEFS pour lui souhaiter un &quot;Joyeux Anniversaire&quot;. Tout             TBA<br>
            remercie Alberto CONTADOR et l'équipe ASTANA pour leur disponibilité</strong></font></p>
            <p align="center"> 
            <br>
            <img border="0" src="/tba/DSC_2290.jpg" width="512" height="170"></p>

         
  
         <p align="center"><font color=#ff0000 size=2><strong>Echauffement sur un extrait musical de  Michael Jackson<br>
         Groupes 1 et 2 (de 09 à 13 ans) semaine N°3 juillet 2009<br></strong></font>   </p>
         
 <p align="center">           
     <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="400" height="300" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/MichaelJacksonTBA_.txt" />
</object>
            
      </p>      

            <p align="center">
            <br>
            <font size="5"><strong>LA PHOTO de l'ANNÉE 2008</strong><font size="4"><br>
&nbsp;(il était à Superdévoluy pendant le mois d'août)</font></font></p>
            <p align="center"><a target="_blank" href="/tba/DSC03402b.jpg">
            <img border="0" src="/tba/DSC03402.JPG" width="256" height="192"></a><br>
            Gilles ORTIOU (Coach à Team Basket Association) <br>
            bien entouré lors de sa visite chez Boris DIAW à Phoenix</p>
           
           
            <p>
            
Sous la direction d’anciens joueurs internationaux et d'entraîneurs titulaires des brevets d’Etat, viens nous rejoindre et vivre ta passion en progressant dans ton sport favori qu'est le basket-ball. Le camp de basket de SUPERDEVOLUY, ouvert en 1984, est le plus grand camp de France avec ses 11 terrains de basket situés côte à côte et son centre sportif équipé de 2 terrains avec plancher. Sa renommé et sa réputation, il les doit aux 21 000 stagiaires qui ont participé aux camps entre 1984 et 2014, et parmi eux ceux qui sont devenus des stars comme <strong>Aymeric JEANNEAU, Eric MICOUD, Laure SAVASTA,  ou plus près de nous David DENAVE</strong>(Pau Orthez PRO A) ou… <strong>Edwin JACKSON</strong>(FC Barcelone)<br>
<br>
Tous les plus grands noms du basket-ball français sont venus à Superdévoluy : <strong>Jean-Michel SENEGAL, Richard DACOURY, Eric BEUGNOT, Grégor BEUGNOT, Jacques MONCLAR, Stéphane OSTROWSKI, Stéphane RISACHER, Hervé DUBUISSON, Jacques CACHEMIRE, Philippe SZANYIEL, Hugues OCCANSEY, Moustapha SONKO,  Pierre DAO, Alain THINET… et depuis peu Makan DIOUMASSI et Crawford PALMER</strong>.

</td>
          </tr>
        </table>
   


                
        </article>

{% endblock %}
