{% extends "base.html" %}

{% block title %}Les camps de Basket TBA : 30 ans d'expérience au service du Basket {% endblock %}

{% block description %} Le premier camp de basket de SUPERDEVOLUY a vu le jour en 1984, c'est le plus grand camp de Basket de France avec 8 terrains de basket. Sa renommé et sa réputation, il les doit aux milliers de stagiaires qui ont participé aux camps TBA  et parmi eux certains sont devenus des stars comme Aymeric JEANNEAU, Eric MICOUD, Laure SAVASTA… et le futur grand Edwin JACKSON {% endblock %}


{% block content %}

<article class="featured">
                
                
                 <p>
<strong>Les camps de TBA sont enregistrés en SEJOURS SPORTIFS, il s’agit donc de camps où vous n'allez faire QUE du basket.<br />
Que vous soyez débutant ou joueur confirmé, dès 7 ans, si un certain esprit sportif vous anime, choisissez un camp qui vous ressemble, choisissez SUPERDEVOLUY.<br />
<br />
Vous pouvez venir SEUL... avec des COPAINS... en FAMILLE.</strong></p>

                 <p><strong><br />
   Le seul camp en France où les parents peuvent louer des logements (studios, appartements ou chalets) situés à côté des terrains de basket. Les stagiaires peuvent alors être considérés comme des externes et les parents des vacanciers. Superdévoluy c’est des vacances en famille. Il y a aussi la possibilité de s’inscrire seul ou avec des copains dans la formule internat.</strong>
                   
                 </p>
                 <p><strong>Vous pourrez vous inscrire à partir du dimanche 12 janvier 2020.<br />
                     <br />
 Les dates 2020 du BAC (17 au 24 juin) et du BEPC (29 et 30 juin) confirment que si votre collège ou lycée est centre d’examen, votre établissement sera fermé et donc vous pouvez participer à la 1ère semaine de camp du  28 juin au 04 juillet.</strong></p>
 
<p><strong>Pour les nouveaux, pour vous donner envie de nous rejoindre, retrouvez des vidéos des camps dans la rubrique « VIDEO des CAMPS ».<br />
<br />
Pensez qu’un camp basket en Anglais est organisé pendant les vacances de Printemps du 12 au 18 avril 2020. Vous parlez Anglais du matin au soir avec 2, voir 3 entrainements par jour, 2 participations par jour à des cours d’Anglais, l’apprentissage du vocabulaire de la vie courante en vivant en groupe restreint et en n’utilisant que la langue Anglaise. Progression assurée et en basket et en Anglais.</strong></p>

<table>
<tr>
<td><img border="0" src="/tba/photo/_DSC0056.jpg"  ></td>
</tr>

<tr>
<td><img border="0" src="/tba/photo/_DSC0047.jpg" ></td>
</tr>
</table>

<p><strong><u></u></strong><strong>Attention la plupart des semaines sont complètes très rapidement, alors soyez prêt début janvier à vous inscrire.</strong></p>
<p>


        



      
       


<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong>Notre camp est adapté à tous les âges :<br>
DU PLUS PETIT au PLUS GRAND</strong></span><br>
<br>
<img src="/tba/photo/petits.JPG" width="640" height="425"><br>
<br>
<img src="/tba/photo/grand-et- petit.JPG" width="640" ><br>
<br>
<img src="/tba/photo/tres-grand.JPG" width="640" ><br>
<br>
<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong> Filles ou Garçons</strong></span><br>

<img src="/tba/photo/Filles.JPG" width="640" ><br>
<br>
<img src="/tba/photo/garcons.JPG" width="640" ><br>
<br>
<br>
 

        </p>
      <!--  
        <p align="center">
        <img border="0" src="/tba/photo/TBA-ACCUEIL.jpg" width="640" height="446"></p>
        

        
        <p style="font-size: 16pt">
        Pour son 30ème camp, TBA organise un concours ouvert à tous avec un stage gratuit à gagner</p>
        
        <p align="center">
        <b><a target="_blank" href="/tba/pdf/Concours-Maillots-TBA-30-ANS.pdf">
        <font size="4">CREER LE LOGO du TEE SHIRT du CAMP 2013</font></a><font size="4"><br>
        </font></b>
    </p>
        
        <p align="center">
         Voici les 2 logos vainqueurs qui seront sur les tee-shirt 2013 de nos camps<br>
<br>
<img src="/tba/photo/MONTAGNE-30-ans.jpg"><br><br>
<img src="/tba/photo/FLAMME-sur-fond-NOIR.jpg"><br>

 </p>

        
        
        
        
        
        
        
        
        <span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; ">
        
        <span class="Apple-style-span" style="border-collapse: collapse; ">
        
       
        
         
        
        <p>Une grande nouveauté avec le centre sportif du Dévoluy, une salle des sports avec 2 terrains de basket, construit à la suite des 8 terrains de basket Total= 10 grands terrains plus 2 terrains mini</p>


  
        <p align="center">
        <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="500" height="319">     
<br><br>
        <img border="0" src="/tba/photo/1ere de couv.jpg" width="439" height="595"></p>
        
    
         
        <p>
         
        <strong>Trombinoscope 2010</strong>: si vous êtes venus à Superdévoluy  en 2010,
        <a target="_blank" href="http://www.camps-basket.com/galerie/2010/Trombinoscope/">        retrouvez vous dans le trombinoscope 2010</a></p>
        
        
        
          
        -->
        
         
        
        <p align="center"><b>   Les photos du camps sont sur FACEBOOK</b></p>
        
        <table border="0" cellpadding="5" style="border-collapse: collapse" bordercolor="#FFFFFF" id="AutoNumber1" width="100%">
          <tr>
            <td  width="100%">
            <p align="center">
            <font color="#ff0000" size="2"><strong>Alberto CONTADOR, qui a logé dans notre hôtel &quot;LES CHARDONNELLES&quot; à<br>
            Superdévoluy à la suite de l'arrivée de l'étape du Tour de France à Gap,<br>
            a profité du 14 juillet, jour d'anniversaire du jeune stagiaire             Belge<br>
            Quentin DESCLEFS pour lui souhaiter un &quot;Joyeux Anniversaire&quot;. Tout             TBA<br>
            remercie Alberto CONTADOR et l'équipe ASTANA pour leur disponibilité</strong></font></p>
            <p align="center"> 
            <br>
            <img border="0" src="/tba/DSC_2290.jpg" width="512" height="170"></p>

         
  
           

         

</td>
          </tr>
        </table>
   


                
        </article>

{% endblock %}
