{% extends "base.html" %}

{% block title %}Projet pédagogique{% endblock %}

{% block description %} Séjour de vacances avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> PROJET PEDAGOGIQUE</font></b></p>
  <p style="font-size:18px; text-align:center">Team Basket Association</p>
  <p style="font-size:16px; text-align:center">Séjour spécifique sportif avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy (Hautes Alpes, altitude 1500 m)</p>
  <br />
      <h3>1. Présentation de la structure.</h3> 
  <ul>
    <li>L’association Team Basket Association (TBA) crée en 1984 organise des stages de basket l’été pendant les périodes de vacances scolaires (Juillet et Août).</li>
    <li> Ce camp se déroule dans un site exceptionnel à la montagne à 1500 mètres d’altitude (Superdévoluy 05) disposant d’équipements sportifs et d’hébergement de qualité. Possibilité de locations vacances : studio, appartement, hôtel 3 étoiles à la station de Superdévoluy pour les parents désireux de suivre leur(s) enfant(s) en stage et de passer des vacances à la montagne.</li>
    <li>Unique en France : c’est le plus grand camp de basket au niveau des infrastructures avec un centre sportif couvert (2 terrains couverts) et 11 terrains extérieurs, soit 13 terrains alignés.
      </li>
    <li>Ce camp se déroule sur plusieurs semaines pendant les vacances d’été. (Du dimanche au samedi)
      </li>
    <li>Ces camps de basket sont agréés par la Direction Départementale de la Cohésion Sociale (DDCS 37). 
      </li>
    </ul>  
       
    
    <br />
<h3>2. Organisation du camp :</h3>
    
    
  <h4>  a) Moyens matériels :</h4>
  
   <br />
      <strong>Infrastructures sportives</strong><br />
    • 13 terrains alignés<br />
    • 1 salle en parquet avec 2 terrains et 6 paniers.<br />
    • 3 terrains spécifiques pour les 6-8 ans avec 8 paniers dont 2 mobiles.<br />
    • 2 vestiaires avec douches + toilettes pour filles et garçons<br />
      <strong>Matériel pédagogique<br /></strong>
    • 1 machine à shooter.<br />
    • 1 ballon minimum par stagiaire<br />
    • Plots, coupelles, cerceaux, échelles de rythme pour mener à bien toutes les activités pédagogiques.<br />
 <strong> Dotations<br /></strong>
    • Dotation d’un réversible, d’un short et d’une gourde par stagiaire<br />
    • Lots pour les différents vainqueurs de concours et tournois<br />

<strong>      Locaux diverses<br /></strong>
    • Un local d’infirmerie avec table de massage, frigo, congélateur et trousse de pharmacie complète nécessaires aux premiers soins.<br />
    • Un bureau<br />
    • Une boutique<br />
    • Un espace réunion avec vidéo projecteur.<br />

   <strong> Hébergement et repas<br /></strong>
    • l’hébergement et les repas s’effectuent à « l’Hôtel Club Chalet Margot » qui est agrée Centre D’Accueil Collectif de Mineurs. (Utilisation de la piscine de l’hôtel avec surveillance)<br />
<br />

<h4>    b) Moyens Réglementaires :</h4>
    Chaque participant devra :<br />
    • Fournir un certificat de non contre-indication à la pratique sportive ou fournir une photocopie de sa licence de basket.<br />
    • Remplir une fiche sanitaire de liaison dûment remplie et signée.<br />
    • Régulariser sa cotisation.<br />
    • Respecter les différents règlements intérieurs du camp et de l’hôtel.<br />
  
  <br />
  
  <h4>   c) Modes relationnels durant le stage :</h4>
    • A l’accueil des stagiaires toute l’équipe pédagogique sera disponible pour échanger avec les familles<br />
    • Durant la semaine, chaque famille aura la possibilité de téléphoner à leurs enfants.<br />
    • La page Facebook de l’association est alimentée régulièrement de photos, vidéos et commentaires afin de suivre en temps réel la vie dans le camp.<br />
    • Au départ des stagiaires, toute l’équipe pédagogique sera disponible pour échanger avec les familles.<br />
    
    <br />
  <h4>  d) Moyens humains :</h4>
  <p>Pour chaque semaine, l’organigramme est le suivant :</p>
  <p align="center"> <img src="/tba/photo/organigramme.JPG" width="600px" ></p>
  <h3>3. Fonctionnement d’une semaine de camps.</h3><br />
 <h4>   a) Réunions de l’encadrement :</h4><br />
    • Dimanche de 10h-12h, réunion de toute l’équipe pédagogique.<br />
    Deux sujets sont abordés :<br />
    - l’organisation de l’accueil de tous les stagiaires.<br />
    - l’organisation générale de la semaine de camp.<br />
    • Dimanche, lundi, mardi, mercredi et jeudi de 21h30 à 22h, réunion de toute l’équipe technique afin de finaliser le fonctionnement de chaque journée.<br />
 <br />
 <h4>   b) Accueil des stagiaires :</h4>
    L’accueil des stagiaires s’effectue le dimanche de 14h à 18h :<br />
    - Finalisations et régularisations des inscriptions (stand secrétariat)<br />
    - Récupérer les dotations, maillot réversible, short, gourde (stand lieu de vie)<br />
    - Installation dans les chambres (surveillant et animateurs)<br />
    - Activité loisir (piscine et basket) pour patienter (surveillance de la piscine et des terrains de basket)<br />
    - Réunions parents et stagiaires à 18 heures pour les informations concernant la semaine de camp.<br />
    - Le 1er entrainement a lieu le dimanche soir après le dîner<br />
    <br />
<h4>  c) Une semaine type :</h4>
  <p align="center"> <img src="/tba/photo/semaine-type.JPG" width="600px" ></p>
<br />
<h4>  d) Une journée type :</h4>
  <p align="center"> <img src="/tba/photo/journee-type.JPG" width="600px" ></p>
  
  
  <h4>e) Départ des stagiaires :</h4>  <br />
<p>    Le départ des stagiaires s’effectue le samedi après le repas du midi à partir de 12h30.<br />
    - 12h30 : départ de la navette pour la gare de St Etienne en Dévoluy.<br />
    - Les parents récupèrent leurs enfants de 12h30 à 15h30.<br />
  - Toute l’équipe pédagogique est présente pour rencontrer les parents et effectuer un compte rendu du séjour de leurs enfants</p>
  <p>NB : L’heure de coucher et de l’extinction des lumières pour les moins de 12 ans est souvent adaptées en fonction de l’âge des enfants et de leur état de fatigue</p>

<!--
  <p><br />    
    <span style="color:blue; font-size:20px; text-align:center;">TBA EST PLUS QU’UN CAMP : C’EST UNE FAMILLE
    </span></p>
-->    
    
</article>

{% endblock %}
