{% extends "base.html" %}

{% block title %}Projet éducatif {% endblock %}

{% block description %} Description d'une journée type de camps de Basket chez TBA à Superdévoluy pour les stagiaires ayant opté pour la structure d’internat à l’Hôtel Les Chardonnelles. {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> Projet éducatif</font></b></p>
  <p style="font-size:18px; text-align:center">Team Basket Association</p>
  <p>&nbsp;</p>
 <p style="font-size:16px; text-align:center">Séjour de vacances avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy (Hautes Alpes, altitude 1500 m)<br />
  </p>
  <p>
  
  
  
  
 <h4> 1. Objectifs de l’action éducative :</h4>  
    <p>Conformément à nos statuts déposés en 1984, notre association a pour but d’instaurer des conditions et des moyens susceptibles de développer la pratique du basketball, de susciter des vocations, de développer chez les stagiaires l’esprit de communauté et de solidarité nécessaire à l’équilibre de leur personnalité.</p>
    <p> 
  Les Accueils Collectifs de Mineurs représentent pour les enfants et les adolescents une aventure incontournable. C’est une expérience qui contribue à leur développement au même titre que d’autres temps d’éducation.</p>
  <p>    Par le biais du basket-ball comme activité support, TBA à pour objectif :</p>
    <p>    a) Aider à la formation du « <strong>futur adulte de demain</strong> »<br />
  Cela sous entend :
  <ul>
<li>    Etre capable de vivre 1 semaine en communauté<br />
    	<ul>
	    - respecter les règles élémentaires de fonctionnement du camp telles que les horaires<br />
	    - respecter l’environnement du camp (différents matériels et citoyenneté)<br />
	    - accepter les différences de chacun.<br />
	    </ul>
<li> Accepter les décisions ou l’appréciation des arbitres, respecter les consignes des animateurs,</li>
<li> Prendre soin de son corps en l’écoutant et en utilisant les périodes de repos.</li>
<li> Permettre la communication pour rencontrer des gens de différents horizons : (stagiaires, encadrements, salariés de l’hôtel et la station, les commerçants).</li>
<li> Développer l’autonomie dès le plus jeune âge.</li>
  </ul>
  </p>
    
   
  <p>
  
    b) Aider à la progression du « <strong>futur basketteur de demain</strong> » 
   <ul>
    <li> Développer leurs différentes qualités individuelles</li>
    <li> Développer leurs différentes qualités collectives</li>
    <li> Développer la cohésion dans chaque groupe, équipes.</li>
    <li> Développer l’esprit de compétition tout en respectant la convivialité qu’engendre ce sport collectif.</li>
    <li> Développer la qualité de la gestion des émotions dans des situations spécifiques</li>
    <li> Les stagiaires devront aussi être capable d’arbitrer afin de développer la « responsabilité et la prise de décision »</li>
        </ul>
    </p>
 <h4>   2. Organisation de la vie collective :</h4>
  
    a) Moyens matériels :<br />
<br />
 <ul> 
      <li><strong>Infrastructures sportives</strong><br />
    - 13 terrains alignés<br />
    - 1 salle en parquet avec 2 terrains et 6 paniers.<br />
    - 3 terrains spécifiques pour les 6-8 ans avec 8 paniers dont 2 mobiles.<br />
    - 2 vestiaires avec douches + toilettes filles et garçons </li>
    <li> <strong>Matériel pédagogique</strong><br />
    - 1 machine à shooter.<br />
    - 1 ballon minimum par stagiaire<br />
    - Plots, coupelles, cerceaux pour mener à bien toutes les activités pédagogiques.</li>
    <li> <strong>Dotations</strong><br />
    - Dotation d’un réversible, d’un short et d’une gourde/stagiaire<br />
    - Lots pour les différents vainqueurs de concours</li>
      <li> <strong>Pièces diverses</strong><br />
      </li>
    - Un local infirmerie avec table de massage, frigo, congélateur et trousse de pharmacie complète nécessaires aux premiers soins.<br />
    - Un bureau<br />
    - Une boutique<br />
    - Un espace réunion avec vidéo projecteur.</li>
     <li> <strong>Hébergement et repas</strong><br />
    - l’hébergement et les repas s’effectuent à « l’Hôtel Club Chalet Margot » qui est agrée Centre D’Accueil Collectif de Mineurs. (Utilisation de la piscine de l’hôtel avec surveillance)</li>
  </ul>

<br />

    b) Moyens Réglementaires :<br />
    <br />
    Chaque participant devra :<br />
    - Fournir un certificat de non contre indication à la pratique sportive ou fournir une photocopie de sa licence de basket.<br />
    - Remplir une fiche sanitaire de liaison dûment remplie et signée.<br />
    - Régulariser sa cotisation.<br />
    - Respecter les différents règlements intérieurs du camp et de l’hôtel.<br />
    
    <br />

    c) Modes relationnels durant le stage :<br />
    - A l’accueil des stagiaires toute l’équipe pédagogique sera disponible pour échanger avec les familles<br />
    - Durant la semaine, chaque famille aura la possibilité de téléphoner à leurs enfants.<br />
    - La page Facebook de l’association est alimentée régulièrement de photos, vidéos et commentaires afin de suivre en temps réel la vie dans le camp.<br />
    - Au départ des stagiaires, toute l’équipe pédagogique sera disponible pour échanger avec les familles.<br />
    <br />
    d) Moyens humains :<br />
    Pour chaque semaine, l’organigramme est le suivant :<br />
   
   <br />

   <p align="center">
    <img border="0" src="/tba/photo/projet-educatif-01.png"></p>
   
   
<h4>    3. Fonctionnement d’une semaine de camps.</h4>

    a) Réunions de l’encadrement :<br />
   <ul>
   <li> Dimanche de 10h-12h, réunion de toute l’équipe pédagogique. </li>
   </ul>
    2 sujets sont abordés :<br />
    - l’organisation de l’accueil de tous les stagiaires.<br />
    - l’organisation générale de la semaine de camp.<br />

    <ul>
   <li> Dimanche, lundi, mardi, mercredi et jeudi de 21h30 à 22h, réunion de toute l’équipe technique afin de finaliser le fonctionnement de chaque journée.</li>
   </ul>
   <br />


    b) Accueil des stagiaires :<br />
    L’accueil des stagiaires s’effectue le dimanche de 14h à 18h :<br />
    - Finalisations et régularisations des inscriptions (stand secrétariat)<br />
    - Récupérer les dotations, maillot réversible, short, gourde (stand lieu de vie)<br />
    - Installation dans les chambres (surveillant et animateurs)<br />
    - Activité loisir (piscine et basket) pour patienter (surveillance piscine )<br />
    - Réunions parents et stagiaires à 18h<br />
    - Le 1er entrainement a lieu le dimanche soir après le diner<br />
    <br />
c) Une semaine Type<br />
    
    
     <p align="center">
    <img border="0" src="/tba/photo/projet-educatif-02.png" width="650"  ></p>
  <p align="center">
    
    NB : L’heure de coucher et de l’extinction des lumières pour les moins de 12 ans est souvent adaptées en fonction de l’âge des enfants et de leur état de fatigue<br />
    
    
    
    d) Une journée Type :<br />

 <p align="center">
    <img border="0" src="/tba/photo/projet-educatif-03.png" ></p>
  <p align="center">


    e) Départ des stagiaires :<br />
    Le départ des stagiaires s’effectue le samedi après le repas du midi à partir de 12h30.<br />
    - 12h30 : départ de la navette pour la gare de St Etienne en Dévoluy.<br />
    - Les parents récupèrent leurs enfants de 12h30 à 15h30.<br />
  - Toute l’équipe pédagogique est présente pour rencontrer les parents et effectuer un compte rendu du séjour de leurs enfants.</p>

  <p>&nbsp;</p>
 
 
 

  
</article>

{% endblock %}
