{% extends "base.html" %}

{% block title %}Projet pédagogique{% endblock %}

{% block description %} Séjour de vacances avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> PROJET PEDAGOGIQUE</font></b></p>
  <p style="font-size:18px; text-align:center">Team Basket Association</p>
  <p style="font-size:16px; text-align:center">Séjour de vacances avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy (Hautes Alpes, altitude 1500 m)</p>
  <br />
      <h3>1. Présentation de la structure.</h3> 
  <ul>
    <li>L’association Team Basket Association (TBA) crée en 1984 organise des stages de basket l’été pendant les périodes de vacances scolaires (Juillet et Août).</li>
    <li> Ce camp se déroule dans un site exceptionnel à la montagne à 1500 mètres d’altitude (Superdévoluy 05) disposant d’équipements sportifs et d’hébergement de qualité. Possibilité de locations vacances : studio, appartement, hôtel 3 étoiles à la station de Superdévoluy pour les parents désireux de suivre leur(s) enfant(s) en stage et de passer des vacances à la montagne.</li>
    <li>       Unique en France : c’est le plus grand camp de basket au niveau des infrastructures avec un centre sportif couvert (2 terrains couverts) et 11 terrains extérieurs, soit 13 terrains alignés.<br />
      </li>
    <li>Ce camp se déroule sur 7 semaines consécutives pendant les vacances d’été. (Du dimanche au samedi) 
      </li>
    <li>Ces camps de basket sont agréés par la Direction Départementale de la Cohésion Sociale (DDCS 37). 
      </li>
    </ul>  
    
    <br />
<h3> 2. Objectifs du camp.</h3>
    
    
  <h4>    a) Utiliser ce camp comme moyen éducatif :</h4>
   
      - « Etre capable de bien vivre en communauté. »<br />
      <br />
      
      Les stagiaires vivent ensemble 24h/24 durant leur semaine de stage. Des règles de vies sont indispensables au bon fonctionnement du camp.<br />
      <ul>
      <li> Respecter les différents horaires</li>
      <li> Respecter les hygiènes de vie</li>
      <li>Respecter les repas</li>
      </ul>
<br />
      Développer le sens de l’effort :<br />
      <br />
      - « Etre capable d’aller au bout de soit. »<br />
<br />
      Le camp se déroule à 1500 mètres d’altitude. Au programme 5 heures d’entrainement par jour reparties en 3 séances.<br />
      Ces différents efforts, dans un site particulier, permettront aux stagiaires de développer leurs qualités mentales et physiques propres à chaque individu.<br />
<br />


<h4>      b) Etre capable de trouver l’épanouissement :</h4>
 
      - L’unité des lieux (logement, restauration, terrain) permet une certaine autonomie pour les différents acteurs du camp.<br />
      - La station de Superdévoluy, situé à 1500 mètre d’altitude est un cadre idyllique à la recherche du bien être. L’oxygène, l ‘espace, la tranquillité et le soleil en sont les garants.<br />
      - Les différentes activités extra basket dans la station, la convivialité au sein du camp sont aussi sources d’épanouissement.<br />
            <br />

    <span style="color:red; font-size:16px; text-align:center;">  <strong>Ces 3 facteurs permettront à chaque stagiaires et éducateurs de s’épanouir individuellement.</strong></span><br />
      <br />

      
<h4>      c) Favoriser l’accès au plus grand nombre :</h4>
 
      - Politique de prix juste et abordable.<br />
      - Différents modes de paiements adaptés (bons CAF, paiement en plusieurs fois…)<br />
      - Choix de la formule adaptée à ses besoins (plein temps, mi-temps, externe, en chalet club, en famille…)<br />
      - Voyages accompagnés depuis Paris<br />
      - Camps pour les plus jeunes (6-8 ans)<br />
      - Pas de limites d’âges pour les plus anciens<br />
      - 7 semaines consécutives durant les vacances d’été<br />
      <br />


<h3>      3. Les Atouts de TBA.</h3>
 
<ul>
    <li> + de 30 ans d’expérience.</li>
    <li> Qualité de l’encadrement. ( BE3, BE2, DES, BE1, DEJEPS, BAFA, joueurs internationaux, joueurs professionnels, CTR, CTS, CTF, professeurs d’EPS)</li>
    <li> Unité des lieux dans un cadre exceptionnel</li>
    <li> Hébergement et restauration de très grande qualité</li>
  </ul>
<br />

<span style="color:blue; font-size:20px; text-align:center;">TBA EST PLUS QU’UN CAMP : C’EST UNE FAMILLE
 </span>
 
</article>

{% endblock %}
