{% extends "base.html" %}

{% block title %}Projet éducatif {% endblock %}

{% block description %} Description d'une journée type de camps de Basket chez TBA à Superdévoluy pour les stagiaires ayant opté pour la structure d’internat à l’Hôtel Les Chardonnelles. {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000"> PROJET EDUCATIF</font></b></p>
  <p style="font-size:18px; text-align:center">Team Basket Association</p>
  
 <p style="font-size:16px; text-align:center">Séjour spécifique sportif avec hébergement dans le Centre d’Accueil Collectif de Mineurs de Superdévoluy (Hautes Alpes, altitude 1500 m)<br />
  </p>
    
  
  
 <h4> 1. Objectifs de l’action éducative :</h4>  
  
    <p>
      Conformément à nos statuts déposés en 1984, notre association a pour but d’instaurer des conditions et des moyens susceptibles de développer la pratique du basketball, de susciter des vocations, de développer chez les stagiaires l’esprit de communauté et de solidarité nécessaire à l’équilibre de leur personnalité.<br />
      <br />
      Les Accueils Collectifs de Mineurs représentent pour les enfants et les adolescents une aventure incontournable. C’est une expérience qui contribue à leur développement au même titre que d’autres temps d’éducation.<br />
      <br />
      Par le biais du basket-ball comme activité support, TBA à pour objectif :<br />
      <br />
      a) Aider à la formation du « futur adulte de demain »<br />
      Cela sous entend :<br />
      - Etre capable de vivre 1 semaine en communauté<br />
       * respecter les règles élémentaires de fonctionnement du camp telles que les horaires <br />
       * respecter l’environnement du camp (différents matériels et citoyenneté)<br />
       * accepté les différences de chacun.<br />
      - Accepter les décisions ou l’appréciation des arbitres, respecter les consignes des animateurs,<br />
      - Prendre soin de son corps en l’écoutant et en utilisant les périodes de repos.<br />
      - Permettre la communication pour rencontrer des gens de différents horizons : (stagiaires, encadrements, salariés de l’hôtel et la station, les commerçants).<br />
      - Développer l’autonomie dès le plus jeune âge.<br />
      <br />
      b) Aider à la progression du « futur basketteur de demain »<br />
      - Développer leurs différentes qualités individuelles<br />
      - Développer leurs différentes qualités collectives<br />
      - Développer la cohésion dans chaque groupe, équipes.<br />
      - Développer l’esprit de compétition tout en respectant la convivialité qu’engendre ce sport collectif.<br />
      - Développer la qualité de la gestion des émotions dans des situations spécifiques<br />
      - Développer le sens de l’effort « être capable d’aller au bout de sois »<br />
      - Les stagiaires devront aussi être capable d’arbitrer afin de développer la « responsabilité et la prise de décision »<br />
      <br />
      
      c) Aider à l’épanouissement du « stagiaire »<br />
      - L’unité des lieux (logement, restauration, terrain) permet une certaine autonomie pour les différents acteurs du camp. <br />
     -  La station de Superdévoluy, situé à 1500 mètre d’altitude est un cadre idyllique à la recherche du bien-être. L’oxygène, l'espace, la tranquillité et le soleil en sont les garants. <br />
     - Les différentes activités extra basket dans la station, la convivialité au sein du camp sont aussi sources d’épanouissement.<br />
      <br />
    <h4>  2. Favoriser l’accès au plus grand nombre :</h4> 
      - Politique de prix juste et abordable. <br />
      - Choix de la formule adaptée à ses besoins (plein temps, mi-temps, externe, en chalet club, en famille avec les parents sur place…). 
      - Voyages accompagnés depuis Paris. <br />
      - Camps pour les plus jeunes (6-8 ans). <br />
      - Pas de limites d’âges pour les plus anciens qui sont venus participer aux camps alors qu’ils étaient plus jeunes. <br />
- Plusieurs semaines consécutives durant les vacances d’été.<br />
<br />
<h4> 3. Les atouts de TBA.</h4>
<p>
      - + de 30 ans d’expérience, organisation des camps à Superdévoluy depuis 1984<br />
      - Qualité de l’encadrement. (BE3, BE2, DES, BE1, DEJEPS, joueurs internationaux, joueurs professionnels, CTR, CTS, CTF, professeurs d’EPS)<br />
      - Unité des lieux dans un cadre exceptionnel.<br />
    - Hébergement et restauration de très grande qualité.</p>
  <p><br />    
    <span style="color:blue; font-size:20px; text-align:center;">TBA EST PLUS QU’UN CAMP : C’EST UNE FAMILLE DEPUIS 1984
    </span></p>
 
 
 

  
</article>

{% endblock %}
