{% extends "base.html" %}

{% block title %}AFFILIATION de TBA à la Fédération Française de Basket {% endblock %}

{% block description %} Nos camps sont organisés autour de la pratique unique du basket-ball et votre enfant ne vient pas dans une colonie de vacances mais dans un camp sportif {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000">AFFILIATION de TBA à la Fédération Française de Basket</font></b></p>
  <p>&nbsp;</p>

 <p>Au regard des éléments fournis par TBA et des garanties apportées par la FFBB indiquant les démarches en cours pour rendre possible et concrétiser cette affiliation, la Direction Départementale de la Cohésion Sociale d&rsquo;Indre et Loire nous a accordé en avant première, la possibilité de déclarer nos séjours de l&rsquo;été 2018 comme « séjour sportif ». Nos camps sont organisés autour de la pratique unique du basket-ball et votre enfant ne vient pas dans une colonie de vacances mais dans un camp sportif. Vous pouvez prendre connaissance du <strong> <a href="{% url 'static_pages' 'projet-pedagogique' %}">projet pédagogique</a> </strong> et du <strong> <a href="{% url 'static_pages' 'projet-educatif' %}">projet éducatif</a></strong> dans 2 rubriques différentes. Ces projets sont ceux qui accompagneront vos enfants au cour de leur séjour dans notre camp de basket de Superdévoluy.</p>
 <p>L&rsquo;Assemblée Générale de la FFBB 2018 qui s&rsquo;est tenu au Palais des Papes à Avignon (84) a voté à l&rsquo;unanimité la modification des statuts de la fédération permettant l&rsquo;affiliation de nouvelles structures, indispensable à la mise en place du plan stratégique FFBB 2024 et Club 3.0. Notre structure associative TBA va s&rsquo;affilier à la FFBB en tant que Club 3.0., nos stagiaires auront une licence FFBB et ainsi nos camps sont reconnus dans le cadre du séjour spécifique.</p>
 <p>Aux termes de l&rsquo;arrêté référencé (en date du 1er août 2006), sont considérés comme « séjours spécifiques » les « séjours organisés, pour leurs licenciés mineurs, par les fédérations sportives agréées, leurs organes déconcentrés et les clubs affiliés, dès lors que ces accueils entrent dans le cadre de leur objet ». Les séjours sportifs, organisés au sein des fédérations agréées, des ligues et comités (régionaux et départementaux), ainsi que par les clubs qui leur sont affiliés entrent dans la catégorie des « séjours spécifiques », uniquement lorsque ces séjours s&rsquo;adressent à leurs licencié(e)s.</p>
 <p>&nbsp;</p>
  
</article>

{% endblock %}
