{% extends "base.html" %}

{% block title %}La formule Spécial Club TBA {% endblock %}

{% block description %} La formule spécial club Camps de Basket TDA c'est au minimum 6 stagiaires avec un accompagnateur adulte obligatoire en chalet, les 3 repas sont pris avec les stagiaires, l'accompagnateur est responsable du chalet.
 Il profite des avantages de l'hôtel (hammam, jacuzzi, piscine) et peut sous certaines conditions, participer au stage basket. {% endblock %}


{% block content %}

<article class="featured">
  
  <p><b> <font color="#FF0000" size="5">SPECIAL CLUB</font></b></p>
  
  
  <p style="margin-left: 5">
  
  
Formule Chalet Club : EXTERNAT + pension complète à l’Hôtel Club Chalets Margot <br>
<br>
Minimum <strong>4 stagiaires</strong>, avec 1 accompagnateur adulte obligatoire. (Couple accompagnant possible). Vous logez en chalet ou en appartement en fonction du nombres de jeunes avec vous, les 3 repas sont pris avec l’ensemble des stagiaires qui sont dans le centre hôtelier.<br />
<br />
L’accompagnateur est responsable du chalet car vous êtes en externat plein temps. L’adulte profite des avantages de l’hôtel (hammam, jacuzzi, piscine).<br />
<br />
Le logement se fait soit en appartement (4 lits individuels stagiaires et un grand lit double) soit en chalet (un grand lit double et 8 lits individuels). Si vous êtes plus de 8 stagiaires, il faudra l’inscription d’un 2ème adulte pour un 2ème logement. Possibilité de rajouter des stagiaires dans la limite des places disponibles.<br />
<br />
<strong>Coût pour chaque stagiaire : 438 €</strong>  (au lieu de 458 € en formule 3 internat)<br />
<br />
Coût pour l’accompagnateur des stagiaires = 250 €  (coût de la pension pour un couple 500 €)<br />
<br />
Il n’y a pas d’assurance à prendre car si l’accompagnateur inscrit devait annuler, il doit obligatoirement être remplacé par un autre accompagnateur.<br />
<br />
A l’arrivée, l'accompagnateur devra avec carte de crédit ou chèque déposer une caution de 300€.<br />
<br />
Lors de l'inscription, pour cette formule, <strong> le stagiaire doit obligatoirement mentionner le nom d’un accompagnateur sinon l'inscription n’est pas validé.</strong><br />
<br />
L’accompagnateur ou le couple accompagnateur doit s’inscrire soit séparément, soit dans un dossier avec des stagiaires.<br />
<br />
Voici quelques photos des groupes prisent sur la terrasse des chalets<br>
<br>  
  </p>
  <p align="center"><img border="0" src="/tba/photo/sem-6-39.jpg" width="640" height="426"></p>
  <p align="center">
    <img border="0" src="/tba/photo/sem-6-155.jpg" width="640" height="426"></p>
  <p align="center">
    <img border="0" src="/tba/photo/DSC_0200-b.jpg" width="640" height="425"></p>



</article>

{% endblock %}
