{% extends "base.html" %}

{% block title %}Stage en immersion Anglais 24h sur 24 {% endblock %}

{% block description %}Des articles marqués TBA sont en vente sur le site (tee-shirts, coudières, casquettes, serviettes, polos, maillots réversibles). Un moyen de garder un souvenir. Il est possible d'en profiter dès à présent d'autant plus que l'expédition est gratuite. {% endblock %}

{% block content %}
<article class="featured">
  
  
  
  <p align="center">
    <b><font size="6" color="#FF0000">Stage en immersion Anglais 24h sur 24 </font></b>
  </p>
  
  
  <p><strong>TBA INNOVE</strong></p>
  <p style="color:#FF0000"> <strong>Pour la 3ème année </strong><u></u><u></u></p>
  <p> Stage de basket comme aux USA….</p>
  <p> Mais…</p>
  <p> A SUPERDEVOLUY (Hautes Alpes)</p>
  <p style="color:#FF0000"> <strong>Seule langue autorisée, l&rsquo;ANGLAIS  24 heures sur 24</strong><u></u><u></u></p>
  <p> Dans la vie de tous les jours en chalet</p>
  <ul>
  <li>2 ou 3 entrainements par jour avec coach Américain (entrainements de 1H 30)</li>
  <li>2 cours d’Anglais par jour</li>
  <li>Les repas et des jeux en Anglais</li>
  </ul>
  
  
  <p><strong><span  style="color:#FF0000">2021</span></strong> : 2 semaines sont organisées pendant lesquelles les stagiaires seront immergés en langue anglaise 24 heures sur 24.</p>

<p><strong><span  style="color:#FF0000">2 semaine pendant les vacances d’été : du 15 août au 21août et du 22 au 28 août</span></strong></p>

<p align="center">
<b><font size="4" color="#FF0000">Courte vidéo de l’été 2021 des camps en langue Anglaise</font></b>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/b1vtDRzU4eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </p> 

  <p>Le nombre de places est limité à 40 par session. Age minimum pour s’inscrire 13 ans. (né en 2008 ou avant)</p>
  <p>Voir une vidéo du camp en Anglais dans la <a href="video.htm">rubrique vidéo</a></p>
<p>Voici quelques avis de parents dont les enfants ont participé au 1er séjour organisé du  15 au 21 juillet 2018 à SUPERDEVOLUY avec la participation et l&rsquo;aide du Conseil Départemental des Hautes Alpes.</p>
  <p> &quot;Mon fils dit qu'il a plus appris en 1 semaine qu'en 1 année de cours d'Anglais&quot;<u></u><u></u><br />
   Madame KANDE (05000 Gap)</p>
<p>  &quot;Je pense que ce stage a été une grande chance pour les enfants. Rémi l'a beaucoup apprécié et nous en parle souvent, autant pour le côté sportif que ludique pour les cours d'Anglais&quot;<u></u><u></u><br />
   Madame CEAS (05230  La Bâtie Neuve)</p>
<p>  &quot;Une participation très positive pour ce séjour inoubliable, tant par rapport aux cours de basket qu'aux cours d'Anglais très adapté au groupe&quot;<br />
   Madame Marianne CELCE (05000 Gap)</p>

  <p>Et voici 3 minutes de vidéo pour vous donner envie de faire une immersion complète in English</p>
  
  <p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/KA9JcKs4N5Q?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </p> 
  
   <p>  Version courte du camp en immersion langue Anglais Août 2019</p>
     
  <p align="center">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/wHzKun1p4hg?controls=0&amp;start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p> 
  
</article>
{% endblock %}
