{% extends "base.html" %}

{% block content %}

<article class="featured">
  
  
  
  <p align="center">
    <b><font size="6" color="#FF0000">BOUTIQUE</font></b>
  </p>
  
  
  

  <p class="MsoNormal"><font color="#FF0000"><b>CASQUETTES</b></font></p>
  <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b><span style="font-size: 11pt">référence</span></b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Taille </b></td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Quantité dispo</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">prix</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b><span style="font-size: 11pt">Casquette 
              beige</span></b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Taille unique</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">25</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b><span style="font-size:11.0pt">Casquette 
              bleue</span></b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Taille unique</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">25</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
  </table>
  
  <p align="center">
    <img border="0" src="photos/casquette-Beige.jpg" width="640" height="480"><br>
    <b><span style="font-size: 11pt">Casquette beige</span></b></p>
  <h1 align="center">
    <img border="0" src="photos/casquette-bleue.jpg" width="640" height="480"><br>
    <b><span style="font-size:11.0pt">Casquette bleue</span></b></h1>
  <p align="center"><br>
    &nbsp;</p>
  

  <p class="MsoNormal"><b>COUDIERES&nbsp;&nbsp;&nbsp; L et XL pour 
      cadets et plus</b></p>
  <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="136" valign="top" style="width: 102.3pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>référence</b></td>
      <td width="109" valign="top" style="width: 81.9pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Taille </b></td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Quantité dispo</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">prix</td>
    </tr>
    <tr>
      <td width="123" rowspan="2" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">royal</td>
    </tr>
    <tr>
      <td width="136" valign="top" style="width: 102.3pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b><span style="font-size:11.0pt">Coudière 
              royal</span></b></td>
      <td width="109" valign="top" style="width: 81.9pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L/XL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">15</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">15 €</td>
    </tr>
    <tr>
      <td width="123" rowspan="2" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">noir</td>
    </tr>
    <tr>
      <td width="136" valign="top" style="width: 102.3pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b><span style="font-size:11.0pt">Coudière 
              noire</span></b></td>
      <td width="109" valign="top" style="width: 81.9pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L/XL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">41</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">15 €</td>
    </tr>
  </table>
  <p align="center">
    <img border="0" src="photos/coudiere-royal.jpg" width="640" height="853"><br>
    <b><span style="font-size:11.0pt">Coudière </span></b>
    <span style="font-size: 11pt"><b>royal</b></span></p>
  <p align="center">&nbsp;</p>
  <p align="center">
    <img border="0" src="photos/coudiere-noire.jpg" width="640" height="853"><br>
    <b><span style="font-size:11.0pt">Coudière noire</span></b></p>

  <p align="center">
    <img border="0" src="photos/coudiere.jpg" width="640" height="480"><br>
    <b><span style="font-size:11.0pt">La coudière est envoyée dans son emballage d'origine</span></b></p>
  
  <!--
      <p class="MsoNormal"><b>POLOS</b></p>
      <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
        <tr>
          <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">&nbsp;</td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>référence</b></td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>Taille &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">Quantité dispo</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">prix</td>
        </tr>
        <tr>
          <td width="123" rowspan="3" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">kaki</td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>Polo 1 </b></td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">S</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">2</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">12 €</td>
        </tr>
        <tr>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>&nbsp;</b></td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">M</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">3</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">12 €</td>
        </tr>
        <tr>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>&nbsp;</b></td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">L</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">1</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">12 €</td>
        </tr>
        <tr>
          <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">Pièce unique</td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal"><b>Polo 2 à 11</b></td>
          <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">L</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">1</td>
          <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
            <p class="MsoNormal">12 €</td>
        </tr>
      </table>
      
      
      
  <p align="center">
    <img border="0" src="photos/polo-1.jpg" width="640" height="480"><b><br>
      Polo 1</b></p>
  <p align="center">
    <img border="0" src="photos/polo-2.jpg" width="640" height="480"><br>
    <b>Polo 2</b></p>
  <p align="center">
    <img border="0" src="photos/polo-3.jpg" width="640" height="480"><br>
    <b>Polo 3</b></p>
  
  
  <p align="center">
    <img border="0" src="photos/polo-4.jpg" width="640" height="480"><b><br>
      Polo 4</b></p>
  
  <p align="center">
    <img border="0" src="photos/polo-6.jpg" width="640" height="480"><br>
    <b>Polo 6</b></p>
  
  
  <p align="center">
    <img border="0" src="photos/polo-7.jpg" width="640" height="480"><b><br>
      Polo 7</b></p>
  <p align="center">
    <img border="0" src="photos/polo-8.jpg" width="640" height="480"><br>
    <b>Polo 8</b></p>
  <p align="center">
    <img border="0" src="photos/polo-9.jpg" width="640" height="480"><br>
    <b>Polo 9</b></p>
  
  <p align="center">
    <img border="0" src="photos/polo-10.jpg" width="640" height="480"><b><br>
      Polo 10</b></p>
  <p align="center">
    <img border="0" src="photos/polo-11.jpg" width="640" height="480"><br>
    <b>Polo 11</b></p>
  
  

  
  
  <p class="MsoNormal">&nbsp;</p>
  <p class="MsoNormal"><b>REVERSIBLES </b></p>
  <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>référence</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Taille </b></td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Quantité dispo</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">prix</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Orange/blanc </b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">6/8 ans</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">20</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">6 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Noir/blanc</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">6/8 ans</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">52</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">6 €</td>
    </tr>
  </table>
  <p class="MsoNormal" align="center">
    <img border="0" src="photos/reversible-enfant-orange-bl.jpg" width="640" height="480"><br>
    <b>Réversibles Orange/blanc</b></p>
  <p class="MsoNormal" align="center">
    <img border="0" src="photos/reversible-enfant-noir-blan.jpg" width="640" height="480"><br>
    <b>Réversibles Noir/blanc</b></p>
  
  
  <p class="MsoNormal">&nbsp;</p>
  <p class="MsoNormal"><b>SERVIETTES</b></p>
  <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>référence</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Taille </b></td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Quantité dispo</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">prix</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">blanche</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>serviette</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">70x130</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">15</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
  </table>
  <p class="MsoNormal" align="center"><b>&nbsp;<img border="0" src="photos/serviette-tba.jpg" width="640" height="853"><br>
      Serviette TBA</b></p>
  <p class="MsoNormal" align="center">&nbsp;</p>
  <p class="MsoNormal"><b>T-SHIRTS</b></p>
  <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none">
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">&nbsp;</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>référence</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>Taille </b></td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Quantité dispo</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">prix</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Gris manches longues</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>T1</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">4</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Violet manches courtes </td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>T2</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">4</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" rowspan="5" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Orange brique manches longues</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>T3</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">S</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">6</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>&nbsp;</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">M</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">7</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>&nbsp;</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">7</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>&nbsp;</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">XL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">4</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>&nbsp;</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">XXL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">3</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm" rowspan="2">
        <p class="MsoNormal">Blanc rainures bleu ciel</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm" rowspan="2">
        <p class="MsoNormal"><b>T4</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">1</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        XL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        1</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Pièces uniques</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>T5 à T20</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">L</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">1</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
    <tr>
      <td width="123" valign="top" style="width: 92.1pt; border-left: 1.0pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">Pièces uniques</td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal"><b>T21 à T26</b></td>
      <td width="123" valign="top" style="width: 92.1pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">XL</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">1</td>
      <td width="123" valign="top" style="width: 92.15pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
        <p class="MsoNormal">10 €</td>
    </tr>
  </table>
  
  <br>
  <br>
  

  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T1.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T1 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T1 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T1 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T2.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T2 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T2 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T2 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T3.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b> </b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T3 </b>  </td>
      <td width="50%" align="center"><b> </b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T4.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T4 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T4 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T4 DOS</b></td>
    </tr>
  </table>
  
  
  
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T7.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T7 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T7 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T7 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T8.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T8 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T8 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T8 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T9.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T9 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T9 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T9 DOS</b></td>
    </tr>
  </table>
  
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T10.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T10 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T10 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T10 DOS</b></td>
    </tr>
  </table>
  
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T11.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T11 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T11 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T11 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T12.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T12 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T12 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T12 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T13.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T13 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T13 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T13 DOS</b></td>
    </tr>
  </table>
  
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T15.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T15 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T15 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T15 DOS</b></td>
    </tr>
  </table>
  
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center"><b><img border="0" src="photos/T16.jpg" width="320" ></b></td>
      <td width="50%" align="center">  <b><img border="0" src="photos/T16 dos.jpg" width="320" ></b></td>
    </tr>
    <tr>
      <td width="50%" align="center"><b>T-SHIRT T16 </b>  </td>
      <td width="50%" align="center"><b>T-SHIRT T16 DOS</b></td>
    </tr>
  </table>
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
    <tr>
      <td width="50%" align="center">b><img border="0" src="photos/T17.jpg" width="320" ></b></td>
<td width="50%" align="center">  <b><img border="0" src="photos/T17 dos.jpg" width="320" ></b></td>
</tr>
<tr>
  <td width="50%" align="center"><b>T-SHIRT T17 </b>  </td>
  <td width="50%" align="center"><b>T-SHIRT T17 DOS</b></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T18.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T18 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T18 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T18 DOS</b></td>
  </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T19.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T19 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T19 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T19 DOS</b></td>
  </tr>
</table>



<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T20.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T20 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T20 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T20 DOS</b></td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T21.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T21 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T21 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T21 DOS</b></td>
  </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T22.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T22 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T22 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T22 DOS</b></td>
  </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T24.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T24 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T24 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T24 DOS</b></td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T23.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T23 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T23 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T23 DOS</b></td>
  </tr>
</table>



<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T25.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T25 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T25 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T25 DOS</b></td>
  </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber2">
  <tr>
    <td width="50%" align="center"><b><img border="0" src="photos/T26.jpg" width="320" ></b></td>
    <td width="50%" align="center">  <b><img border="0" src="photos/T26 dos.jpg" width="320" ></b></td>
  </tr>
  <tr>
    <td width="50%" align="center"><b>T-SHIRT T26 </b>  </td>
    <td width="50%" align="center"><b>T-SHIRT T26 DOS</b></td>
  </tr>
</table> 





<p>Vous voulez commander un ou plusieurs articles</p>
<p>Envoyer un mail à <a href="mailto:inscriptionstba@orange.fr" > inscriptionstba@orange.fr</a> avec la référence de l’article.</p>
<p>Sans autre demande il est prévu un envoi en courrier ordinaire. Si vous voulez un envoi suivi (le montant du supplément est calculé en 
  fonction du nombre d’articles&nbsp;: 2,50 € pour 1 article, 3,50 € pour 2             articles et 4,50 € pour 3 articles ou plus), rajouter avec la 
  référence de l’article commandé&nbsp;: ENVOI SUIVI </p>
<p>Vous recevez rapidement une demande de règlement que vous pourrez faire par PayPal. </p>
<p><b>PayPal</b> permet d'envoyer des paiements à toute personne possédant une adresse email. Nous vous donnerons l’adresse email pour ce règlement avec notre demande de règlement.</p>
<p><b>PayPal</b> est gratuit pour les utilisateurs. Vous n’avez pas besoin de communiquer vos coordonnées bancaires, pas besoin de saisir votre numéro de carte, un email et un mot de passe suffisent. La transaction est instantanée.</p>
<p>L’envoi de l’article commandé est fait dès le lendemain de la réception du règlement.</b></p>
<p> Si vous voulez vous pouvez régler également par chèque à l’adresse suivante : </p>
<p>Laure SENEGAL Camps TBA Impasse du Grand Paquier&nbsp; Hameau de Challanges&nbsp; 21200 BEAUNE<br>            Téléphone 06 25 31 41 56 </p>
<p>L’envoi est fait dès réception du règlement (soit un délai de 2 voir 3 jours)</p>
<p>Nous vous confirmons l’envoi de votre article par mail.</p>
<p>L’envoi se fait en lettre prioritaire simple. </p>


-->	 
</article>
{% endblock %}
