{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3"  >
    <tr>
      <td width="51%" align="center">
        <p align="center"><img border="0" src="photo/superdevoluy-1.jpg" width="256" ></td>
      <td width="49%" align="center">
        <img border="0" src="photo/superdevoluy-2.jpg" width="256" ></td>
    </tr>
    <tr>
      <td width="100%" colspan="2">&nbsp;
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2">
        <p align="center"><b>8 terrains pour s'entraîner<br> A 300m de l’hôtel (aucune circulation dans la station)</b></td>
    </tr>
    <tr>
      <td width="51%" align="center">&nbsp;</td>
      <td width="49%" align="center">&nbsp;</td>
    </tr>
    <tr>
      <td width="51%" align="center">
        <img border="0" src="photo/tba%20019.jpg" width="256" height="385"></td>
      <td width="49%" align="center">
        <img border="0" src="photo/tba%20028.jpg" width="256" height="385"></td>
    </tr>
    <tr>
      <td width="51%">&nbsp;</td>
      <td width="49%">&nbsp;</td>
    </tr>
    <tr>
      <td width="51%">
        <p align="center"><img border="0" src="photo/DSC_5619.JPG" width="256" height="170"></td>
      <td width="49%">
        <p align="center">
          <img border="0" src="photo/Terrain%20nuit.JPG" width="256" height="171"></td>
    </tr>
    <tr>
      <td width="51%">&nbsp;</td>
      <td width="49%">&nbsp;</td>
    </tr>
    <tr>
      <td width="51%">&nbsp;</td>
      <td width="49%">&nbsp;</td>
    </tr>
    <tr>
      <td width="51%">
        <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/CHALET-ETE-1.jpg" width="256"></p>
      </td>
      <td width="49%">
        <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/Hotel-Les-Chardonnelles.jpg" width="256" ></td>
    </tr>
    
    <tr>
      <td width="51%">
        <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/PISCINE-VUE-HOTEL-3eme-+-chalets.jpg" width="256"></p>
      </td>
      <td width="49%">
        <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/Salle-restaurant.jpg" width="256" ></td>
    </tr>
    
    
    
    <tr>
      <td width="100%" colspan="2">
        <p align="center"><b>Pour se reposer <br> 
            L'hôtel *** et ses chalets</b></td>
    </tr>
    <tr>
      <td width="51%">&nbsp;</td>
      <td width="49%">&nbsp;</td>
    </tr>
    <tr>
      <td width="51%">
        <p align="center"><img border="0" src="photo/DSC02182.jpg" width="256" height="192"></td>
      <td width="49%" align="center">
        <img border="0" src="photo/DSC02146.jpg" width="256" height="192"></td>
    </tr>
    <tr>
      <td width="100%" colspan="2">
        <p align="center"><b>Pour se détendre<br>La piscine de l’hôtel</b></td>
    </tr>
    <tr>
      <td width="51%">
        <p align="center"><img border="0" src="photo/Salle-restaurant-2.jpg" width="256" ></td>
      <td width="49%" align="center">
        <img border="0" src="photo/chambre-m8-bas.jpg" width="256"></td>
    </tr>
    <tr>
      <td width="100%" colspan="2">
        <p align="center"><br>
          <b>Pour se restaurer et se reposer<br>Salle réfectoire et chambres équipées de TV</b></td>
    </tr>
    <tr>
      <td width="51%">&nbsp;</td>
      <td width="49%">&nbsp;</td>
    </tr>
  </table>
  <p align="center"><b>ACCES</b></p>
  <p><b>Situé à 1500m d’altitude dans le département des Hautes Alpes (05), la station de Superdévoluy est accessible par la route ou par le train.<br>
      <br>
      Par la route : 30 minutes de Veynes Dévoluy, 45 minutes de Gap.<br>
      <br>
      Par le train : Gare d'accès : Veynes Dévoluy puis navette (des cadres TBA vous accueilleront à la gare sur demande).<br>
</b></p></td>
</tr>
</table>
</td>
</tr>
</tbody>
</table>

</article>
{% endblock %}
