{% extends "base.html" %}


{% block title %} En savoir plus sur la situation de Superdévoluy{% endblock %}

{% block description %}Superdévoluy, où se déroulent les stages de basket de TBA, est situé à 1500m d’altitude dans le département des Hautes Alpes (05), la station de Superdévoluy est accessible par la route ou par le train. Quelques images de Superdevoluy : les 8 terrains de basket, les chalets, la piscine. {% endblock %}

{% block content %}
<article class="featured">
  
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3"  >
             
             
             <tr>
                <td colspan="2" align="center">
                  <p align="center"><img src="/tba/photos/superdevoluy-03.jpg" width="575" height="431"></td>
                </tr>
             
              <tr>
                <td colspan="2" align="center">
                <p align="center"> <b>  Le magnifique site des camps de basket TBA à Superdévoluy</b></p>
              </td>
                </tr>
             <tr>
                <td width="51%" align="center">
                <p align="center"> </td>
                <td width="49%" align="center">
                 </td>
              </tr>
             
             
              <tr>
                <td colspan="2" align="center">
                  <p align="center"><img src="/tba/photos/superdevoluy-02.jpg" width="575" height="170"></td>
                </tr>
             
              <tr>
                <td width="51%" align="center">
                <p align="center"> </td>
                <td width="49%" align="center">
                 </td>
              </tr>
             
             
              <tr>
                <td width="51%" align="center">
                <p align="center"><img border="0" src="/tba/photo/superdevoluy-1.jpg" width="256" ></td>
                <td width="49%" align="center">
                <img border="0" src="/tba/photo/superdevoluy-2.jpg" width="256" ></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="2">
                <p align="center"><b>
                11 terrains extérieurs pour s'entrainer et 2 terrains couverts <br>
                dans le centre sportif du Dévoluy avec parquet.<br>
Les terrains sont situés à 400 mètres de l'hôtel où sont logés les stagiaires et en face des logements du Hameau du Puy.


                
                </b></td>
              </tr>
              <tr>
                <td width="51%" align="center">&nbsp;</td>
                <td width="49%" align="center">&nbsp;</td>
              </tr>
              <tr>
                <td width="51%" align="center"><img src="/tba/photos/DSC_5788.JPG" width="256" height="170"></td>
                <td width="49%" align="center"><img src="/tba/photos/IMG_0026.JPG" width="256" height="171"></td>
              </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
              <tr>
                <td width="51%">
                  <p align="center"><img src="/tba/photos/IMG_0035.JPG" width="256" height="171"></td>
                <td width="49%">
                  <p align="center"><img src="/tba/photos/IMG_1571.JPG" width="256" height="171"></td>
              </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
              <tr>
                <td width="51%">
                <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/CHALET-ETE-1.jpg" width="256"></p>
                </td>
                <td width="49%">
                <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/Hotel-Les-Chardonnelles.jpg" width="256" ></td>
              </tr>
              
              <tr>
                <td width="51%">
                <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/PISCINE-VUE-HOTEL-3eme-+-chalets.jpg" width="256"></p>
                </td>
                <td width="49%">
                <p align="center"><img border="0" src="http://www.camps-basket.com/tba/photo/Salle-restaurant.jpg" width="256" ></td>
              </tr>
              
              
              
              <tr>
                <td colspan="2">
                <p align="center"><b>Pour se reposer <br> 
                L'hôtel *** et ses chalets</b></td>
              </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
              <tr>
                <td width="51%">
                <p align="center"><img border="0" src="/tba/photo/DSC02182.jpg" width="256" height="192"></td>
                <td width="49%" align="center">
                <img border="0" src="/tba/photo/DSC02146.jpg" width="256" height="192"></td>
              </tr>
              <tr>
                <td colspan="2">
                <p align="center"><b>Pour se détendre<br>La piscine de l’hôtel</b></td>
              </tr>
              <tr>
                <td width="51%">
                <p align="center"><img border="0" src="/tba/photo/Salle-restaurant-2.jpg" width="256" ></td>
                <td width="49%" align="center">
                <img border="0" src="/tba/photo/chambre-m8-bas.jpg" width="256"></td>
              </tr>
              <tr>
                <td colspan="2">
                <p align="center"><br>
                <b>Pour se restaurer et se reposer<br>Salle réfectoire et chambres équipées de TV</b></td>
              </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
            </table>
            <p align="center"><b>ACCES</b></p>
            <p><b>Situé à 1500m d’altitude dans le département des Hautes Alpes (05), la station de Superdévoluy est accessible par la route ou par le train.<br>
            <br>
      Par la route : 30 minutes de Veynes Dévoluy, 45 minutes de Gap.<br>
            <br>
      Par le train : Gare d'accès : Veynes Dévoluy puis navette (des cadres TBA vous accueilleront à la gare sur demande).<br>
      </b></p></td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>


</article>
{% endblock %}
