{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">LES TELECHARGEMENTS </font></font></b></p>
  
  <p align="left">
    Vous pouvez télécharger tous nos documents :<br>
    <br>
    Le dépliant {{ settings.ANNEE }} <a href="http://www.camps-basket.com/tba/pdf/TBA-2014.pdf" target="_blank">ici</a><br>
    <br>
    Le bulletin d’inscription <a href="http://www.camps-basket.com/tba/pdf/Bulletin-inscription-2014.pdf" target="_blank">ici</a>  <br>
    <br>
    La fiche de réservation logement snow and sun Le Hameau du Puy <a href="http://www.camps-basket.com/tba/pdf/Fiche-de-reservation-Hameau-du-Puy-2014.doc" target="_blank">ici</a><br>
    <br>
    Tarif {{ settings.ANNEE }} et les différentes formules Hôtel Club, appartements chalets Margot   <a href="http://www.camps-basket.com/tba/pdf/2014-Chalets-Margot-tarifs.doc" target="_blank">ici</a><br>
    <br>
    Tarif {{ settings.ANNEE }} et renseignements locations Snow & Sun (Le Hameau du Puy) <a href="http://www.camps-basket.com/tba/pdf/tarif-hameau-du-puy-2014.docx" target="_blank">ici</a><br>
    <br>
    <br>
    Autorisation parentale, assurance, droit à l'image (word) <a href="http://www.camps-basket.com/tba/pdf/autorisation-parentale-2014.doc" target="_blank">ici</a><br>
    Autorisation parentale, assurance, droit à l'image (pdf)  <a href="http://www.camps-basket.com/tba/pdf/autorisation-parentale-2014.pdf" target="_blank">ici</a><br>
    <br>
    Fiche sanitaire de liaison en word   <a href="http://www.camps-basket.com/tba/pdf/Fiche-sanitaire-2014.doc" target="_blank">ici</a>  <br>
    Fiche sanitaire de liaison en pdf <a href="http://www.camps-basket.com/tba/pdf/Fiche-sanitaire-2014.pdf" target="_blank">ici</a><br>
    <br>
    Renseignements pour le camp {{ settings.ANNEE }} (Word) <a href="http://www.camps-basket.com/tba/pdf/Renseignements-pour-le-camp-2014.doc" target="_blank">ici</a><br>
    Renseignements pour le camp {{ settings.ANNEE }} (PDF)  <a href="http://www.camps-basket.com/tba/pdf/Renseignements-pour-le-camp-2014.pdf" target="_blank">ici</a><br>

    <br>
    <br>
    
    
  </p>
  
  
</article>
{% endblock %}
