{% extends "base.html" %}

{% block title %}Les téléchargements {% endblock %}

{% block description %} Vous pouvez télécharger tous nos documents : Le dépliant 2013, Le bulletin d’inscription, la fiche de réservation logement snow and sun, le tarif 2013 et les différentes formules appartements, chalets, l'Autorisation parentale, la fiche sanitaire de liaison. {% endblock %}


{% block content %}
<article class="featured">
  
  
  <p align="center"><b>&nbsp;<font size="6"><br>
        <font color="#FF0000">LES TELECHARGEMENTS </font></font></b></p>
  
  <p align="left">
    Vous pouvez télécharger tous nos documents :<br>
    <br>
    Le dépliant {{ settings.ANNEE }} <a href="{{ settings.PIECES.TBA }}" target="_blank">ici</a><br>
    <br>
    Le bulletin d’inscription <a href="{{ settings.PIECES.inscription }}" target="_blank">ici</a>  <br>
    <br>
    La fiche de réservation logement Snow & Sun Le Hameau du Puy (doc) <a href="{{ settings.PIECES.hameau_resa }}" target="_blank">ici</a><br>
    La fiche de réservation logement Snow & Sun Le Hameau du Puy (pdf) <a href="{{ settings.PIECES.hameau_resa_pdf }}" target="_blank">ici</a><br>
    <br>
    Tarif {{ settings.ANNEE }} et renseignements locations Snow & Sun (Le Hameau du Puy) <a href="{{ settings.PIECES.hameau_tarif }}" target="_blank">ici</a><br>
    <br>
    Tarif {{ settings.ANNEE }} et les différentes formules Hôtel Club, appartements chalets Margot   <a href="{{ settings.PIECES.margot }}" target="_blank">ici</a><br>
    <br>
    <br>
    Autorisation parentale, assurance, droit à l'image (word) <a href="{{ settings.PIECES.autorisation_doc }}" target="_blank">ici</a><br>
    Autorisation parentale, assurance, droit à l'image (pdf)  <a href="{{ settings.PIECES.autorisation_pdf }}" target="_blank">ici</a><br>
    <br>
    Fiche sanitaire de liaison en word   <a href="{{ settings.PIECES.sanitaire_doc }}" target="_blank">ici</a>  <br>
    Fiche sanitaire de liaison en pdf <a href="{{ settings.PIECES.sanitaire_pdf }}" target="_blank">ici</a><br>
    <br>
    Renseignements pour le camp {{ settings.ANNEE }} (Word) <a href="{{ settings.PIECES.renseignements_doc }}" target="_blank">ici</a><br>
    Renseignements pour le camp {{ settings.ANNEE }} (PDF)  <a href="{{ settings.PIECES.renseignements_pdf }}" target="_blank">ici</a><br>

    <br>
    <br>
    
    
  </p>
  
  
</article>
{% endblock %}
