{% extends "base.html" %}

{% block title %}Vidéos des camps {% endblock %}

{% block description %} Pour vous donner envie de venir nous rejoindre, voici ce que vous pourrez vivre avec nous {% endblock %}


{% block content %}

<article class="featured">
  
  
  <p align="center"><b><font face="Verdana" size="4" color="#FF0000">Vidéos des camps  TBA</font></b></p>
  <p>&nbsp;</p>

 <p>
Pour vous donner envie de venir nous rejoindre, voici ce que vous pourrez vivre avec nous

</p>

<p align="center">



<iframe width="560" height="315" src="https://www.youtube.com/embed/b1vtDRzU4eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<b>CAMPS à SUPERDEVOLUY  été 2021 du 15 au 28 août, immersion 24h sur 24 en langue Anglaise : entrainements, repas, cours, activités annexes, <br>tout la journée en  langue Anglaise</b>
</p>





<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/p_i4O_9KE0U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZvfSMPPsMOI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</p>

<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> <br />
<br />
Votre journée dans les camps Basket in ENglish de TBA</font></b></p>
<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/s_joJvulxV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>




<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> <br />
<br />
Avec les MVP du camp</font></b></p>
<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/3fVH7Po_sjU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>



<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> <br />
<br />
Immersion en langue Anglaise, vacances de Pâques 2019
</font></b></p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiR-1HmlFK4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> AOUT 2019<br />
<br />
CAMP en immersion langue Anglaise 24H sur 24 
</font></b></p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5PG18FthyLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>


<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> JUILLET 2019 à SUPERDEVOLUY : <br />
  voilà ce que vous pourrez vivre en venant à Superdévoluy </font></b></p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/RSOMgWib8JQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>



<p align="center"><b><font face="Verdana" size="4" color="#FF0000"> Le camp de Superdévoluy vu du ciel
</font></b></p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/wFXsZ1oKRjw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>


<p align="center"><b><font face="Verdana" size="4" color="#FF0000">Camps 2018 à SUPERDEVOLUY </font></b></p>

 <p> Semaine du 22 au 28 juillet  </p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YXqg6gq91Iw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

 <p> Semaine du 29 juillet au 04 août </p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/KUr0uXP19L4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

Camps Basket TVA Semaine 5 - 2016

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/wigiwOoshZ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--
<iframe width="640" height="360" src="https://www.youtube.com/embed/lM9qsjDj0MM?rel=0" frameborder="0" allowfullscreen></iframe>
-->
</p>
    
    <p align="center"><b><font face="Verdana" size="4" color="#FF0000">    Happy TBA Camps Basket Superdevoluy </font></b></p>
    

    
     <p align="center">
      <iframe width="640" height="360" src="//www.youtube.com/embed/IY8AzHDzfW8?rel=0" frameborder="0" allowfullscreen></iframe>
  </p>

  <p>      
        


    <p align="center"><b><font face="Verdana" size="4" color="#FF0000">     Voilà comment se passe un camp TBA SUPERDEVOLUY</font></b></p>
 <p >
     
        <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SpLou2OdP0s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
  </p>
        



<span style="font-size:20.0pt;line-height:115%;color:#FF0000"><strong>Vidéo d'une semaine à SUPERDEVOLUY</strong></span><br>
 </p> 

 <p align="center">           
    <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="640" height="360" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/TBA_.txt" />
</object>
            
  </p>   
  
  
  
  
  
   <p align="center"><strong> Extrait Emission les Maternelles sur France5<br></strong> </p>
 <p align="center">           
    <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="360" height="288" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/Bebe-basketeur.txt" />
</object>
            <br>
Le spécialiste des "petits" dans les camps TBA c'est <b>Al CISSE</b> :  <br>le voici en plein action d'éducateur sous l'oeil de la caméra de France 5            
  </p>
        
        
        <p align="center"><font color=#ff0000 size=2><strong>Echauffement sur un extrait musical de  Michael Jackson<br>
         Groupes 1 et 2 (de 09 à 13 ans) semaine N°3 juillet 2009<br></strong></font>   </p>
         
 <p align="center">           
    <object type="application/x-shockwave-flash" data="/tba/videos/player_flv_maxi.swf" width="400" height="300" >
    <param name="movie" value="/tba/videos/player_flv_maxi.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="config=/tba/videos/MichaelJacksonTBA_.txt" />
</object>
            
  </p>    

</article>

{% endblock %}
