{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Les camps de Basket TBA : 30 ans d'expérience au service du Basket{% endblock %}</title>
    <meta name="description" content="{% block description %}Le premier camp de basket de SUPERDEVOLUY a vu le jour en 1984, c'est le plus grand camp de Basket de France avec 8 terrains de basket. Sa renommé et sa réputation, il les doit aux milliers de stagiaires qui ont participé aux camps TBA  et parmi eux certains sont devenus des stars comme Aymeric JEANNEAU, Eric MICOUD, Laure SAVASTA… et le futur grand Edwin JACKSON{% endblock %}">    
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"  media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/print.css" %}" media="print" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.4.2/forms-min.css&pure/0.4.2/buttons-min.css">
    {{ form.media.css }}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <header>
	<h1><a href="#">Camps de Basket</a></h1>
	<img src="{% static "images/tba.jpg" %}" width="940" height="200" alt=""><!-- header image -->
      </header>
      <nav>
	<div class="menu">
	  <ul>
	    <li><a href="{% url 'static_index' %}">Home</a></li>
	    <li><a href="{% url 'static_pages' 'historique' %}">Historique de l'association</a>
  	    </li>
	    <li><a href="{% url 'static_pages' 'superdevoluy' %}">Le site de Superdévoluy </a></li>
	    <li><a href="{% url 'static_pages' 'contacts' %}">Les contacts</a></li>
	  </ul>
	</div>        
      </nav>

      <section id="main"><!-- #main content and sidebar area -->
	<section id="content"><!-- #content -->

	  {% block content %}{% endblock %}

	</section><!-- end of #content -->

	<aside id="sidebar"><!-- sidebar -->
	  <h3>Les camps de Basket</h3>
	  <ul>
	    <li><a href="{% url 'static_pages' 'presentation' %}">Camps de Basket TBA</a></li>
            <li><a href="{% url 'pratique' %}">Dates, formules, prix et places disponibles</a></li>
	    <li><a href="{% url 'inscription_form' %}">Inscriptions</a></li>
	    <li><a href="{% url 'inscription_reminder' %}">Chercher inscription</a></li>
	    <li><a href="{% url 'static_pages' 'journee-type'">Une journée type</a></li>
	    <li><a href="{% url 'static_pages' 'location-parents' %}">Location Parents</a></li>
            <li><a href="{% url 'static_pages' 'special-club' %}">Spécial Club</a></li>
	    <li><a href="{% url 'static_pages' 'infos-parents' %}">Infos Parents</a></li>
	    <li><a href="{% url 'static_pages' 'depliant' %}">Le dépliant {{ settings.ANNEE }}</a></li>
	    <li><a href="{% url 'static_pages' 'assurance-desistement' %}">Assurance désistement</a></li>
            <li><a href="{% url 'static_pages' 'cadre' %}">Les Cadres</a></li>
	    <li><a href="{% url 'static_pages' 'partenaire' %}">Nos partenaires</a></li>
	    <li><a href="{% url 'static_pages' 'photos' %}">Les photos</a></li>
	    <li><a href="{% url 'static_pages' 'telechargements' %}">Les téléchargements </a></li>
            <li><a href="{% url 'static_pages' 'conseils-pratiques' %}">Conseils pratiques</a></li>
	    <li><a href="{% url 'static_pages' 'boutique' %}">Boutique</a></li>
	  </ul>
	</aside><!-- end of sidebar -->

      </section><!-- end of #main content and sidebar-->


      <footer>
	<section id="footer-area">
	  <section id="footer-outer-block">
	    <aside class="footer-segment">
	      <h4>Liens</h4>
	      <ul>
		<li><a href="{% url 'static_pages' 'historique' %}">L'histoire des camps de basket TBA</a></li>
		<li><a href="{% url 'static_index' %}">Pourquoi choisir TBA</a></li>
		<li><a href="{% url 'static_pages' 'journee-type' %}">Une journée type</a></li>
	      </ul>
	    </aside><!-- end of #first footer segment -->
            
	    <aside class="footer-segment">
	      <h4>Liens</h4>
	      <ul>
		<li><a href="/inscription">S'inscrire à un camps de Basket TBA</a></li>
		<li><a href="{% url 'static_pages' 'depliant' %}">Télécharger le dépliant {{ settings.ANNEE }} de TBA</a></li>
		<li><a href="{% url 'static_pages' 'photos' %}">Des images et des vidéos de TBA</a></li>
	      </ul>
	    </aside><!-- end of #second footer segment -->

	    <aside class="footer-segment">
	      <h4>Liens</h4>
	      <ul>
		<li><a href="/tba/forum">Le forum de TBA pour en savoir plus </a></li>
		<li><a href="{% url 'static_pages' 'cadre' %}">L'encadrement des camps TBA</a></li>
		<li><a href="{% url 'static_pages' 'contacts' %}">Contacter TBA pour en savoir plus </a></li>
	      </ul>	
	    </aside><!-- end of #f3 footer segment -->
	  </section><!-- end of footer-outer-block -->
	</section><!-- end of footer-area -->
      </footer>  
      
    </div><!-- #wrapper -->
    <!-- Free template created by http://freehtml5templates.com -->
    {{ form.media.js }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43373219-1', 'camps-basket.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
