{% extends "dossier_base.html" %}

{% block title %}Mon profil{% endblock %}

{% block dossier_content %}

<h2>Mon profil</h2>

{% if messages %}
<div class="messages">
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="dossier-block" id="profile">
  <h3>Mes informations
    <a href="{% url 'dossier_modify' %}">editer</a>
  </h3>
  <p><strong>{% if object.titre == 'M' %}M. {% elif object.titre == 'F' %}Mme. {% endif %}{{ object.prenom }} {{ object.nom }}</strong></p>
  <p><em>email:</em> {{ object.email }}</p>
  <p><em>Adresse:</em> {{ object.adresse }}, {{ object.cp }} {{ object.ville }}, {{ object.pays }}</p>
  <p><em>Tél:</em> {{ object.tel }}</p>
</div>

<div class="dossier-block" id="stagiaires">
  <h3>Inscriptions stagiaires
    {% if object.is_editable %}
    <a href="{% url 'stagiaire_create' %}">ajouter</a>
    {% endif %}
  </h3>
  <ul>
    {% for s in object.stagiaire_set.all %}
    <li class="stagiaire">
      <div class="links">
	{% if object.is_editable %}
	<a href="{% url 'stagiaire_modify' s.pk %}">modifier</a>
	<a href="{% url 'stagiaire_delete' s.pk %}">effacer</a>
	{% endif %}
      </div>
      <div class="nom">{{ s.prenom }} {{ s.nom }}</div>
      <div class="formule"><em>Formule :</em> {{ s.formule }}</div>
      <div class="semaines"><em>Semaines :</em> {{ s.semaines_str }}</div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="dossier-block" id="hebergement">
  <h3>Réservation hébergement</h3>
</div>

<div class="dossier-block" id="total">
</div>

{% endblock %}

