{% extends "dossier_base.html" %}
{% load forms %}

{% block title %}Modifier mon profil{% endblock %}

{% block dossier_content %}

<h2>Mon profil</h2>

{% if form.errors %}
<div class="error">
  <p>ERREUR&nbsp;: Veuillez corriger les erreurs ci-dessous.</p>
  <ul style="margin: 2ex">
    {% for e in form.non_field_errors %}
    <li>{{ e }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<p><small>Tous les champs sont obligatoires</small></p>

<form action="" method="post" class="pure-form pure-form-aligned" autocomplete="off">
  {% csrf_token %}

  <fieldset>
    {{ form.titre | cgroup }}
    {{ form.nom | cgroup }}
    {{ form.prenom | cgroup }}
    {{ form.adresse | cgroup }}
    {{ form.cp | cgroup }}
    {{ form.ville | cgroup }}
    {{ form.pays | cgroup }}
    {{ form.tel | cgroup }}
  </fieldset>

  <button type="submit" class="pure-button pure-button-primary">Mettre à jour</button>
  {% if object.etat != '0' %}
  <a href="{% url 'dossier_view' %}" class="pure-button">Annuler</a>
  {% endif %}
</form>

{% endblock %}
