{% extends "dossier_base.html" %}
{% load forms %}

{% block title %}Confirmer demandes d'inscription{% endblock %}

{% block dossier_content %}

<h2>Confirmer demandes d'inscription</h2>

<p>Voulez-vous confirmer les inscriptions des stagaires ci-dessous ?</p>

<ul>
  {% for s in object.stagiaire_set.all %}
  <li class="stagiaire">
    <div class="nom">{{ s.prenom }} {{ s.nom }}</div>
    <div class="formule"><em>Formule :</em> {{ s.formule }}</div>
    <div class="semaines"><em>Semaines :</em> {{ s.semaines_str }}</div>
  </li>
  {% endfor %}
</ul>

{% if object.hebergement %}
<p>Et la réservation en <strong>{{ object.hebergement }}</strong> pour les semaines ci-dessous ?</p>
<ul>
  {% for s in object.semaines.all %}
  <li>{{ s }}{% if forloop.last %}.{% else %},{% endif %}</li>
  {% endfor %}
</ul>
{% endif %}

<p><strong>Attention :</strong> après confirmation votre dossier ne
  sera plus modifiable.  Si par la suite vous souhaitez rajouter un
  stagiaire, ou apporter une modification à votre dossier, veuillez
  nous contacter par mail.</p>

<p>Vous allez recevoir un récapitulatif de ces inscriptions à
  l'adresse {{ object.email }}.</p>

<form action="" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}

  <div class="fieldgroup">
    <fieldset>
      {{ form.notes | cgroup }}
      {{ form.caf | cgroup }}
      
      {% if object.needs_assurance %}
      {{ form.assurance | cgroup }}
      
      <div class="pure-control-group {{ form.assurance_confirm.css_classes }}">
        {{ form.assurance_confirm }} J’ai pris connaissance que,
        n’ayant pas souscrit d’assurance annulation, en cas
        d'annulation de ma part des pénalités seront
        retenues.

	{{ form.assurance_confirm.errors }}
      </div>
      {% endif %}

      <div class="pure-control-group {{ form.confirm.css_classes }}">
	{{ form.confirm }} J’accepte les
	<a href="{% url 'static_pages' 'conditions-de-vente'%}"
	   target="_blank">Conditions de vente et d’annulation</a> de TBA.

	{{ form.confirm.errors }}
      </div>
    </fieldset>
  </div>
  
  <button type="submit" class="pure-button pure-button-primary">Confirmer</button>
  <a href="{% url 'dossier_view' %}" class="pure-button">Annuler</a>
</form>

{% endblock %}
