{% extends "base.html" %}
{% load static %}
{% load forms %}

{% block title %}Bulletin d'inscription{% endblock %}

{% block extrahead %}
<style>
  ul {
    margin-left: 2ex;
  }
  blockquote {
    margin: 2ex;
    font-size: 120%;
  }
  p { margin: 0.3ex 0 }
  .messages { margin: 20px }
  .messages li {
    padding: 1ex;
    list-style-type: none;
    background-color: #dadaff;
    border: solid thin #666;
    border-radius: 4px;
  }
  .messages li.error {
    background-color: #fcc;
    color: #666;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}

<h3>{{ object.prenom }} {{ object.nom }}, nous vous remercions de
votre demande d'inscription.</h3>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% include "includes/pieces.html" %}

<form action="" method="post" class="pure-form pure-form-aligned"
      enctype="multipart/form-data">
  {% csrf_token %}

  <div id="uploads" class="fieldgroup">
    <h3>Merci de scanner et téléverser ces pièces à l'aide de ce formulaire
      (maximum {{ settings.MAX_FILE_SIZE }}Mo)</h3>

    {% for f in form %}
    <div class="pure-control-group">
      <label for="{{ f.name }}">{{ f.label }}</label>
      {{ f }}
    </div>
    {% endfor %}

    <button type="submit" class="pure-button pure-button-primary">Mettre à jour</button>
  </div>
</form>

<div class="fieldgroup">

{% include "includes/reglement.html" %}

</div>


{% endblock %}
