{% extends "base.html" %}
{% load static %}
{% load forms %}

{% block title %}S'inscrire aux camps de Basket TBA{% endblock %}

{% block description %}Les formulaires pour s'inscrire en ligne aux
camps de Basket TBA et qui permet la réservation définitive des
réception par TBA du chèque d'acompte. Chèque qui doit parvenir à TBA
dans un délai de 8 jours faute de quoi la réservation est
automatiquement annulée.{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.4.2/forms-min.css&pure/0.4.2/buttons-min.css">
<style>
  .pure-form-aligned  ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: text-top;
    max-width: 400px;
  }
  .pure-form-aligned .pure-control-group li label { 
    width: auto;
    text-align: left;
  }
  .pure-control-group li { border-radius: 4px }
  .pure-control-group li:hover { background-color: rgba(255,255,255,0.5) }
  .error {
    background-color: #fcc;
  }
  .errorlist { 
    color: #666;
    font-weight: bold;
  }
  .required > label:after {
    content: '*';
  }
  .fieldgroup {
    border-radius: 5px;
    border: solid thin #ddd;
    padding: 1ex;
    margin: 1ex 0;
  }
  #id_sexe li, #id_licencie li, #id_venu li { display: inline; }

  #id_formule { font-weight: bold }
  #id_formule .prix { float: right }
  #id_formule .description { 
    display: block;
    font-weight: normal;
    padding-left: 4ex;
  }

  #id_formule label, #id_hebergement label { width: 100% }

  #id_hebergement {
    font-weight: bold;
  }
  #id_hebergement p { 
    font-weight: normal;
    margin: 0.1ex 0 0.5ex 2ex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
    -webkit-transition: max-height 2s;
    -o-transition: max-height 2s;
  }
  #id_hebergement input:checked ~ p,
  #id_hebergement li:hover p {
    max-height: 100ex;
  }

  #pay-block { display: inline-block }
  #cost-summary { 
    display: inline-table;
    vertical-align: middle;
    border-collapse: collapse;
    margin: 1em 0 0 4em;
  }
  #cost-summary tfoot { border-top : solid thin black }
  #cost-summary td:nth-child(2) { 
    width: 3em;
    text-align: right;
    padding: 0 1ex 0 6ex;
  }
  #cost-summary .total { font-weight: bold }
</style>
{% endblock %}

{% block content %}

<p style="text-align:center;color:#f00;font-weight:bold;font-size:30px">BULLETIN D'INSCRIPTION 2014</p>

<p style="text-align:center;font-weight:bold;color:#00f">Votre
      réservation ne sera définitive qu'à la réception de votre chèque
      d'acompte.  Attention, ce chèque doit nous parvenir dans un
      délai de 8 jours sinon votre réservation est automatiquement
      annulée.</p>

<p style="text-align:center;font-size:80%">Les champs marqués d'une étoile * sont obligatoires</p>

<form action="" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}

  <div id="personal-data" class="fieldgroup">
    <h3>Données personnelles</h3>

    <fieldset>
      {{ form.nom | cgroup }}
      {{ form.prenom | cgroup }}
      {{ form.email | cgroup }}
      {{ form.email2 | cgroup }}
    </fieldset>

    <fieldset>
      {{ form.adresse | cgroup }}
      {{ form.cp | cgroup }}
      {{ form.ville | cgroup }}
      {{ form.pays | cgroup }}
      {{ form.tel | cgroup }}
    </fieldset>

    <fieldset>
      {{ form.naissance | cgroup }}
      {{ form.lieu | cgroup }}
      {{ form.sexe | cgroup }}
      {{ form.taille | cgroup }}
      {{ form.licencie | cgroup }}
      {{ form.venu | cgroup }}
    </fieldset>
  </div>

  <div id="inscription-data" class="fieldgroup">
    <h3>Inscription (<a href="{% url 'pratique' %}">plus d'infos</a>)</h3>

    <fieldset>
      {{ form.semaines | cgroup }}
      {{ form.formule | cgroup }}
      {{ form.hebergement | cgroup }}
      {{ form.train | cgroup }}

      <div id="pay-block">
      {{ form.assurance | cgroup }}
      {{ form.mode | cgroup }}
      </div>

      <table id="cost-summary">
	<tbody>
	<tr class="prix"><td>Formule</td><td></td><td></td></tr>
	<tr class="cotisation"><td>Cotisation TBA</td><td></td><td></td></tr>
	<tr class="taxe"><td>Taxe menage</td><td></td><td></td></tr>
	<tr class="train"><td>Supplément train</td><td></td><td></td></tr>
	<tr class="assurance"><td>Assurance</td><td></td><td></td></tr>
	</tbody>
	<tfoot>
	<tr class="total"><td>Total</td><td></td></tr>
	<tr class="acompte"><td>Acompte</td><td></td></tr>
	</tfoot>
      </table>
    </fieldset>
  </div>

  <div id="parrain-data" class="fieldgroup">
    <h3>Parrainage</h3>

    <fieldset>
      {{ form.nom_parrain | cgroup }}
      {{ form.adr_parrain | cgroup }}
    </fieldset>
  </div>
  
  
  <div id="parrain-data" class="fieldgroup {{ form.captcha.css_classes }}">
    {{ form.captcha }}
    {{ form.captcha.errors }}
  </div>

  <button type="submit" class="pure-button pure-button-primary">S'inscrire</button>
</form>

{% endblock %}
