{% extends "inscription_view.html" %}

{% block main-content %}

<p>Tu viens de t’inscrire au camp de <strong>SUPERDEVOLUY</strong>
  pour les semaines :</p>

{% include "includes/detail_inscr.html" %}

<p class="price">Acompte donné : {{ object.acompte }}€<br>
  Solde dû sur place : <b>{{ object.reste }}€</b></p>

<hr>

{% if object.etat != 'C' %}

{% include "includes/manquantes.html" %}
{% include "includes/pieces_form.html" %}

<h4>Adresse postale pour l’envoi des pièces :</h4>

<blockquote class="adress">{{ settings.ADRESSE }}</blockquote>

<hr>
{% endif %}

<p>Trouve tous les
  <a href="{{ settings.PIECES.renseignements_pdf }}">renseignements pratiques</a>
  sur le camp de SUPERDEVOLUY
  <a href="{{ settings.PIECES.renseignements_pdf }}">ICI</a>. À ton
    arrivée au camp nous t’offrons <strong>TROIS
    CADEAUX :</strong></p>

<ul class="cadeaux">
<li>Un maillot réversible,</li>
<li>Un short,</li>
<li>Une gourde.</li>
</ul>
  
<p>À la fin du stage nous t’offrons la photo souvenir de ton camp.</p>

<p>Bon camp {{ settings.ANNEE }},</p>

<p class="signature">Jean-Michel SENEGAL</p>

<div class="fieldgroup">
{% include "includes/parrainage.html" %}
</div>

{% endblock %}
