{% extends "base.html" %}

{% block content %}
<article class="featured">
  
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber1" width="600" >
    <tr>
      <td width="847">
        <p align="center" style="font-size:30px; font-weight:bold "> LES DATES DES CAMPS</p>
	{% for s in semaines %}
        <p align="center">
	  <span style="font-size:14px; font-weight:bold ">Semaine {{ forloop.counter }}: {{ s }}</span><br>
	  <span style="font-size:10px; font-weight:bold ">{% if s.restantes > 0 and not s.fermer %}{{ s.restantes }}{% else %}pas de{% endif %} places disponibles</span><br>
	  <span style="font-size:12px; font-weight:bold; color:#0000FF ">{{ s.commentaire | urlize }}</span>
	</p>
	{% endfor %}
	
        <p align="center" style="font-size:30px; font-weight:bold ">FORMULES ET PRIX</p>
	<table cellspacing="0" cellpadding="0" width="588" height="181" style="font-weight:bold">
	{% for f in formules %}
	<tr>
	  <td >{{ f.nom }}</td>
	  <td align="right">{{ f.prix.strip }}&euro;</td>
	</tr>
	<tr><td colspan="2" style="font-weight:normal;padding-left:3ex"><p>{{ f.description }}</p></td></tr>
	{% endfor %}
        </table>


        <p align="center" style="color:#FF0000; font-size:16px; font-weight:bold ">Bons C.A.F et  Chèques Vacances Acceptés<br></p>
        
        
	<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber2">
          <tr>
            <td width="21%">
              <p align="right">
                <img border="0" src="/tba/image033.gif" width="42" height="28"></td>
            <td width="55%">
              <p align="center"><font face="Verdana"><b>PARTIR A 7 ou + <br>
                    - Jusqu'a 50 € de REMISE</b></font></td>
            <td width="24%">
              <p align="left">
                <img border="0" src="/tba/image033.gif" width="42" height="28"></td>
          </tr>
        </table>
        <p align="left">&nbsp;<div align="center">
            <center>
              <table cellspacing="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" height="132">
		<tr>
		  <td colspan="3" height="22"><p align="center"><strong>
			<font face="Verdana" color="#FF0000">Regroupez-vous pour bénéficier d'une remise importante</font><font face="Verdana" size="4" color="#FF0000">
		  </font> </strong></p></td>
		</tr>
		<tr>
		  <td colspan="3" height="32"><p align="center"><font face="Verdana" size="2"><strong>Une seule condition : Tous les bulletins dans la m&ecirc;me enveloppe <br>
			  &nbsp;</strong></font></p></td>
		</tr>
		<tr>
		  <td height="14"><p align="center"><font face="Verdana" size="2"><strong>2 possibilit&eacute;s </strong>     </font></p></td>
		  <td align="center" valign="bottom" height="14"><h3>
		      <font face="Verdana" size="2" color="#FF0000"><br>
			Vous êtes 7 ou + </font> </h3></td>
		  <td align="center" valign="middle" height="14"><h4>
		      <font face="Verdana" size="2" color="#FF0000"><br>
			Vous êtes 6 ou + </font> </h4></td>
		</tr>
		<tr>
		  <td height="32"><p><font face="Verdana" size="2"><strong>F3 - Pension compl&egrave;te </strong>
		  </font></p></td>
		  <td height="32" bgcolor="#C0C0C0"><p align="center"><font face="Verdana" size="2"><strong>Remise de     50 &euro; <br> soit 340 &euro; </strong></font></p></td>
		  <td height="64" rowspan="2" bgcolor="#808080">
		    <p align="center"><strong><font face="Verdana" size="2">CHALET CLUB</font></strong></p>
		    <p align="center"><strong><font face="Verdana" size="2">Stagiaire : 340 €<br>
			  <br>
			  Accompagnateur :<br>     180 €<br>&nbsp;</font></strong></td>
		</tr>
		<tr>
		  <td height="32"><p>&nbsp;</p></td>
		  <td height="32"  bgcolor="#C0C0C0"><p align="center">&nbsp;</p></td>
		</tr>
	    </table></center>
          </div>
          
          
          
        <p>
        <p align="center" ><strong><font color="#0000ff">Familles, Clubs, + de 18 ans, vacances en chalet ou appartements</font></strong>
          <strong><font color="#FF0000">avec la formule CHALET CLUB</font></strong></p>
        <p align="center" >
          Minimum de 6 stagiaires pour loger avec un accompagnateur majeur dans un seul et même chalet. A partir de 11 stagiaires, logements dans 2 chalets mitoyens. Tous les repas (petit déjeuner, déjeuner, 
          dîner) sont pris à l’hôtel avec les autres stagiaires.</p>
        <p align="center">
          L’accompagnateur est responsable de la bonne tenue du chalet. Il peut suivre le stage basket ou profiter de son séjour à l’hôtel pour bénéficier de tous les avantages (piscines, jacuzzi, hammam, salle 
          de musculation...)</p>
        
        <p align="center">
          <img border="0" src="/tba/photo/Chalet-club-2.JPG" width="550" height="365"></p>
        <p align="center">
          <img border="0" src="/tba/photo/Chalet-club-1.JPG" width="550" height="365"></p>
        <p align="center" style="font-size: 10pt; ">
          <strong> Des jeunes venus de l’Ile de la Réunion en Chalets Club avec accompagnateurs (août 2011)</strong></p>
        
        
        <br>
	<br>


        <p style="margin-left: 5"><font color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font>    <font  color="#000000" size="2" face="Verdana"><strong>Profitez de l’Hôtel Club Résidence et Chalets Margaux</strong></font></p>
        
        

        <p style="margin-left: 5"> Studios, appartements ou chalets (possibilité jusqu’à 11 personnes) avec des possibilités de restauration.</p>
        

        <p style="margin-left: 5">Situation : les stagiaires sont hébergés dans ce lieu, à environ 500m des terrains de basket </p>
        

        <p style="margin-left: 5"> <strong>Remise de 10%</strong> sur le prix public des logements avec le code TBA{{ settings.ANNEE }} lors de la réservation (soit entre 30 € et 79 € en fonction du produit choisi)<br>
          Un chèque cadeau de 5 € pour la boutique de TBA et une casquette TBA<br>
          <br>
          Inscription des stagiaires en F2 soit avec une remise de 30 € sur  le coût externe F1</p>
        
	
        
        <p align="center"> 
          
          <a target="_blank" href="http://www.chalets-margot.com/"> 
            <img src="/tba/photo/Hotel-Les-Chardonnelles.jpg" height="200"> &nbsp;
            <img src="/tba/photo/bar-3.jpg" height="200"> 
            
        </a>  </p> 
        
        
        
        <p style="margin-left: 5" align="center">
          <font size="3" face="Verdana" color="#000000">
            <a target="_blank" href="{{ settings.PIECES.margot }}">Tarifs {{ settings.ANNEE }} et explications des différentes formules possibles : <br>
              appartements, chalets, hôtel </a></font></p>
        

        
        <p style="margin-left: 5"><font id="role_document" color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font><strong>Profitez de notre partenariat avec 
            SNOW &amp; SUN</strong></p>
        
        <p style="margin-left: 5"> Studios, appartements ou chalets (possibilité jusqu’à 8 personnes) </p>
        
        <p style="margin-left: 5">Situation : tout à côté des terrains de basket </p>
        
        <p style="margin-left: 5"><b>Remise supérieure à 10%</b> sur le prix public des logements<br>
          Un chèque cadeau de 5 € pour la boutique de TBA et et une casquette TBA.</p>
        
        <p style="margin-left: 5">Inscription des stagiaires en F2 soit avec une remise de 30 € sur le coût  externe F1 </p>
        
        <p align="center"> 
          
          <a href="{{ settings.PIECES.hameau_tarif }}">&nbsp;Renseignements locations &nbsp;ici</a> </p>
        
        <p align="center"> 
          <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="411" height="290"><img border="0" src="/tba/photo/Le-Hameau-du-Puy.jpg" width="370" height="246">
        </p>
        
      </td>
    </tr>
  </table>
</td>
</tr>
</tbody>
</table>
{% endblock %}
