{% extends "base.html" %}
{% load decimal %}

{% block extrahead %}
<style>
  .groupe td {
  font-size: 110%;
  background-color: #cc6600;
  color: white;
  padding: 5px;
  }
  .desc td {
  font-weight:normal;
  padding-left:3ex;
  }
</style>
{% endblock %}

{% block content %}
<article class="featured">
  
        <p align="center" style="font-size:30px; font-weight:bold "> LES DATES DES CAMPS</p>
	{% for s in semaines %}
        <p align="center">
	  <span style="font-size:14px; font-weight:bold ">Semaine {{ forloop.counter }}: {{ s }}</span><br>
	  <span style="font-size:10px; font-weight:bold ">{% if s.restantes > 0 and not s.fermer %}{{ s.restantes }}{% else %}pas de{% endif %} places disponibles</span><br>
	  <span style="font-size:12px; font-weight:bold; color:#0000FF ">{{ s.commentaire | urlize }}</span>
	</p>
	{% endfor %}
	
        <p align="center" style="font-size:30px; font-weight:bold ">FORMULES ET PRIX</p>

	<p align="center">Une cotisation de {{ formules.0.cotisation | strip_cents }}€ est demandée lors de toute
	  inscription.</p>
	<p align="center">Mise à disposition du centre Sportif du Dévoluy : 1€/ jour ({{ formules.0.taxe_gym | strip_cents }}€ par personne par semaine). Cette somme est rajoutée à votre solde dû.</p>
	
	<table cellspacing="0" cellpadding="0" width="588" height="181" style="font-weight:bold">
	  {% for f in formules %}
	  {% if f.publique %}
	  {% if f.groupe %}
	  <tr class="groupe"><td colspan="2">{{ f.groupe }}</td></tr>
	  {% endif %}
	  <tr>
	    <td >{{ f.nom }}</td>
	    <td align="right">{{ f.prix | strip_cents }}&euro;</td>
	  </tr>
	  <tr class="desc"><td colspan="2"><p>{{ f.description }}</p></td></tr>
	  {% endif %}
	  {% endfor %}
        </table>


 <p>    
 <strong> 
<br>
Trajet accompagné depuis PARIS (Aller Retour 160 €) pour toutes les semaines<br> </strong> 
Moins de 12 ans : 80 €. Possibilité de ne faire qu’un trajet simple (80 € ou 40 €)    <br> 
</p>

 <p>    
<br> 
</p>

        <p align="center" style="color:#FF0000; font-size:16px; font-weight:bold ">Bons C.A.F et  Chèques Vacances Acceptés<br></p>
        
        <div style="text-align:center;">
        <img src="http://www.camps-basket.com/tba/photo/cache_55226557.png"  />
        <img src="http://www.camps-basket.com/tba/photo/cache_49470463.jpg"  />
	</div>
        
 <p>    
<br>
</p>
          
        <p align="center" ><strong><font color="#0000ff">Familles, Clubs, + de 18 ans, vacances en chalet ou appartements</font></strong>
          <strong><font color="#FF0000">avec la formule CHALET CLUB</font></strong></p>
        <p>
        Minimum de 5 stagiaires pour loger avec un accompagnateur majeur dans un seul et même chalet. A partir de 10 stagiaires, logement dans 2 chalets mitoyens avec 2 accompagnateurs.<br>
Vous êtes en formule EXTERNAT PLEIN TEMPS et vous bénéficiez de la pension complète à l’hôtel Les Chardonnelles à un tarif préférentiel. Tous les repas (petit déjeuner, déjeuner, dîner) sont pris à l’hôtel.<br>
L'accompagnateur est responsable de la bonne tenue du chalet et des enfants qui sont avec lui quand ils ne sont pas avec les entraineurs sur les terrains de basket. Une caution par carte de crédit est demandée par l’hôtel à l’arrivée. Il peut profiter de son séjour à l’hôtel pour bénéficier de tous les avantages (piscines, jacuzzi, hammam, salle de musculation...) </p>
        
        <p align="center">
          <img border="0" src="/tba/photo/Chalet-club-2.JPG" width="550" height="365"></p>
        <p align="center">
          <img border="0" src="/tba/photo/Chalet-club-1.JPG" width="550" height="365"></p>
        <p align="center" style="font-size: 10pt; ">
          <strong> Des jeunes venus de l’Ile de la Réunion en Chalets Club avec accompagnateurs (août 2011)</strong></p>
        
        
        <br>
	<br>


        <p style="margin-left: 5"><font color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font>    <font  color="#000000" size="2" face="Verdana"><strong>Profitez de l’Hôtel Club Résidence et Chalets Margot</strong></font></p>
        
        

        <p style="margin-left: 5"> Studios, appartements ou chalets (possibilité jusqu’à 11 personnes) avec des possibilités de restauration.</p>
        

        <p style="margin-left: 5">Situation : les stagiaires sont hébergés dans ce lieu, à environ 500m des terrains de basket </p>
        

        <p style="margin-left: 5"> 
        
        <strong>Une remise de 10% </strong>sur le prix public (soit entre 44 € et 82 € <span style="color:red; font-weight:bold;" >pour la location d’un chalet</span>, soit entre 32 € et 65 € <span style="color:red; font-weight:bold; " >pour la location d’un appartement</span>) vous est accordée en réservant au moins 1 stage basket avec TBA. Code de réservation TBA 2019.<br />
<br />
Une formule EARLY BOOKING est également mise en place avec une remise supplémentaire de 10% pour toute réservation d’un logement avant le 15 mars 2019.<br />
          <br>
Inscription des stagiaires en F2 soit avec une remise de 30 € sur le coût externe F1</p>
        
	
        
        <p align="center"> 
          
          <a target="_blank" href="http://www.chalets-margot.com/"> 
            <img src="/tba/photo/Hotel-Les-Chardonnelles.jpg" height="200"> &nbsp;
            <img src="/tba/photo/bar-3.jpg" height="200"> 
            
        </a>  </p> 
        
        
        
        <p style="margin-left: 5" align="center">
          <font size="3" face="Verdana" color="#000000">
            <a target="_blank" href="{{ settings.PIECES.margot }}">Tarifs {{ settings.ANNEE }} et explications des différentes formules possibles : <br>
              appartements, chalets, hôtel </a></font></p>
        

        
        <p style="margin-left: 5"><font id="role_document" color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font>
          <strong>Profitez de notre partenariat avec La boutique By Actisource qui gère la résidence Le Hameau du PUY </strong></p>
        
        <p style="margin-left: 5"> Studios, appartements ou chalets (possibilité jusqu’à 8 personnes) </p>
        
        <p style="margin-left: 5">Situation : tout à côté des terrains de basket </p>
        
        <p style="margin-left: 5"><b>Remise supérieure à 10%</b> sur le prix public des logements<br>
          Un chèque cadeau de 5 € pour la boutique de TBA.</p>
        
        <p style="margin-left: 5">Inscription des stagiaires en F2 soit avec une remise de 30 € sur le coût  externe F1 </p>
        
        <p align="center"> 
          
          <a target="_blank"  href="{{ settings.PIECES.hameau_tarif_pdf }}">&nbsp;Renseignements locations &nbsp;ici</a> </p>
        
        <p align="center"> 
        <!--  <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="411" height="290">-->
          <br />
              <a href="https://laboutiquebyactisource.locvacances.com" target="_blank">https://laboutiquebyactisource.locvacances.com</a>
          <br />              
          <img border="0" src="/tba/photo/Le-Hameau-du-Puy.jpg" width="370" height="246">

          <br /> <br />                
          <img border="0" src="/tba/photo/DJI_0103.jpg" width="370" >

        </p>
</article>
{% endblock %}
