{% extends "base.html" %}
{% load decimal %}

{% block extrahead %}
<style>
  .groupe td {
  font-size: 110%;
  background-color: #cc6600;
  color: white;
  padding: 5px;
  }
  .desc td {
  font-weight:normal;
  padding-left:3ex;
  }
</style>
{% endblock %}

{% block content %}
<article class="featured">
  
        <p align="center" style="font-size:30px; font-weight:bold "> LES DATES DES CAMPS</p>
	{% for s in semaines %}
        <p align="center">
	  <span style="font-size:14px; font-weight:bold ">Semaine {{ forloop.counter }}: {{ s }}</span><br>
	  <span style="font-size:10px; font-weight:bold ">{% if s.restantes > 0 and not s.fermer %}{{ s.restantes }}{% else %}pas de{% endif %} places disponibles</span><br>
	  <span style="font-size:12px; font-weight:bold; color:#0000FF ">{{ s.commentaire | urlize }}</span>
	</p>
	{% endfor %}
	
        <p align="center" style="font-size:30px; font-weight:bold ">FORMULES ET PRIX</p>

	<p align="center">Une cotisation de {{ formules.0.cotisation | strip_cents }}€ est demandée lors de toute
	  inscription.</p>
	<p align="center">Mise à disposition du centre Sportif du Dévoluy : Participation de {{ formules.0.taxe_gym | strip_cents }}€ par stagiaire et par semaine. Cette somme est rajoutée à votre solde dû.</p>

	
	<table cellspacing="0" cellpadding="0" width="588" height="181" style="font-weight:bold">
	  {% for f in formules %}
	  {% if f.publique %}
	  {% if f.groupe %}
	  <tr class="groupe"><td colspan="2">{{ f.groupe }}</td></tr>
	  {% endif %}
	  <tr>
	    <td >{{ f.nom }}</td>
	    <td align="right">{{ f.prix | strip_cents }}&euro;</td>
	  </tr>
	  <tr class="desc"><td colspan="2"><p>{{ f.description }}</p></td></tr>
	  {% endif %}
	  {% endfor %}
        </table>


 <p>    
<p><strong>Pour les stagiaires qui doivent venir en train&nbsp;:<br /></strong>
  <strong>Trajet accompagn&eacute; depuis PARIS (Aller Retour 192 &euro;) pour toutes les semaines. D&eacute;part le dimanche matin, retour le samedi soir.<br /></strong>
  <strong>Ce trajet correspond &agrave; PARIS SUPERDEVOLUY pour l&rsquo;aller et SUPERDEVOLUY PARIS pour le retour. D&eacute;part et retour Paris Gare de Lyon.<br /></strong>
  <strong>Moins de 12 ans : 96 &euro;</strong>. Possibilit&eacute; de ne faire qu&rsquo;un trajet simple (96 € pour les plus de 12 ans ou 48 € pour les moins de 12 ans)</p>
<p><strong>Un autocar sp&eacute;cial affr&eacute;t&eacute; par TBA</strong>&nbsp;fait maintenant le trajet direct Gare de GRENOBLE SUPERDEVOLUY les dimanches et SUPERDEVOLUY GRENOBLE les samedis&nbsp;<strong>(Le tarif est de 24 &euro;)</strong><u></u><u></u><u></u>&nbsp;<u></u></p>
<p><strong>Une navette</strong>&nbsp;fait les trajets Gare de VEYNES DEVOLUY/SUPERDEVOLUY pour les arriv&eacute;es du dimanche et le trajet SUPERDEVOLUY/Gare de VEYNES DEVOLUY pour les d&eacute;parts du samedi &nbsp;<strong>(Le tarif est de 4 &euro;)</strong></p>
</p>

 <p>    
<br> 
</p>

        <p align="center" style="color:#FF0000; font-size:16px; font-weight:bold ">Chèques Vacances Acceptés<br></p>
        
        <div style="text-align:center;">
        <!--<img src="http://www.camps-basket.com/tba/photo/cache_55226557.png"  />-->
        <img src="http://www.camps-basket.com/tba/photo/cache_49470463.jpg"  />
	</div>
        
 <p>    
<br>
</p>
          
        <p align="center" ><strong><font color="#0000ff">FAMILLES, VACANCES en STUDIOS, APPARTEMENTS  ou CHALETS </font></strong><br>          
        
        

        <br>
	<br>


        
        

        
        <p style="margin-left: 5"><font id="role_document" color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font>
          <strong>Profitez de notre partenariat avec La boutique By Actisource qui gère la résidence Le Hameau du PUY </strong></p>
        
        <p style="margin-left: 5"> Studios, appartements ou chalets (possibilité jusqu’à 8 personnes) </p>
        
        <p style="margin-left: 5">Situation : tout à côté des terrains de basket </p>
        
        <p style="margin-left: 5"><b>Remise supérieure à 10%</b> sur le prix public des logements<br>
          Un chèque cadeau de 10 € pour la boutique de TBA.</p>
        
        <p style="margin-left: 5">Inscription des stagiaires en F2 soit avec une remise de 40 € sur le coût  externe F1 </p>
        
        <p align="center"> 
          
          <a target="_blank"  href="{{ settings.PIECES.hameau_tarif_pdf }}">&nbsp;Renseignements locations &nbsp;ici</a> </p>
        
        <p align="center"> 
        <!--  <img border="0" src="/tba/photo/Logo Snow - Sun -.jpg" width="411" height="290">-->
          <br />
              <a href="https://laboutiquebyactisource.locvacances.com" target="_blank">https://laboutiquebyactisource.locvacances.com</a>
          <br />              
          <img border="0" src="/tba/photo/Le-Hameau-du-Puy.jpg" width="370" height="246">

          <br /> <br />                
          <img border="0" src="/tba/photo/DJI_0103.jpg" width="370" >

        </p>



 
        <p style="margin-left: 5"><font id="role_document" color="#FF0000" size="2" face="Verdana"><b>F2 :</b> </font>
          <strong>Profitez de notre partenariat avec AGENCE RESERVATION en DEVOLUY </strong></p>
        
        <p style="margin-left: 5">  Studios, appartements dans les différentes résidences. Des minis studios et studios à petits prix dans différentes résidences.<br>
<br>
Situation : tout à côté des terrains de basket<br>
<br>
<b>Remise de 10%</b> sur le prix public des logements en se présentant pour un camp de basket TBA<br>
Un chèque cadeau de 10 € pour la boutique de TBA.<br>
<br>
Inscription des stagiaires en F2 soit avec une remise de 40 € sur le coût externe F1<br>
<br>
<p align="center"> 
              
          <img border="0" src="/tba/photo/image004.png" width="370" >

        </p>
Tarifs des locations <a target="_blank" href="{{ settings.PIECES.devoluy }}">Ici</a><br /><br />
        </p>
          
<a href="https://www.reservation-en-devoluy.com" target="_blank">https://www.reservation-en-devoluy.com</a>
          <br />              




<p style="margin-left: 5"><font color="#FF0000" size="2" face="Verdana"><b>F1 :</b> </font>    <font  color="#000000" size="2" face="Verdana"><strong>Profitez des Chalets Margot</strong></font></p>
        
        
        <p style="margin-left: 5">à environ 500m des terrains de basket (5 minutes à pied)  voir le site de SUNWEB pour les possibilités de location  (<a href="https://www.sunweb.fr/">sunweb.fr</a>  Résidence club Margot)</p>
        

        <p style="margin-left: 5"> 


<br />
Inscription des stagiaires en F1 : FORMULE 1 EXTERNAT</p>   
  
        
        <p align="center"> 
          
            <img src="/tba/photo/Hotel-Les-Chardonnelles.jpg" height="200"> &nbsp;
            <img src="/tba/photo/bar-3.jpg" height="200"> 
            
        </p> 
        
        
        <p style="margin-left: 5" align="center">
          <font size="3" face="Verdana" color="#000000">
            <a target="_blank" href="{{ settings.PIECES.margot }}">Tarifs {{ settings.ANNEE }} et explications des différentes formules possibles : <br>
              appartements, chalets, hôtel </a></font></p>


</article>
{% endblock %}
