{% extends "base.html" %}

{% block content %}
<h2>Chercher une inscription</h2>

<p>Vous avez déjà saisi une demande d'inscription et vous souhaitez
consulter votre dossier.</p>

<p><strong>Rentrez l'adresse que vous avez renseignée au moment de
  l'inscription, nous vous renverrons un email.</strong></p>

<form action="" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}
  {{ form.email }}
  <button type="submit" class="pure-button pure-button-primary">Chercher</button>
</form>

{% if form.errors %}
<ul class="messages">
  <li class="error">Nous n'avons pu trouver aucune inscription correspondant à cette
    adresse. Veuillez vérifier votre adresse et tenter à nouveau. Si
    le problème persiste, veuillez <a href="/tba/contacts">nous
    contacter</a>.</li>
</ul>
{% endif %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<p>Si vous rencontrez des difficultés à recevoir nos emails, contrôlez
  votre boîte à spam et rajoutez notre adresse dans votre carnet.</p>

{% endblock %}

