{% extends "dossier_base.html" %}
{% load static %}
{% load forms %}
{% load decimal %}

{% block title %}Fiche stagiaire TBA{% endblock %}

{% block dossier_content %}

{% if view == 'create' %}
<h2>Inscription nouveau stagiaire</h2>
{% else %}
<h2>Modification fiche stagiaire</h2>
{% endif %}

{% if form.errors %}
<div class="error">
  <p>ERREUR&nbsp;: Veuillez corriger les erreurs ci-dessous.</p>
  <ul style="margin: 2ex">
    {% for e in form.non_field_errors %}
    <li>{{ e }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form action="" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}

  <div id="personal-data" class="fieldgroup">
    <h3>Données du stagiaire</h3>

    <fieldset>
      {{ form.nom | cgroup }}
      {{ form.prenom | cgroup }}
    </fieldset>

    <fieldset>
      {{ form.naissance | cgroup }}
      {{ form.lieu | cgroup }}
      {{ form.sexe | cgroup }}
      {{ form.taille | cgroup }}
      {{ form.reversible | cgroup }}

      <div class="pure-control-group">
	<label></label>
	<div style="text-align:center;color:#d00"><strong>ATTENTION!</strong>
	  Bien remplir la taille. Si vous avez un doute, choisir plutôt
	  une taille plus grande.<br>  Taille demandée = Taille
	  donnée</div>
      </div>

      {{ form.licencie | cgroup }}
      <div id="licencie-oui">
      {{ form.licence | cgroup }}
      {{ form.club | cgroup }}
      </div>
      <div id="licencie-non" class="pure-control-group">
	<label></label>
	<div style="text-align:justify"><strong>Vous n’êtes pas licencié basket FFBB ou licencié à
	    l’étranger</strong>, vous devez fournir un certificat médical
	  et vous devrez obligatoirement vous inscrire avant le début du
	  stage au tournoi 3X3 OPEN START JUNIORLEAGUE organisé par TBA
	  et qui est enregistré sur le site de la FFBB, rubrique 3x3,
	  trouver un tournoi (coût de l’inscription au tournoi 2 €)</div>
      </div>
      
      {{ form.niveau | cgroup }}
      {{ form.venu | cgroup }}

      {{ form.has_regime | cgroup }}
      {{ form.regime | cgroup }}
    </fieldset>
  </div>

  <div id="inscription-data" class="fieldgroup">
    <h3>Inscription <small>(<a href="{% url 'pratique' %}" target="_blank">plus d'infos</a>)</small></h3>

    <fieldset>
      {{ form.semaines | cgroup }}
      {{ form.formule | cgroup }}
      {{ form.chambre | cgroup }}
      {{ form.accompagnateur | cgroup }}
      {{ form.train | cgroup }}
      {{ form.navette_a | cgroup }}
      {{ form.navette_r | cgroup }}
    </fieldset>

    <p class="note" id="note_cotisation">¹ Une cotisation de
      <span class="amount"></span>€ est demandée lors de toute
      inscription.</p>
    <p class="note" id="note_taxe_gym">² Mise à disposition du centre
      Sportif du Dévoluy : <span class="amount"></span>€ par
      semaine.  Cette somme est rajoutée à votre solde dû.</p>
    <p class="note" id="note_menage">³ Une contribution de menage de
      <span class="amount"></span>€ est due pour tout séjour dans le
      Centre de Vacances. Cette somme est rajoutée à votre solde
      dû.</p>
  </div>
  
  <div id="assurance" class="fieldgroup">
    <h3>Assurance annulation</h3>
    
    <fieldset>
      {{ form.assurance | cgroup }}
    </fieldset>
    
    <div class="pure-control-group {{ form.assurance_confirm.css_classes }}">
      
      {{ form.assurance_confirm }}
      J’ai pris connaissance que,
      n’ayant pas souscrit d’assurance annulation, en cas
      d’annulation de ma part des pénalités seront
      retenues.
      {{ form.assurance_confirm.errors }}
    </div>
  </div>

  <div id="parrain-data" class="fieldgroup">
    <h3>Parrainage <small>(facultatif)</small></h3>

    <fieldset>
      {{ form.nom_parrain | cgroup }}
      {{ form.noms_parraines | cgroup }}
    </fieldset>
  </div>
  
  <button type="submit" class="pure-button pure-button-primary">{% if view == 'create' %}Inscrire{% else %}Modifier{% endif %}</button>
  <a href="{% url 'dossier_view' %}" class="pure-button">Annuler</a>
</form>

{% endblock %}
