{% extends "dossier_base.html" %}
{% load static %}
{% load forms %}

{% block title %}Fiche stagiaire TBA{% endblock %}

{% block dossier_content %}

{% if view == 'create' %}
<h2>Inscription nouveau stagiaire</h2>
{% else %}
<h2>Modification fiche stagiaire</h2>
{% endif %}

{% if form.errors %}
<div class="error">
  <p>ERREUR&nbsp;: Veuillez corriger les erreurs ci-dessous.</p>
  <ul style="margin: 2ex">
    {% for e in form.non_field_errors %}
    <li>{{ e }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form action="" method="post" class="pure-form pure-form-aligned">
  {% csrf_token %}

  <div id="personal-data" class="fieldgroup">
    <h3>Données du stagiaire</h3>

    <fieldset>
      {{ form.nom | cgroup }}
      {{ form.prenom | cgroup }}
    </fieldset>

    <fieldset>
      {{ form.naissance | cgroup }}
      {{ form.lieu | cgroup }}
      {{ form.sexe | cgroup }}
      {{ form.taille | cgroup }}
      {{ form.licencie | cgroup }}
      {{ form.licence | cgroup }}
      {{ form.club | cgroup }}
      {{ form.niveau | cgroup }}
      {{ form.venu | cgroup }}
    </fieldset>
  </div>

  <div id="inscription-data" class="fieldgroup">
    <h3>Inscription <small>(<a href="{% url 'pratique' %}" target="_blank">plus d'infos</a>)</small></h3>

    <fieldset>
      {{ form.semaines | cgroup }}
      {{ form.formule | cgroup }}
      {{ form.chambre | cgroup }}
      {{ form.accompagnateur | cgroup }}
      {{ form.train | cgroup }}
      {{ form.navette_a | cgroup }}
      {{ form.navette_r | cgroup }}

      <div id="pay-block">
      {{ form.assurance | cgroup }}
      </div>
    </fieldset>

    <p class="note">¹ Une cotisation de 15€ est demandée lors de toute
      inscription.</p>
    <p class="note">² Une taxe du centre Sportif de 1€ par jour (6€
      par semaine) a été mise en place par la Mairie du Dévoluy. Elle
      est rajoutée à votre solde dû.</p>
  </div>

  <div id="parrain-data" class="fieldgroup">
    <h3>Parrainage <small>(facultatif)</small></h3>

    <fieldset>
      {{ form.nom_parrain | cgroup }}
      {{ form.adr_parrain | cgroup }}
    </fieldset>
  </div>
  
  <button type="submit" class="pure-button pure-button-primary">{% if view == 'create' %}Inscrire{% else %}Modifier{% endif %}</button>
  <a href="{% url 'dossier_view' %}" class="pure-button">Annuler</a>
</form>

{% endblock %}
