{% load i18n admin_urls static admin_modify %}
<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module {{ inline_admin_formset.classes }}">
   <h2>Inscriptions</h2>
   {{ inline_admin_formset.formset.non_form_errors }}
   <table>
     <thead><tr>
	 <th></th>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
         </th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for i in inline_admin_formset %}
        {% if i.form.non_field_errors %}
        <tr><td colspan="{{ i|cell_count }}">{{ i.form.non_field_errors }}</td></tr>
        {% endif %}
        {% if i.original %}
        <tr class="form-row {% cycle "row1" "row2" %} {% if forloop.last %} empty-form{% endif %}"
             id="{{ iset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <td>
          <a href="{% url i.model_admin.opts|admin_urlname:'change' i.original.pk|admin_urlquote %}">{{ i.original }}</a>
	  
          {% if i.needs_explicit_pk_field %}{{ i.pk_field.field }}{% endif %}
          {{ i.fk_field.field }}

          {% spaceless %}
          {% for fieldset in i %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
	</td>
        {% for fieldset in i %}
          {% for line in fieldset %}
            {% for field in line %}
              {% if not field.field.is_hidden %}
              <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        </tr>
        {% endif %}
     {% endfor %}
     </tbody>

     <tfoot style="border-top:solid 2px black;">
       <tr class="form-row">
	 <td></td>
	 {% for field in inline_admin_formset.fields %}
	 <td style="font-size: 100%;color: black">
	   {% if  field.label == "Acompte" %}
	   <b>{{ original.acompte_total }}</b>
	   <small> ({{ original.acompte_stagiaires }} + {{ original.acompte }})</small>
	   {% elif field.label == "Total" %}
	   <b>{{ original.prix_stagiaires }}</b>
	   {% endif %}
	 </td>
	 {% endfor %}
       </tr>
     </tfoot>
   </table>
   <h2></h2>
</fieldset>
  </div>
</div>
