<p>{% if obj.sexe == 'H' %}Cher{% else %}Chère{% endif %} {{ obj.nom }} {{ obj.prenom }},</p>

<p>Nous avons le plaisir de vous confirmer que votre inscription au camp
de Basket TBA pour les semaines</p>

<ul>
{% for s in obj.semaines.iterator %}
  <li>{{ s }}</li>
{% endfor %}
</ul>

<p>a été acceptée. Vous pouvez télécharger votre dossier de
  confirmation en cliquant sur le bouton ci-dessous.</p>

<p style="text-align:centered">
  <a href="{{ obj.get_full_url }}fiche" style="text-decoration:none;color:white;font-weight:bold">
    <div style="border-radius:5px;background-color:#c60;display:inline-block;padding:1ex">
      Télécharger confirmation
    </div>
  </a>
</p>

<p>Vous pouvez également copier-coller le lien ci-dessous.</p>
<p><a href="{{ obj.get_full_url }}fiche">{{ obj.get_full_url }}fiche</a></p>

<p>Sportivement,</p>
<h3>Team Basket Association</h3>
