<p>{% if obj.sexe == 'H' %}Cher{% else %}Chère{% endif %} {{ obj.prenom }} {{ obj.nom }},</p>

<p>Tu t’es inscrit au camp de SUPERDEVOLUY pour les semaines</p>

<ul>
{% for s in obj.semaines.iterator %}
  <li>{{ s }}</li>
{% endfor %}
</ul>

<p>aux conditions de la formule <b>{{ obj.formule }}</b>.</p>

{% include "includes/manquantes.html" with object=obj %}

<p>Ton dossier d’inscription est disponible sur ce lien en cliquant
sur le bouton ci-dessous. Tu y trouveras également toutes les
informations pratiques sur le camp.</p>

<p style="text-align:centered">
  <a href="{{ obj.get_full_url }}" style="text-decoration:none;color:white;font-weight:bold">
    <div style="border-radius:5px;background-color:#c60;display:inline-block;padding:1ex">
      Accès inscription
    </div>
  </a>
</p>

{% if not obj.formule.adulte %}
<p>À ton arrivée TBA te donne un maillot réversible, un short et une
  gourde.</p>
{% endif %}

<table>
  <tr><td>Total du camp</td><td style="text-align:right;padding-left:1ex">{{ obj.prix }}€</td></tr>
  <tr><td>Acompte donné</td><td style="text-align:right;padding-left:1ex">{{ obj.acompte }}€</td></tr>
  <tr><td>Solde dû</td><td style="text-align:right;padding-left:1ex"><b>{{ obj.reste }}€</b></td></tr>
</table>

<p>Tu peux également copier-coller le lien ci-dessous.</p>
<p><a href="{{ obj.get_full_url }}">{{ obj.get_full_url }}</a></p>

{% include "includes/parrainage.html" %}

<p>Sportivement,</p>
<h3>Team Basket Association</h3>
