<p>{% if obj.sexe == 'M' %}Cher{% else %}Chère{% endif %} {{ obj.nom }} {{ obj.prenom }},</p>

<p>Merci de votre demande d'inscription. Pour suivre l'état de votre
  demande, veuillez cliquer sur le bouton ci-dessous.</p>

<p style="text-align:centered">
  <a href="{{ obj.get_full_url }}" style="text-decoration:none;color:white;font-weight:bold">
    <div style="border-radius:5px;background-color:#c60;display:inline-block;padding:1ex">
      Suivre ma demande
    </div>
  </a>
</p>

<p>Vous pouvez également copier-coller le lien ci-dessous.</p>
<p><a href="{{ obj.get_full_url }}">{{ obj.get_full_url }}</a></p>

<h3>Merci de compléter les pièces jointes et de les téléverser à
  l'aide de votre <a href="{{ obj.get_full_url }}">page de
  suivi</a>.</h3>

{% include "includes/pieces.html" with object=obj %}

{% include "includes/reglement.html" with object=obj %}

<p>Sportivement,</p>
<h3>Team Basket Association</h3>
