<p>{% if obj.titre == 'M' %}Cher{% elif obj.titre == 'F' %}Chère{% else %}Cher(e){% endif %}
  {{ obj.prenom }} {{ obj.nom }},</p>

<p>
  {% if obj.etat == etats.PREINSCRIPTION %}
  Merci de votre demande d'inscription.
  {% elif obj.etat == etats.VALID %}
  Votre demande d'inscription est acceptée.
  {% elif obj.etat == etats.COMPLETE %}
  Votre demande d'inscription est complète.
  {% elif obj.etat == etats.CANCELED %}
  Votre demande d'inscription a été annulée.
  {% endif %}

  Votre dossier d'inscription TBA {{ settings.ANNEE }} est accessible
  en ligne en cliquant sur le bouton ci-dessous.
</p>

<p style="text-align:centered">
  <a href="{{ obj.get_full_url }}" style="text-decoration:none;color:white;font-weight:bold">
    <div style="border-radius:5px;background-color:#c60;display:inline-block;padding:1ex">
      Accéder à mon dossier
    </div>
  </a>
</p>

<p>Vous pouvez également copier-coller le lien ci-dessous.</p>
<p><a href="{{ obj.get_full_url }}">{{ obj.get_full_url }}</a></p>

{% if not obj.is_empty %}
<p>Il contient les inscriptions suivantes :</p>

<ul>
{% for s in obj.stagiaire_set.iterator %}
  <li>{{ s.prenom }} {{ s.nom }} ({{ s.formule }} – {{ s.semaines_str }}){% if forloop.last %}.{% else %},{% endif %}</li>
{% endfor %}
</ul>

{% if obj.hebergement %}
<p>Et la réservation en <strong>{{ obj.hebergement }}</strong> pour les semaines suivantes :</p>
<ul>
  {% for s in obj.semaines.all %}
  <li>{{ s }}{% if forloop.last %}.{% else %},{% endif %}</li>
  {% endfor %}
</ul>
<p>Votre location commence <u>le samedi</u>, le stage de basket commence le <u>dimanche</u>.</p>
{% endif %}

{% endif %}

{% include "includes/messages.html" with object=obj host=settings.HOST %}

{% if not obj.is_empty and settings.SWAG_ON %}
<div class="dossier-block">
  <h3>Maillots TBA/NBA</h3>
  {% include "includes/backpacks.html" with host=settings.HOST %}

  <p>Pour commander vos maillots,
    <a href="{{ obj.get_full_url }}#backpacks">rendez-vous sur le site de TBA</a>.</p>
</div>
{% endif %}

<p>Sportivement,</p>
<h3>Team Basket Association</h3>

<p>&nbsp;</p>

<hr>
<p style="font-size:80%;text-align:center">Veuillez garder cet
  email. Il va vous permettre d'accéder à votre dossier depuis tous
  vos appareils.</p>
