<figure>
  <a><img src="{{ host }}/tba/sas.png" alt="San Antonio Spurs noir" height="200"></a>
  <a><img src="{{ host }}/tba/images/sac-a-dos.jpg" alt="Sac à dos" height="200"></a>
  <a><img src="{{ host }}/tba/lal.png" alt="Los Angeles Lakers violet" height="200"></a>
</figure>
<p>TBA sera encore aux couleurs des équipes NBA en
  {{settings.ANNEE}}&hellip; avec la possibilité d’acheter un maillot
  TBA/NBA à ton NOM et avec le numéro de ton choix.</p>

<p>On a maintenant 10 maillots avec 6 équipes représentées pour nos
  maillots TBA/NBA. Consultez
  <a target="_blank" href="{{ host }}{{ settings.PIECES.catalogue_maillots }}">le catalogue</a>.</p>

<p>Le marquage du prénom (ou du texte de ton choix) se fait uniquement
  au dos du maillot.  Le numéro sera quant à lui inscrit sur l’avant
  et l’arrière du maillot ainsi que sur le short.</p>

<p>En plus, revient en {{settings.ANNEE}} la possibilité de commander
  un sac à dos TBA personnalisé avec ton prénom (ou le texte de ton
  choix) et ton numéro.</p>

<p>Les tarifs sont les suivants (à noter que ce sont les mêmes tarifs
  qu’en {{ settings.ANNEE | add:"-1" }}) :</p>
  
<ul style="display: grid; grid-template-columns: 2fr 2fr;">
  <li>Maillot: 35 €</li>
  <li>Short: 30 €</li>
  <li>Ensemble maillot + Short: 59 €</li>
  <li>Casquette: 10 €</li>
</ul>

<p>La commande est possible jusqu’au {{ config.Commandes_swag | date:"j F"}},
  alors si tu es intéressé(e) , ne tarde pas à passer
  commande avant qu’il ne soit trop tard&hellip;</p>

<p>Le règlement se fait avec le solde de ton camp (possible jusqu’au
  jour d’arrivée).</p>
