{% load static %}

<figure>
  <img src="{{ host }}/tba/backpack.jpg" alt="" height="300">
  <img src="{{ host }}/tba/backpack2.jpg" alt="" height="300">
</figure>

<p>Gros succès en 2019 et 2020. On renouvelle l'opération. Si vous êtes
  intéressé, vous avez la possibilité d’acheter un sac à dos avec
  votre prénom (ou diminutif) et un numéro qui vous sera remis à votre arrivée au camp. Le prix
  de ce sac avec votre prénom (on peut y rajouter un numéro) sera de
  29 €. Il faudra le commander avant le 3 mai.</p>
