<figure>
  <a href="{{ host }}/tba/backpack.jpg" target="_blank"><img src="{{ host }}/tba/backpack.jpg" alt="photo sac à dos" height="250"></a>
  <a href="{{ host }}/tba/backpack2.jpg" target="_blank"><img src="{{ host }}/tba/backpack2.jpg" alt="photo sac à dos" height="250"></a>
  <a href="{{ host }}/tba/towel.jpg" target="_blank"><img src="{{ host }}/tba/towel.jpg" alt="photo serviette" height="150"></a>
</figure>

<p>Gros succès en 2019 et 2020, on renouvelle l'opération sac à dos
  avec prénom (ou diminutif) et numéro. Deux lignes de texte sont
  possibles. En plus, cette année il y a possibilité de commander la
  serviette de bain (dimension 140 × 60) avec les mêmes
  inscriptions.</p>

<p>Si vous êtes intéressés, vous avez donc la possibilité de commander
  soit le sac à dos avec votre prénom (ou diminutif) et un numéro,
  soit la serviette de bain avec votre prénom (ou diminutif) et un
  numéro.</p>

<p>Ces articles vous seront remis à votre arrivée au camp mais il
  faudra commander à l'inscription ou en tout cas avant le
  {{ config.Commandes_swag | date:"j F"}}.</p>

<p>Le prix du sac nominatif ou de la serviette nominative est de
  29 €.</p>
