{% if not object.complete %}

<p><strong>Attention&nbsp;!</strong> Il manque les pièces suivantes à
  ton dossier, il faut nous les envoyer par courrier ou par mail. On
  doit impérativement les avoir le jour de ton arrivée.</p>

<ul>
  {% if not object.fiche_inscr_snail %}
  <li><a href="{{ host }}{% url 'inscription_pdf_view' object.slug %}">Le
      bulletin d’inscription TBA {{ settings.ANNEE }}.</a></li>
  {% endif %}

  {% if not object.formule.adulte %}
  {% if not object.certificat_snail %}
  <li>N° de licence FFBB ou photocopie ou certificat médical d’aptitude.</li>
  {% endif %}

  {% if not object.fiche_sanit_snail %}
  <li>Fiche sanitaire de liaison (télécharger
    <a href="{{ host }}{{ settings.PIECES.sanitaire_doc }}" target="_blank">ici en word</a>
    et <a href="{{ host }}{{ settings.PIECES.sanitaire_pdf }}" target="_blank">ici en pdf</a>).</li>
  {% endif %}
  {% endif %}

  {% if object.hebergement and object.hebergement.managed == 'M' and not object.fiche_hotel_snail %}
  <li>La fiche de réservation en {{ object.hebergement }}.</li>
  {% endif %}
</ul>

{% elif object.etat == 'C' %}

<h3>Nous avons reçu toutes les pièces de ton dossier ainsi que la
  totalité de ton règlement. Nous t'attendons à SUPERDEVOLUY !</h3>

{% endif %}
