{% if object.etat == etats.PREINSCRIPTION %}

<div class="dossier-block">
  <h3>Merci de votre demande d'inscription</h3>

  {% if object.misses %}
  <p>Pour valider votre inscription vous devez:
    {% if object.avance %}envoyer un acompte,{% endif %}
    imprimer, remplir et
    <a href="{{ host }}{% url 'dossier_view' %}#stagiaires">téléverser</a>
    l’autorisation parentale et la fiche sanitaire, remplir votre numéro de
    licence.</p>
  {% endif %}

  {% if object.avance and object.acompte_total < object.avance_total %}
  <p><strong>Merci d’envoyer, avant 8 jours, votre règlement à l’ordre
      de TBA par courrier à l’adresse</strong></p>

  <blockquote class="address">{{ settings.ADRESSE }}</blockquote>

  <p>
    {% if object.avance_total > 50 %}
    Il peut être réglé avec plusieurs chèques que nous encaissons à un
    mois d’intervalle.
    {% endif %}
    
    Veuillez noter au verso du ou des chèques le nom du stagiaire,
    le(s) numéro(s) de
    semaine(s), et la date d’encaissement désirée.</p>

  <p><strong>Vous pouvez faire un virement,</strong> demandez par
    <a href="mailto:{{settings.FROM_EMAIL}}">mail</a> notre RIB.</p>
  
  {% if object.avance_total > 50 %}
  <p>TBA accepte les Chèques Vacances et coupons sports ANCV, les bons
    AVE du dispositif VACAF.  Concernant les bons vacances, TBA étant
    un CAMP SPORTIF, certaines CAF ne prennent pas en charge ce type
    de séjour. Nous vous invitons à vérifier auprès de votre CAF que
    votre dossier d’aide soit bien pris en charge et compatible avec
    notre structure. Nous vous demandons une provision du montant
    total du séjour en attente de la formalisation de votre
    dossier.</p>
  {% endif %}

  {% if object.misses %}
  <p>Merci de joindre, si vous ne les avez pas téléversées par
    internet : les autorisations parentales, les fiches sanitaires,
    et votre numéro de licence FFBB. Si vous n’êtes pas licencié(e)
    FFBB, ils nous faut un certificat de non contre-indication à la
    pratique du basket-ball.</p>
  {% endif %}
  
  {% endif %}

  {% if object.hebergement and object.hebergement.managed == modes_h.EXTERNAL %}
  <hr>
  <p>N’oubliez pas de réserver votre hebergement en
      <strong>{{ object.hebergement }}</strong>&nbsp;!</p>
    {{ object.hebergement.md_commentaire }}
  {% endif %}

</div>

<div class="dossier-block">
  <h3>Informations pratiques</h3>

  <p>Trouvez <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">ICI</a>
    tous les
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">renseignements
    pratiques</a> dont vous pouvez avoir besoin après avoir fait votre
    pré-inscription, <strong>qui ne sera validée qu’après la réception
    d’un acompte</strong>.
  </p>
</div>

{% elif object.etat == etats.VALID or object.etat == etats.COMPLETE %}

<div class="dossier-block">
  <h3>Votre demande d'inscription est
    {% if object.etat == etats.VALID %}acceptée{% else %}complète{% endif %}&nbsp;!</h3>

  {% if not object.etat == etats.COMPLETE and object.misses %}
  <p><strong>Attention&nbsp;!</strong> Il manque les pièces suivantes
    à votre dossier, il faut les
    <a href="{{ host }}{% url 'dossier_view' %}#stagiaires">téléverser</a>
    ou nous les envoyer par courrier.</p>

  <ul>
    {% for s in object.stagiaire_set.all %}
    <li><strong>{{ s.prenom }} {{ s.nom }}:</strong>
      {{ s.missing }}.</li>
    {% endfor %}
  </ul>

  <p>On doit impérativement les avoir le jour de votre
    arrivée. <em>Adresse postale pour l’envoi des pièces&nbsp;:</em></p>

  <blockquote class="adress">{{ settings.ADRESSE }}</blockquote><hr>
  {% endif %}

  <p><strong>Nous vous attendons aux camps SUPERDEVOLUY&nbsp;!</strong></p>

  <p>Trouvez tous les
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">renseignements pratiques</a>
    sur le camp de SUPERDEVOLUY
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">ICI</a>.
    {% if not object.formule.adulte %}
    À votre arrivée au camp nous vous offrons <strong>TROIS CADEAUX&nbsp;:</strong>
    {% endif %}
  </p>

  {% if not object.formule.adulte %}
  <ul class="cadeaux">
    <li>Un maillot réversible,</li>
    <li>Un short,</li>
    <li>Une gourde.</li>
  </ul>
  {% endif %}

  <p>À la fin du stage nous vous offrons la photo souvenir de votre
    camp.</p>

  <p>Bon camp {{ settings.ANNEE }},</p>

  <p class="signature">Jean-Michel SENEGAL</p>

</div>
<div class="dossier-block">
  {% include "includes/parrainage.html" %}
</div>

{% elif object.etat == etats.CANCELED %}

<div class="dossier-block">
  <h3>Votre dossier a été annulé</h3>

  <p>Veuillez nous contacter à l'adresse
    <a href="mailto:{{ settings.FROM_EMAIL }}">{{ settings.FROM_EMAIL }}</a>
    pour tout renseignement.</p>
</div>

{% endif %}

{% for m in object.messages %}
<div class="dossier-block">
  <h3>{{ m.titre }}</h3>
  {{ m.message | safe }}
</div>
{% endfor %}
