{% if object.etat == etats.PREINSCRIPTION %}

<div class="dossier-block">
  <h3>Merci de votre demande d'inscription</h3>

  {% if object.misses %}
  <p>Pour valider votre inscription vous devez:
    {% if object.avance_total %}envoyer un acompte,{% endif %}
    imprimer, remplir et
    <a href="{{ host }}{% url 'dossier_view' %}#stagiaires">téléverser</a>
    l’autorisation parentale et la fiche sanitaire, remplir votre numéro de
    licence.</p>
  {% endif %}

  {% if object.avance_total and object.acompte_total < object.avance_total %}
  <p><strong>Merci d’envoyer, avant 8 jours, votre règlement à l’ordre
      de TBA par courrier à l’adresse suivante, ou faire un
      virement.</strong></p>

  <blockquote class="address">{{ settings.ADRESSE }}</blockquote>

  <p>
    {% if object.avance_total > 50 %}
    Il peut être réglé avec plusieurs chèques que nous encaissons à un
    mois d’intervalle.
    {% endif %}
    
    Veuillez noter au verso du ou des chèques le nom du stagiaire,
    le(s) numéro(s) de
    semaine(s), et la date d’encaissement désirée.</p>

  <p><strong>Vous pouvez faire un virement, c'est rapide et plus
      sûr!</strong> Trouvez ici notre
    <a href="{{ host }}{% url 'protected' settings.PROTECTED.RIB %}"><strong>RIB</strong></a>.

    Vous pouvez prévoir plusieurs virements à 1 mois d’intervalle.
      Vous pourrez régler votre solde de la même façon.</p>
  
  {% if object.avance_total > 50 %}
   <p>TBA accepte les Chèques Vacances, coupons sports ANCV, et vous
     envoie toute facture pour les Comités d’Entreprise. TBA n’accepte
     plus les bons CAF et le dispositif VACAF, notre structure
     administrative ayant changé, nos camps sont maintenant des stages
     de préparation avec compétition officielle FFBB.</p>
  {% endif %}

  {% if object.misses %}
  <p>Merci de joindre, si vous ne les avez pas téléversées par
    internet : les autorisations parentales, les fiches sanitaires,
    et votre numéro de licence FFBB. Si vous n’êtes pas licencié(e)
    FFBB, ils nous faut un certificat de non contre-indication à la
    pratique du basket-ball.</p>
  {% endif %}
  
  {% endif %}

  {% if object.hebergement and object.hebergement.managed == modes_h.EXTERNAL %}
  <hr>
  <p>N’oubliez pas de réserver votre hebergement en
      <strong>{{ object.hebergement }}</strong>&nbsp;!</p>
    {{ object.hebergement.md_commentaire }}
  {% endif %}

</div>

<div class="dossier-block">
  <h3>Informations pratiques</h3>

  <p><strong>TOUTES les informations dont vous pouvez avoir besoin
      sont dans ce lien :</strong>
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">Trouvez ICI
      tous les renseignements pratiques</a>.
  </p>
  <p>Votre inscription ne sera validée qu’après la réception de votre
    acompte par courrier ou virement bancaire.
  </p>
</div>

{% elif object.etat == etats.VALID or object.etat == etats.COMPLETE %}

<div class="dossier-block">
  <h3>Votre demande d'inscription est
    {% if object.etat == etats.VALID %}acceptée{% else %}complète{% endif %}&nbsp;!</h3>

  {% if not object.etat == etats.COMPLETE and object.misses %}
  <p><strong>Attention&nbsp;!</strong> Il manque les pièces suivantes
    à votre dossier, il faut EN PRIORITÉ les
    <a href="{{ host }}{% url 'dossier_view' %}#stagiaires">téléverser</a>
    ou nous les envoyer par courrier.</p>

  <ul>
    {% for s in object.stagiaire_set.all %}
    <li><strong>{{ s.prenom }} {{ s.nom }}:</strong>
      {{ s.missing }}.</li>
    {% endfor %}
  </ul>

  <p>On doit impérativement les avoir le jour de votre arrivée. <em>Si
    vous ne les avez pas téléversées dans votre dossier, vous pouvez
    les envoyer par courrier à&nbsp;:</em></p>

  <blockquote class="adress">{{ settings.ADRESSE }}</blockquote><hr>
  {% endif %}

  <p><strong>Nous vous attendons aux camps SUPERDEVOLUY&nbsp;!</strong></p>

  <p>Trouvez tous les
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">renseignements pratiques</a>
    sur le camp de SUPERDEVOLUY
    <a href="{{ host }}{% url 'static_pages' 'inscrit' %}">ICI</a>.
    {% if not object.formule.adulte %}
    À votre arrivée au camp nous vous offrons <strong>TROIS CADEAUX&nbsp;:</strong>
    {% endif %}
  </p>

  {% if not object.formule.adulte %}
  <ul class="cadeaux">
    <li>Un ensemble réversible: maillot + short,</li>
    <li>Une gourde.</li>
  </ul>
  {% endif %}

  <p>À la fin du stage nous vous offrons la photo souvenir de votre
    camp.</p>

  <p>Bon camp {{ settings.ANNEE }},</p>

  <p class="signature">Jean-Michel SENEGAL</p>

</div>
<div class="dossier-block">
  {% include "includes/parrainage.html" %}
</div>

{% elif object.etat == etats.CANCELED %}

<div class="dossier-block">
  <h3>Votre dossier a été annulé</h3>

  <p>Veuillez nous contacter à l'adresse
    <a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a>
    pour tout renseignement.</p>
</div>

{% endif %}

{% for m in object.messages %}
<div class="dossier-block">
  <h3>{{ m.titre }}</h3>
  {{ m.message | safe }}
</div>
{% endfor %}
