<h3>Parrainages</h3>

<p>Maintenant que tu es inscrit, tu peux parrainer de nouveaux
  stagiaires.</p>

<p>Notre meilleure publicité est faite par nos stagiaires. Parle de
  notre camp à tes amis.</p>

<p>Si ceux-ci ne sont jamais venus, ils peuvent être parrainés par toi
  au moment de leur inscription. Lors de leur inscription, ils doivent
  renseigner ton nom dans la rubrique <strong>Parrainage</strong>, à
  remplir en bas de la fiche d'inscription.</p>

<p>Si tu sais que des copains se sont inscrits grâce à toi, tu peux
  aussi nous <a href="{host}{% url 'static_pages' 'contacts' %}">envoyer un
  mail</a> en nous indiquant les noms pour être certain que ton
  parrainage soit bien enregistré.</p>

<p>Tes cadeaux pour te remercier :</p>

<ul>
  <li>1 parrainage = <strong>Le tee-shirt parrainage</strong></li>
  <li>2 parrainages = <strong>Le tee-shirt parrainage plus la paire de
      chaussettes TBA</strong></li>
  <li>3 parrainages = <strong>en plus du tee-shirt et de la paire de
      chaussettes TBA, le tee-shirt officiel TBA {{ settings.ANNEE }}</strong></li>
  <li>4 parrainages = <strong>en plus du tee-shirt, de la paire de
      chaussettes TBA, du tee-shirt officiel TBA {{ settings.ANNEE }},
      le sweat TBA</strong></li>
  <li>5 parrainages = <strong>en plus du tee-shirt, de la paire de
      chaussette TBA, du tee-shirt officiel TBA {{ settings.ANNEE }},
      le sweat TBA, 1 maillot ou 1 short NBA</strong></li>
</ul>
