<p><strong>Nous savons que notre meilleure publicité est faite par
    nos stagiaires</strong> et nous allons t’envoyer avec ta
  confirmation d’inscription 2 dépliants des camps. Tu peux ainsi
  participer, à notre opération parrainage</p>

<blockquote>FAIS DECOUVRIR NOS CAMPS À TES AMIS</blockquote>

<p>Tu n’as qu’à remplir la partie PARRAINAGE en écrivant ton nom,
  ton prénom, ton adresse au dos de ces bulletins, les donner à des
  copains ou copines ou les mettre dans ton club et si ces bulletins
  nous reviennent, <strong>pour te remercier de ton aide</strong>, tu
  pourras recevoir des <strong>cadeaux supplémentaires</strong> qui
  te seront remis lors de ton séjour à SUPERDEVOLUY.</p>

<p><strong>Valeur des cadeaux :</strong></p>

<ul class="cadeaux">
  <li>1 tee-shirt pour le premier parrainage, puis</li>
  <li>12€, <span style="font-size:110%">25€</span>, <span style="font-size:120%">40€</span>,
    <span style="font-size:130%">65€</span> et
    même <span style="font-size:150%">100€</span> de réduction à la
    boutique.</li>
</ul>

<p>Tu veux recevoir d’autres dépliants : SMS sur mon portable (06 76
  29 47 23) ou mail à {{ settings.FROM_EMAIL | urlize }}.
</p>
