<h3>PARRAINAGES</h3>

<p>Maintenant que tu es inscrit, tu peux parrainer de nouveaux
  stagiaires.</p>

<p>Notre meilleure publicité est faite par nos stagiaires. Parle de
  notre camp à tes amis.</p>

<p>Si ceux-ci ne sont jamais venus, ils peuvent être parrainés par toi
  au moment de leur inscription. Lors de leur inscription, ils doivent
  renseigner ton nom dans la rubrique <strong>Parrainage</strong>, à
  remplir en bas de la fiche d'inscription.</p>

<p>Si tu sais que des copains se sont inscrits grâce à toi, tu peux
  aussi nous <a href="{% url 'static_pages' 'contacts' %}">envoyer un
  mail</a> en nous indiquant les noms pour être certain que ton
  parrainage soit bien enregistré.</p>

<p>Tes cadeaux pour te remercier :</p>

<table style="width:100%;text-align:center">
  <tr>
    <td>1 parrainage = 1 tee-shirt TBA</td>
    <td>2 parrainages = 1 tee-shirt TBA + 1 short TBA</td>
  </tr>
</table>

<p>Ensuite <strong>remise financière</strong> supplémentaire de 20€
  par parrainage supplémentaire, remise faite lors de tout achat à la
  boutique TBA qui se trouve dans le camp. (La remise est limitée à
  80€, soit pour 6 parrainages maximum)</p>
  
<table style="width:100%;text-align:center">
  <tr>
    <td>3 parrainages = 20€</td>
    <td>4 parrainages = 40€</td>
  </tr><tr>
    <td>5 parrainages = 60€</td>
    <td>6 parrainages = 80€</td>
  </tr>
</table>
