<form action="" method="post" class="pure-form pure-form-aligned"
      enctype="multipart/form-data">
  {% csrf_token %}

  <div id="uploads" class="fieldgroup">
    {% if not object.complete %}
    <h3>Joindre les pièces au règlement, ou les scanner et les
      télécharger à l'aide de ce formulaire (maximum {{ settings.MAX_FILE_SIZE }}Mo)</h3>
    {% else %}
    <h4>Modifier les pièces du dossier (maximum {{ settings.MAX_FILE_SIZE }}Mo)</h4>
    {% endif %}

    <div class="pure-control-group">
      <label for="{{ form.fiche_inscr.name }}">{{ form.fiche_inscr.label }}</label>
      {{ form.fiche_inscr }}
    </div>

    {% if not object.formule.adulte %}
    <div class="pure-control-group">
      <label for="{{ form.fiche_sanit.name }}">{{ form.fiche_sanit.label }}</label>
      {{ form.fiche_sanit }}
    </div>

    {% if not object.licence %}
    <div class="pure-control-group">
      <label for="{{ form.certificat.name }}">{{ form.certificat.label }}</label>
      {{ form.certificat }}
    </div>
    {% endif %}
    {% endif %}

    {% if object.hebergement and object.hebergement.managed == 'M' %}
    <div class="pure-control-group">
      <label for="{{ form.fiche_hotel.name }}">{{ form.fiche_hotel.label }}</label>
      {{ form.fiche_hotel }}
    </div>
    {% endif %}

    <button type="submit" class="pure-button pure-button-primary">Mettre à jour</button>
  </div>
</form>
