/* Pure forms */

a.pure-button:hover, a.pure-button:active, a.pure-button:focus {
    text-decoration: none;
    color: #fff;
}
a.pure-button {
    color: inherit;
}
/* These are brittle: break when Django changes form HTML */
.pure-form-aligned .pure-control-group > div {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
}
.pure-form-aligned .pure-control-group > div > div > label { 
    width: auto;
    text-align: left;
}
.pure-form-aligned .pure-control-group > div > div label
{ border-radius: 4px }
.pure-form-aligned .pure-control-group > div > div label:hover
{ background-color: rgba(255,255,255,0.5) }

.pure-form.pure-form-aligned .fileinput label {
    width: 7em;
}
.fileinput .pure-button {
    width: 100%;
}

/* Form errors/messages */

.error {
    background-color: #fcc;
    color: #666;
    font-weight: bold;
}
.fieldgroup {
    border-radius: 5px;
    border: solid thin #ddd;
    padding: 1ex;
    margin: 1ex 0;
}
.messages { margin: 20px }
.messages li {
    padding: 1ex;
    list-style-type: none;
    background-color: #dadaff;
    border: solid thin #666;
    border-radius: 4px;
}
.messages li.error {
    background-color: #fcc;
    color: #666;
    font-weight: bold;
}

/* Dossier */

#user {
    text-align: right;
}
 
.dossier-block {
    border: solid thin #cc6600;
    margin: 1ex 0;
}
.dossier-block h3 {
    color: #fff;
    background-color: #cc6600;
    padding: 0.4ex;
    margin-top: 0;
    margin-bottom: 1ex;
}
.dossier-block h3 a {
    float: right;
    margin-right: 1ex;
    font-size: smaller;
}
.dossier-block p {
    margin: 0.5ex 1ex;
}
#content .dossier-block ul.nice {
    padding: 0;
}

.dossier-block table {
    margin: 1ex;
}
.dossier-block td {
    padding: 0.1ex 1em;
}

.dossier-block img {
    max-width: 100%;
}

/****************/

li.stagiaire {
    list-style-type: none;
    padding: 0.5ex;
}
li.stagiaire:not(:last-child) {
    border-bottom: solid thin #aaa;
}
li.stagiaire .links {
    float: right;
    text-align: right;
    margin: 0 0.5ex;
}
li.stagiaire .links a {
    display: block;
    margin-bottom: 1ex;
}
li.stagiaire .nom {
    font-weight: bold
}
li.stagiaire .t3X3 {
    padding: 0 1em;
}

/************* Forms **************/
/* Also brittle */
#id_sexe div, #id_licencie div, #id_venu div, #id_has_regime div,
#id_navette_a div, #id_navette_r div, #id_caf div { display: inline; }

#id_formule { font-weight: bold }
#id_formule .prix { float: right }
#id_formule .description { 
    display: block;
    font-weight: normal;
    padding-left: 4ex;
}

#id_formule label, #id_hebergement label { width: 100% }
#id_formule > div > label:hover { background-color: inherit }
#id_formule > div { padding: 1ex 0 2ex 2ex }
#id_formule .group {
    font-size: 110%;
    font-weight: normal;
    background-color: #cc6600;
    color: white;
    padding: 5px;
}

#id_hebergement {
    font-weight: bold;
}
#id_hebergement p { 
    font-weight: normal;
    margin: 0.1ex 0 0.5ex 2ex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
    -webkit-transition: max-height 2s;
    -o-transition: max-height 2s;
}
#id_hebergement input:checked ~ p,
#id_hebergement div:hover label:not(.complet) p {
    max-height: 100ex;
}

#id_hebergement .complet,
#id_formule .complet {
    color: #aaa;
    text-decoration: line-through;
}

.note { font-size: 80%; margin: 0.4ex }
.note:first-letter { font-size: 120% }

/**********************/

#total .price {
    width: 0;
    text-align: right;
    margin-right: 10%;
    padding-left: 1em;
}
#total .total {
    text-align: right;
}
#total .total + .price {
    font-weight: bold;
}
#total .subcost {
    padding-left: 4em;
}
#total tr:first-child td,
#total tr:first-child td {
    padding-top: 1em;
}

/************* Backpacks **************/
#backpacks figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 1ex;
}

#backpacks .bp-table {
    display: table;
    margin: 1em;
    padding: 1ex 0;
    border-bottom: solid thin #cc6600;
}
#backpacks .col { display: table-column; }
#backpacks .last-col { width: 100%; }
#backpacks .bp-count { text-align: right; }
#backpacks .bp-row {
    display: table-row;
}
#backpacks .bp-row > span {
    display: table-cell;
}
#backpacks .header {
    font-weight: bold;
}

#backpacks form.inactive select { width: 6.5em; }
#backpacks form.inactive input[type="text"],
#backpacks form.inactive select {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    pointer-events: none;
    appearance: none;
}
#backpacks form.inactive:not(.has_original) input[type="text"],
#backpacks form.inactive:not(.has_original) select {
    color: transparent;
}
#backpacks form button { padding: .5em .5em; }
#backpacks form.inactive button:not(.toggle) { display: none; }
#backpacks form.inactive button.toggle :nth-child(2) { display: none; }
#backpacks form.active button.toggle :nth-child(1) { display: none; }

/************* Reversibles **************/
[for="id_reversible"] {
    cursor: pointer;
}
.reversible-table {
    display: none;
    position: absolute;
    background-color: #cc6600;
    color: white;
    box-shadow: 0 0 2px 2px #cc6600;
    padding: 1ex 4ex 1ex 1ex;
    font-size: 120%;
    transform: translateX(-50%);
}
.reversible-table td, .reversible-table th {
    text-align: center;
    padding: 0 1ex;
}
.reversible-table td {
    font-weight: normal;
}
.reversible-table::after {
    content: '×';
    font-size: 150%;
    position: absolute;
    top: 0;
    right: .5ex;
    cursor: pointer;
}

.reversible-table.active {
    display: block;
}

.taille-mismatch::after {
    content: ' une taille plus juste est disponible!';
    color: gray;
    position: relative
}
