/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #ddd;
font-family: sans-serif;
color: #333;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #888;
background: #F0EDD8;
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

nav {
width: 940px;
height: 50px;
margin: 0 auto;
background: #cc6600;
}

#main {
width: 940px;
margin: 0 auto;
padding-top: 10px;
background: #F0EDD8;
overflow: hidden;
}

#content {
float: right;
width: 640px; 
margin: 0 0 10px 0; 
padding: 10px 30px 5px 0;
}

#sidebar {
float: left;
padding: 10px 0 0 20px;
width: 220px;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */

@font-face {
	font-family: 'DayPosterBlackRegular';
	src: url('DAYPBL__-webfont.eot');
	src: local('DayPosterBlackRegular'), url('DAYPBL__-webfont.woff') format('woff'), url('DAYPBL__-webfont.ttf') format('truetype'), url('DAYPBL__-webfont.svg#webfontaapMg6dc') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
    color:#004C9A;
    text-decoration: none;
}

a:hover, a:active {
    color: #333;
    text-decoration: underline;
}

p, ul {
margin-bottom: 1em;
}

hr {
height: 2px;
color: #eee;
background-color: #eee;
margin: 10px 0
}

li {
padding-left: 5px;
}

/* nav */

nav {
margin: 0 auto;
display: block;
float: left;
margin-top: -4px;
}

nav .menu {
font-size: 16px;
font-weight: bold;
margin-left: 12px;
}

nav .menu ul {
list-style: none;
margin: 0;
}

nav .menu li {
float: left;
position: relative;
}

nav .menu a {
display: block;
text-decoration: none;
padding: 0 25px;
line-height: 50px;
}

nav .menu a:hover {
color: #000;
}

/* nav 1-level dropdowns */
nav .menu li ul { 
display: none; 
z-index: 8888;
}

nav .menu ul li a {
display: block;
text-decoration: none;
color: #FFF;
background: #cc6600;
margin-left: 1px;
white-space: nowrap;
}
nav .menu ul li a:hover { 
background: #cc6600; 
}

nav .menu li:hover ul {
display: block;
position: absolute;
}

nav .menu li:hover li {
float: none;
}

nav .menu li:hover a { 
background: #5E355C; 
}

nav .menu li:hover li a:hover { 
background: #5E355C; 
}

/** HEADER */

header {
padding: 20px 0 0 0;
}

header>h1 {
float: left;
margin: 0 0 18px 10px;
width: 600px;
font-size: 40px;
line-height: 36px;
}

header>h1 a:link, header>h1 a:visited {
color: #cc6600;
font-family: 'DayPosterBlackRegular', sans-serif;
font-weight: bold;
text-decoration: none;
}

header>h2 {
color: #777;
clear: right;
float: right;
font-style: italic;
font-size: 14px;
margin: 14px 10px 18px 0;
}

/** ARTICLES **/

article {
float: left;
padding: 20px 10px 10px 10px;
width: 620px;
}

.featured {
width: 620px;
float: left;
margin-bottom: 10px;
}

article .featuredthumb {
float: left;
width: 200px;
height: 200px;
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

article .featuredtitle {
float: right;
width: 400px;
font-size: 20px;
font-weight: bold;
line-height: 1.3em;
}

article .featuredstory {
float: right;
width: 400px;
}

article .thumb {
float: right;
width: 80px;
height: 80px;
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

article .title {
float: left;
width: 500px;
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
}

article .story {
float: left;
width: 500px;
font-size: 12px;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}


/* sidebar and footer widget blocks */

aside  h3 {
font-size: 18px;
text-shadow: 0px 2px 3px #ddd;
}

aside  ul {
list-style: circle;
color: #CC6600;
margin: -15px 0 15px 25px;
}

#footer-area {
background: #cc6600;
color: #FFF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
/* curved border radius */
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 270px;
}

footer aside h4 {
color: #faf0e6;
font-size: 16px;
line-height: 1.5em;
}

footer ul {
list-style: none;
margin: -15px 0;
}

footer a:link, footer a:visited {
color: #ccc;
}

footer a:hover { 
text-decoration: underline; 
}

footer p {
margin-top: -15px;
color: #faf0e6;
}

/**** More style by Luca ****/

#content ul {
    padding: 0 2em;
}

.pure-form-aligned  ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    max-width: 400px;
}
.pure-form-aligned .pure-control-group li label { 
    width: auto;
    text-align: left;
}
.pure-control-group li { border-radius: 4px }
.pure-control-group li:hover { background-color: rgba(255,255,255,0.5) }
.error {
    background-color: #fcc;
    color: #666;
    font-weight: bold;
}
.fieldgroup {
    border-radius: 5px;
    border: solid thin #ddd;
    padding: 1ex;
    margin: 1ex 0;
}
.messages { margin: 20px }
.messages li {
    padding: 1ex;
    list-style-type: none;
    background-color: #dadaff;
    border: solid thin #666;
    border-radius: 4px;
}
.messages li.error {
    background-color: #fcc;
    color: #666;
    font-weight: bold;
}

#content h1 {
    color: #c60;
    text-align: center;
    font-size: 2em;
}

#user {
    text-align: right;
}

h1 small, h2 small, h3 small {
    font-weight: normal;
}

/****************/

.dossier-block {
    border: solid thin #cc6600;
    border-radius: 5px;
    margin: 1ex 0;
}
.dossier-block h3 {
    color: #fff;
    background-color: #cc6600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.4ex;
    margin-bottom: 1ex;
}
.dossier-block h3 a {
    float: right;
    margin-right: 1ex;
}
.dossier-block p {
    margin: 0.5ex 1ex;
}
#content .dossier-block ul {
    padding: 0;
}

/****************/

li.stagiaire {
    list-style-type: none;
    padding: 0.5ex;
}
li.stagiaire:not(:last-child) {
    border-bottom: solid thin #aaa;
}
li.stagiaire .links {
    float: right;
    text-align: right;
    margin: 0 0.5ex;
}
li.stagiaire .links a {
    display: block;
    margin-bottom: 1ex;
}
li.stagiaire .nom {
    font-weight: bold
}
