/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #ddd;
font-family: sans-serif;
color: #333;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #888;
background: #F0EDD8;
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

nav {
width: 940px;
height: 50px;
margin: 0 auto;
background: #cc6600;
}

#main {
width: 940px;
margin: 0 auto;
padding-top: 10px;
background: #F0EDD8;
overflow: hidden;
}

#content {
float: right;
width: 640px; 
margin: 0 0 10px 0; 
padding: 10px 30px 5px 0;
}

#sidebar {
float: left;
padding: 6em 0 0 20px;
width: 220px;
text-align: center;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */

@font-face {
	font-family: 'DayPosterBlackRegular';
	src: url('DAYPBL__-webfont.eot');
	src: local('DayPosterBlackRegular'), url('DAYPBL__-webfont.woff') format('woff'), url('DAYPBL__-webfont.ttf') format('truetype'), url('DAYPBL__-webfont.svg#webfontaapMg6dc') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
color:#004C9A;
}

a:hover, a:active {
color: #333;
}

p {
margin-bottom: 18px;
font-family: sans-serif;
}

hr {
height: 2px;
color: #eee;
background-color: #eee;
margin: 10px 0
}

li {
padding-left: 5px;
}

/* nav */

nav {
margin: 0 auto;
display: block;
float: left;
margin-top: 0px;
}

nav .menu {
font-size: 16px;
font-weight: bold;
margin-left: 12px;
}

nav .menu ul {
list-style: none;
margin: 0;
}

nav .menu li {
float: left;
position: relative;
}

nav .menu a {
display: block;
text-decoration: none;
padding: 0 25px;
line-height: 50px;
}

nav .menu a:hover {
color: #000;
}

/* nav 1-level dropdowns */
nav .menu li ul { 
display: none; 
z-index: 8888;
}

nav .menu ul li a {
display: block;
text-decoration: none;
color: #FFF;
background: #cc6600;
margin-left: 1px;
white-space: nowrap;
}
nav .menu ul li a:hover { 
background: #cc6600; 
}

nav .menu li:hover ul {
display: block;
position: absolute;
}

nav .menu li:hover li {
float: none;
}

nav .menu li:hover a { 
/*background: #5E355C; */
background: #ea7807; 
}

nav .menu li:hover li a:hover { 
/*background: #5E355C; */
background: #ea7807; 
}

/** HEADER */

header {
padding: 20px 0 0 0;
}

header>h1 {
float: left; ;
text-align: center;
margin: 0 0 18px 160px;
width: 600px;
font-size: 45px;
line-height: 36px;
}

header>h1 a:link, header>h1 a:visited {
color: #cc6600;
font-family: 'DayPosterBlackRegular', sans-serif;
font-weight: bold;
text-decoration: none;
}

header>h2 {
color: #777;
clear: right;
float: right;
font-style: italic;
font-size: 14px;
margin: 14px 10px 18px 0;
}

/** ARTICLES **/

article {
float: left;
padding: 20px 10px 10px 10px;
width: 620px;
}

.featured {
width: 620px;
float: left;
margin-bottom: 10px;
}

article .featuredthumb {
float: left;
width: 200px;
height: 200px;
}

article .featuredtitle {
float: right;
width: 400px;
font-size: 20px;
font-weight: bold;
line-height: 1.3em;
}

article .featuredstory {
float: right;
width: 400px;
}

article .thumb {
float: right;
width: 80px;
height: 80px;
}

article .title {
float: left;
width: 500px;
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
}

article .story {
float: left;
width: 500px;
font-size: 12px;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}


/* sidebar and footer widget blocks */

aside  h3 {
font-size: 18px;
text-shadow: 0px 2px 3px #ddd;
}

aside  ul {
list-style: circle;
color: #CC6600;
margin: -15px 0 15px 25px;
}

#footer-area {
background: #cc6600;
color: #FFF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 270px;
}

footer aside h4 {
color: #faf0e6;
font-size: 16px;
line-height: 1.5em;
}

footer ul {
list-style: none;
margin: -15px 0;
}

footer a:link, footer a:visited {
color: #ccc;
}

footer a:hover { 
text-decoration: underline; 
}

footer p {
margin-top: -15px;
color: #faf0e6;
}

#content ul {
    padding: 0 2em;
}

.centered {
    text-align: center;
}

h1 small, h2 small, h3 small {
    font-weight: normal;
}

blockquote {
    text-align: center;
    font-size: 120%;
    margin: 1ex;
}

.signature {
    text-align: right;
    margin: 2ex 5em 2ex 0;
    font-size: 110%;
    font-style: italic;
}

.rouge {
    color: #F00;
}
